@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>高考真卷页</title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" /> 
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" href="css/proforma.css">
    <link rel="stylesheet" type="text/css" href="css/College_entrance_examination.css">
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/Past_Exam.js"></script>
</head>
<body>
    @Html.Partial("~/Common/top2.ascx")

    <div class="jiaodain">
        <div class="jd1195">
            <img src="img/gaokaozhenjuan.png">
        </div>
    </div>

    <div class="xueduan">
        <div class="xd5">
            <div class="beijing" id="years_columns">
            </div>
        </div>

        <div class="xd5 fl" style="height:auto;">
            <div class="beijing fl" id="province" style="height:auto;">
            </div>
        </div>


    </div><!-- 学段 -->
    <div style="margin: 0px auto;" id="loading"></div>
    <div class="gkzhenjuandk" style="clear:both;" id="list">
    </div><!-- 高考真卷大块 -->

    <script>
        var shuzhi1 = $(".ysp1").html();
        var zs1 = Number(shuzhi1);

        var shuzhi2 = $(".ysp2").html();
        var zs2 = Number(shuzhi2);

        var shuzhi3 = $(".ysp3").html();
        var zs3 = Number(shuzhi3);

        var shuzhi4 = $(".ysp4").html();
        var zs4 = Number(shuzhi4);

        var shuzhi5 = $(".ysp5").html();
        var zs5 = Number(shuzhi5);

        $(".xyy1").click(function () {
            var jd1 = zs1 += 1;
            var jd2 = zs2 += 1;
            var jd3 = zs3 += 1;
            var jd4 = zs4 += 1;
            var jd5 = zs5 += 1;
            $(".ysp1").html(jd1);
            $(".ysp2").html(jd2);
            $(".ysp3").html(jd3);
            $(".ysp4").html(jd4);
            $(".ysp5").html(jd5);
        });

        $(".syy1").click(function () {
            var jd1 = zs1 - 1;
            var jd2 = zs2 - 1;
            var jd3 = zs3 - 1;
            var jd4 = zs4 - 1;
            var jd5 = zs5 - 1;
            $(".ysp1").html(jd1);
            $(".ysp2").html(jd2);
            $(".ysp3").html(jd3);
            $(".ysp4").html(jd4);
            $(".ysp5").html(jd5);


        });
        //页面分页加载

        function go() {
            var zansan = $("#lll").val()
            var goyemian = Number(zansan);
            $(".ysp1").html(goyemian);
            $(".ysp2").html(goyemian + 1);
            $(".ysp3").html(goyemian + 2);
            $(".ysp4").html(goyemian + 3);
            $(".ysp5").html(goyemian + 4);
        }
        //go改变页码
    </script>

    @Html.Partial("~/Common/bottom.ascx")
</body>
</html>
