@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>学校详细页</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" href="css/test_questions.css" />
    <link rel="stylesheet" href="css/list_of_principals.css" />
    <link rel="stylesheet" type="text/css" href="css/School_detail_page.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/SchoolDetail.js"></script>
    <style>
        .dkwidth {
            width: 150px;
        }

            .dkwidth:hover {
                font-size: 21px;
            }
    </style>
</head>
<body>
    @Html.Partial("~/Common/top3.ascx")
    <div class="lianxi">
        <div class="lianxice210 fl">
            <div class="lianxice33 ">
                <a href="" class="xzgd1">更多》</a>
                <img src="img/drw.png" class="xztubiao" alt="">
                <b class="daxiao">校长介绍</b>
            </div>
            <div class="jiaoyubu">
                <img id="president_head_img" alt="" style="width:210px;height:259px;" />
                <b class="xzmz" id="president_name"></b>
                <p class="xzzl" id="president_description" style="display:block;height:380px;overflow-y:auto;overflow-x:hidden;"></p>
            </div>
            <div class="lianxice33 rmxz333 hsttj gysll">
                <a href="" class="xzgd1">更多》</a>
                <img src="img/srenwu.png" class="xztubiao" alt="">
                <b>校长专栏</b>
            </div>
            <div class="jiaoyubu dkjiaoyubu">
                <ul class="jybul dkjybul" id="president_special_columns">
                    @*<li><a href="">●论文写作的几点建议...</a></li>
                        <li><a href="">●教育经验总结与论文的...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>
                        <li><a href="">●论教育与生活世界的关...</a></li>*@
                </ul>
            </div>

        </div>

        <div class="lianxice fl">
            <div class="xuexiaoimg">
                <div class="fl kuan">
                    <img id="imgurl" style="width:427px; height:400px;" />
                </div>
                <p id="school_name" class="xxm fl" style="margin-top:20px; position:static;">

                </p>
                <div id="school_star" class=" fl" style="width: 100px; height: 20px; margin-top: 30px; margin-left:20px; margin-bottom:20px; "></div>
                <p class="xzjieshao fl" id="content" style="display:block; width:500px; height:251px;overflow-y:auto;overflow-x:hidden;"> </p>
            </div>
            <div id="" class="bxst">
                <img src="img/shushufan.png" class="ssf" />
                <span id="" class="benxiaost">
                    <b>本校试题</b>
                </span>
                <b class="gdb"><a href="">更多》</a></b>
            </div>
            <div id="" class="benxiaost300">
                <ul id="school_tests">
                    @*<li class="jianju"><a href="" class="stcfh fl">1</a><a href="" class="fl wdwenben">江苏省南京市金陵中学河西分校2016届高三上学期期中模拟数学试题1 Word版含答案</a><a href="" class="fl rqbenxiao">2016/1/19</a></li>
                        <li class="jianju"><a href="" class="stcfh fl">1</a><a href="" class="fl wdwenben">江苏省南京市金陵中学河西分校2016届高三上学期期中模拟数学试题2 Word版无答案</a><a href="" class="fl rqbenxiao">2016/1/19</a></li>
                        <li class="jianju"><a href="" class="stcfh fl">1</a><a href="" class="fl wdwenben">江苏省南京市金陵中学河西分校2016届高三上学期期中模拟数学试题3 Word版无答案</a><a href="" class="fl rqbenxiao">2016/1/19</a></li>
                        <li class="jianju"><a href="" class="stcfh fl">1</a><a href="" class="fl wdwenben">江苏省南京、盐城市2016届高三地理第一次模拟考试试题</a><a href="" class="fl rqbenxiao">2016/1/19</a></li>
                        <li class="jianju"><a href="" class="stcfh fl">1</a><a href="" class="fl wdwenben">江苏省南京、盐城市2016届高三化学第一次模拟考试试题</a><a href="" class="fl rqbenxiao">2016/1/19</a></li>
                        <li class="jianju"><a href="" class="stcfh fl">1</a><a href="" class="fl wdwenben">江苏省南京、盐城市2016届高三历史第一次模拟考试试题</a><a href="" class="fl rqbenxiao">2016/1/19</a></li>
                        <li class="jianju"><a href="" class="stcfh fl">1</a><a href="" class="fl wdwenben">江苏省南京、盐城市2016届高三生物第一次模拟考试试题</a><a href="" class="fl rqbenxiao">2016/1/19</a></li>
                        <li class="jianju"><a href="" class="stcfh fl">1</a><a href="" class="fl wdwenben">江苏省南京、盐城市2016届高三生物第一次模拟考试试题</a><a href="" class="fl rqbenxiao">2016/1/19</a></li>*@
                </ul>
            </div>
            <div class="benshenst">
                <img src="img/shushufan.png" class="ssf" />
                <span id="" class="benxiaost">
                    <b>本省试题</b>
                </span>
                <b class="gdb"><a href="">更多》</a></b>
            </div>
            <div id="province_tests" class="benxiaostx300">
                @*<div class="fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="mgdkwb fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="mgdkwb fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="mgdkwb fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="mgdkwb fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="mgdkwb fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="mgdkwb fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="mgdkwb fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>
                    <div class="mgdkwb fl hgh"><a href="" class="bxst2f fl">1</a><a href="" class="wenben2 fl">江苏省南京市金陵中学河西分校2016...</a><a href="" class="fl rqbenxiao ys7">2016/1/19</a></div>*@
            </div>

        </div><!--校长列表-->

    </div>

    <div class="mxtuijian" style="margin-top:1280px;">
        <img src="img/mxtubiao.png" class="mxtjzh" />
        <b class="mxtjtb">名校推荐</b>
        <a href="" class="mxgd">更多》</a>
    </div>

    <div class="xxbiao" id="correlation_elite_schools">
        @*<div class="fl">
                <img src="img/xuexiaotb.png" width="139" height="110" />
                <a href="" class="xxmingzi">衡水中学</a>
            </div>
            <div class="fl dkmg">
                <img src="img/xuexiaotb.png" width="139" height="110" />
                <a href="" class="xxmingzi">衡水中学</a>
            </div>
            <div class="fl dkmg">
                <img src="img/xuexiaotb.png" width="139" height="110" />
                <a href="" class="xxmingzi">衡水中学</a>
            </div>
            <div class="fl dkmg">
                <img src="img/xuexiaotb.png" width="139" height="110" />
                <a href="" class="xxmingzi">衡水中学</a>
            </div>
            <div class="fl dkmg">
                <img src="img/xuexiaotb.png" width="139" height="110" />
                <a href="" class="xxmingzi">衡水中学</a>
            </div>
            <div class="fl dkmg">
                <img src="img/xuexiaotb.png" width="139" height="110" />
                <a href="" class="xxmingzi">衡水中学</a>
            </div>
            <div class="fl dkmg">
                <img src="img/xuexiaotb.png" width="139" height="110" />
                <a href="" class="xxmingzi">衡水中学</a>
            </div>
            <div class="fl dkmg">
                <img src="img/xuexiaotb.png" width="139" height="110" />
                <a href="" class="xxmingzi">衡水中学</a>
            </div>*@
    </div>
    @Html.Partial("~/Common/bottom.ascx")

</body>
</html>