@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>学校详细页</title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" /> 
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" href="css/test_questions.css" />
    <link rel="stylesheet" href="css/list_of_principals.css" />
    <link rel="stylesheet" type="text/css" href="css/School_detail_page.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/SchoolDetail.js"></script>
    <style>
        .dkwidth {
            width: 150px;
        }

            .dkwidth:hover {
                font-size: 21px;
            }
    </style>
</head>
<body>
    @Html.Partial("~/Common/top3.ascx")
    <div class="lianxi" style="overflow: hidden;">
        <div class="lianxice210 fl">
            <div class="lianxice33 lianxice33_2ea7f8">
                <a target='_blank' id="president_more" class="xzgd1 a_more_com">更多<img src="img/raw_d.png" class=""></a>
                <img src="img/drw.png" class="xztubiao p_ab_t7">
                <a target='_blank' target ='_blank'>校长介绍</a>
            </div>
            <div class="jiaoyubu">
                <div id="president_head_img" alt="" ></div>
                <div class="xzmz" id="president_name"></div>
                <p class="xzzl" id="president_description" style="display:block;height:378px;overflow-y:auto;overflow-x:hidden;"></p>
            </div>
            <div class="lianxice33 rmxz333 gysll ma20">
                <a target='_blank' id="president_more_1" class="xzgd1 a_more_com">更多<img src="img/raw_d.png" class=""></a>
                <img src="img/kaojuankb.png" class="xztubiao">
                <a target='_blank' target='_blank'>校长专栏</a>
            </div>
            <div class="jiaoyubu dkjiaoyubu border_lr_e5 border_bott_e5 box_sizing_box" style="width:208px;">
                <ul class="jybul dkjybul" id="president_special_columns">
                </ul>
            </div>

        </div>

        <div class="lianxice fl mar_lf_18 mar_bott_30">
            <div class="xuexiaoimg">
                @*<div class="fl kuan">
                    <img id="imgurl" style="width:427px; height:316px;" />
                </div>*@
                <img id="imgurl" />
                <div id="school_name" class="xxm fl">

                </div>
                <div id="school_star" class=" fl"></div>
                <div class="xzjieshao" id="content"> </div>
            </div>
            <div id="" class="lianxice33 bxst">
                @*<span class="xzgd1 pa_rg_15">更多<img src="img/raw_d.png" class=""></span>*@
                <img src="img/shushufan.png" class="xztubiao p_ab_t7">
                <a target='_blank' target='_blank'>本校试题</a>
            </div>
            <div id="" class="benxiaost300">
                <ul id="school_tests"></ul>
            </div>
            <div class="lianxice33 benshenst">
                <a target='_blank' id="pro_test_more" class="xzgd1 pa_rg_15 a_more_com" target='_blank'>更多<img src="img/raw_d.png" class=""></a>
                <img src="img/shushufan.png" class="xztubiao">
                <a target='_blank' target='_blank'>本省试题</a>
            </div>
            <div id="province_tests" class="benxiaostx300">
            </div>

        </div><!--校长列表-->

    </div>

    <div class="lianxice33 mxtuijian">
        <a target='_blank' class="xzgd1 pa_rg_15 a_more_com" href="../school" target='_blank'>更多<img src="img/raw_d.png" class=""></a>
        <img src="img/mxtubiao.png" class="xztubiao">
        <a target='_blank' target='_blank'>名校推荐</a>

    </div>

    <div class="xxbiao" id="correlation_elite_schools">
    </div>
    @Html.Partial("~/Common/bottom.ascx")

</body>
</html>