@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>51考学</title>
    <script src="~/js/jquery-1.8.2.min.js"></script>
    <script src="~/CustomScripts/index.js"></script>
    <link href="~/CSS/default.css" rel="stylesheet" />
    <link href="~/engine1/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />

</head>
<body>
    @Html.Partial("~/Common/top1.ascx")

    <div class="zhuti">
        <div class="cebianlan fl">
            <div class="lanse">
                <h3>省份导航</h3>
            </div>
            <div class="cebianlan_xia" id="province_more">
            </div>
            <div class="lanse hong">
                <h3>初中学科</h3>
            </div>
            <div class="hong_xia" id="junior_subject">

            </div>
            <div class="lanse hang">
                <h3>高中学科</h3>
            </div>
            <div class="hong_xia" id="senior_subject">
            </div>
        </div>

        <div class="fl lunbo">
            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul id="banner_images">
                        <li>
                            <div style="height:125px">

                            </div>
                            <div class="loader1">
                                <i></i><i></i>
                            </div>
                        </li>
                        <li>
                            <div style="height:125px">

                            </div>
                            <div class="loader1">
                                <i></i><i></i>
                            </div>
                        </li>
                        <li>
                            <div style="height:125px">

                            </div>
                            <div class="loader1">
                                <i></i><i></i>
                            </div>
                        </li>
                        <li>
                            <div style="height:125px">

                            </div>
                            <div class="loader1">
                                <i></i><i></i>
                            </div>
                        </li>
                        @*<li><img src="../data1/images/1.jpg" alt="1" title="1" id="wows1_0"></li>
                            <li><img src="../data1/images/2.jpg" alt="2" title="2" id="wows1_1"></li>
                            <li><a href="http://wowslider.com/vi"><img src="../data1/images/3.jpg" alt="bootstrap carousel" title="3" id="wows1_2"></a></li>
                            <li><img src="../data1/images/4.jpg" alt="4" title="4" id="wows1_3"></li>*@

                    </ul>
                </div>
                <div class="ws_bullets">
                    <div id="banner_buttons">
                        @*<a href="#" title="1"><span><img src="../data1/tooltips/1.jpg" alt="1">1</span></a>
                            <a href="#" title="2"><span><img src="../data1/tooltips/2.jpg" alt="2">2</span></a>
                            <a href="#" title="3"><span><img src="../data1/tooltips/3.jpg" alt="3">3</span></a>
                            <a href="#" title="4"><span><img src="../data1/tooltips/4.jpg" alt="4">4</span></a>*@@*<a href="#" title="1"><span><img src="../data1/tooltips/1.jpg" alt="1"></span></a>
                            <a href="#" title="2"><span><img src="../data1/tooltips/2.jpg" alt="2"></span></a>
                            <a href="#" title="3"><span><img src="../data1/tooltips/3.jpg" alt="3"></span></a>
                            <a href="#" title="4"><span><img src="../data1/tooltips/4.jpg" alt="4"></span></a>*@
                        </div>
                    </div><div class="ws_script" style="position:absolute;left:-99%"></div>
                    <div class="ws_shadow"></div>
                </div>
            </div>
            <div class="mokuai8 fl">
                <div class="mokuai8_div">
                    <div class="mk5 fl">
                        <img src="../../img/shijuan.png" />
                        <div class="mk_top">
                            <a class="mk_a">智能组卷</a>
                        </div>
                    </div>
                    <div class="mk5 fl">
                        <img src="../../img/wj.png" />
                        <div class="mk_top">
                            <a class="mk_a">高考真题</a>
                        </div>
                    </div>
                </div>
                <div class="mokuai8_div">
                    <div class="mokuai8_div">
                        <div class="mk5 fl">
                            <img src="../../img/baijiamingxiao.png" />
                            <div class="mk_top">
                                <a class="mk_a">百家名校</a>
                            </div>
                        </div>
                        <div class="mk5 fl">
                            <img src="../../img/zhongkao.png" />
                            <div class="mk_top">
                                <a class="mk_a">高考备考</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mokuai8_div">
                    <div class="mokuai8_div">
                        <div class="mk5 fl">
                            <img src="../../img/zhuanyuan.png" />
                            <div class="mk_top">
                                <a class="mk_a">文学国学</a>
                            </div>
                        </div>
                        <div class="mk5 fl">
                            <img src="../../img/gaokao.png" />
                            <div class="mk_top">
                                <a class="mk_a">学习方法</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mokuai8_div">
                    <div class="mokuai8_div">
                        <div class="mk5 fl">
                            <img src="../../img/ziyuan.png" />
                            <div class="mk_top">
                                <a class="mk_a">名校资源</a>
                            </div>
                        </div>
                        <div class="mk5 fl">
                            <img src="../../img/wenjuan.png" />
                            <div class="mk_top">
                                <a class="mk_a">作文大全</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--主题内容-->

        <div class="daojishi">

            <div class="daojishi_div fl ys1">
                <h3>高考</h3>
                <h1><b id="b">倒计时：<span id="daojishi"></span>天</b></h1>
                <div id="ztsousuo">
                    <div><span class="gkzhenti">高考历年真题</span></div>
                    <div class="ztsousuo_div2">
                        <form action="#" method="get">
                            <input type="text" class="zt_sousuo" placeholder="&nbsp&nbsp输入年份" /><a class="tijiao"> 查找&nbsp;</a>
                        </form>
                    </div>
                </div>
            </div>

            <a>
                <div class="daojishi_div fl daojishi_kongzhi ys2">
                    <h3 class="hh3">历届优秀</h3>
                    <h1><b id="b">高考真题</b></h1>
                    <img src="../../img/kshg.png" class="kshg" />
                </div>
            </a>
            <a>
                <div class="daojishi_div fl daojishi_kongzhi ys3">
                    <h3 class="hh3">51推荐</h3>
                    <h1><b id="b">最新专题</b></h1>
                    <img src="../../img/redkj.png" class="kshg" />
                </div>
            </a>
            <a>
                <div class="daojishi_div fl daojishi_kongzhi ys4">
                    <h3 class="hh3">51推荐</h3>
                    <h1><b id="b">精品备课</b></h1>
                    <img src="../../img/100fen.png" class="kshg" />
                </div>
            </a>
            <a>
                <div class="daojishi_div fl daojishi_kongzhi ys5">
                    <h3 class="hh3">51推荐</h3>
                    <h1><b id="b">精品试题</b></h1>
                    <img src="../../img/kaoshijuan.png" class="kshg" />
                </div>
            </a>
        </div>

        <div class="zhentiku">
            <div class="ztk_div ztkyanse sttjyanse">
                <div class="mxttbggd"></div>
                <b><h3>名校套题 SCHOOL PROBLEM SET</h3></b>
                <div class="ztk_div_div ">
                    <div class="xian1 fl"></div>
                    <div class="quanquan fl">
                        <div class="qq1 b1 fl qdankong"><a class="fff">备课中心</a></div>
                        <div class="qq1 b2 fl qqq1"><a class="fff">每日专题</a></div>
                        <div class="qq1	b3 fl qqq1"><a class="fff">历年考题</a></div>
                        <div class="qq1 b4 fl qqq1"><a class="fff">名校测题</a></div>
                    </div>
                    <div class="xian2 fl"><a class="genduo"><img src="../../img/gengduo.png" alt=""></a></div>
                </div>
                <div class="ztk_fenlei" id="taoti">
                </div>
            </div>
        </div><!--名校套题-->

        <div class="jinpinshiti">
            <div class="jpst_div2 fl"><a><img src="../../img/stk.jpg" /></a></div>
            <div class="jpst_div2 fl"><a><img src="../../img/stk1.jpg" /></a></div>
        </div><!--精品试题图片-->
        <div class="jpst_zhutineirong">
            <div class="jpshijuan">
                <div class="jpst_lianjie fl">
                    <ul id="test"></ul>
                </div>

                <div class="jpst_lianjie fl mgjpst">
                    <ul id="beike"></ul>
                </div>
            </div>
        </div><!--精品试题分类-->

        <div class="zuixintaotiyellow yellow">
            <div class="zuixintaoti">
                <div class="zuixintaoti390 fl ">
                    <div class="zuixintaoti160">
                        <img src="../../img/ksquan.png" /><span class="zuixintaotspan"><b>最新套题<br>NEW PROBLEM SET</b></span>
                        <a class="more1"><img src="../../img/more1.png" /></a>
                    </div>
                    <div class="zuixintaotilj">
                        <ul id="Taoti_JuniorMiddleSchool"></ul>
                    </div>
                </div>

                <div class="zuixintaoti390 fl zxstts">
                    <div class="zuixintaoti160">
                        <img src="../../img/ksquan.png" /><span class="zuixintaotspan"><b>最新试题<br>NEW TEST</b></span>
                        <a class="more1"><img src="../../img/more1.png" /></a>
                    </div>
                    <div class="zuixintaotilj">
                        <ul id="Test_JuniorMiddleSchool"></ul>
                    </div>
                </div>

                <div class="zuixintaoti390 fl zxstts">
                    <div class="zuixintaoti160">
                        <img src="../../img/ksquan.png" /><span class="zuixintaotspan"><b>历年中考试卷<br>RECENT EXAMINATION PAPER</b></span>
                        <a class="more1"><img src="../../img/more1.png" /></a>
                    </div>
                    <div class="zuixintaotilj">
                        <ul id="Mid_examination"></ul>
                    </div>
                </div>
            </div>
        </div><!--最新套题-->


        <div class="ztk_div zxztyanse">

            <b><h3 style="color:#f5bc2b;">最新专题 LATEST PROJECT</h3></b>
            <div class="ztk_div_div ">
                <div class="xian1 fl x1"></div>
                <div class="quanquan fl">
                    <div class="qq1 fl b11 qdankong"><a class="zxzths">备课中心</a></div>
                    <div class="qq1 fl b22 qqq1"><a class="zxzths">每日专题</a></div>
                    <div class="qq1 fl b33 qqq1"><a class="zxzths">历年考题</a></div>
                    <div class="qq1 fl b44 qqq1"><a class="zxzths">名校测题</a></div>
                </div>
                <div class="xian2 fl x1"><a class="genduo"><img src="../../img/yellowtb.png" alt=""></a></div>
            </div>

            <div class="jpshijuan" id="news_zhuangti">
            </div>
        </div><!--最新主题-->


        <div class="mingxiaohezuo">
            <div class="mxhz">
                <div class="ztk_div mxhz_yanse" id="elite_school">
                </div>

            </div>

            <div class="mingxiaoziyuan">
                <div class="ztk_div ">
                    <b><h3>名校资源 SCHOOL RESOURCE</h3></b>
                    <div class="ztk_div_div ">
                        <div class="xian1 fl"></div>
                        <div class="quanquan fl">
                            <div class="qq1 fl qdankong"><a class="fff">备课中心</a></div>
                            <div class="qq1 fl qqq1"><a class="fff">每日专题</a></div>
                            <div class="qq1 fl qqq1"><a class="fff">历年考题</a></div>
                            <div class="qq1 fl qqq1"><a class="fff">名校测题</a></div>
                        </div>
                        <div class="xian2 fl"><a class="genduo"><img src="../../img/lantb.png" alt=""></a></div>
                    </div>
                    <div class="mxzyimg" id="elite_school_show">
                    </div>
                </div>
            </div>
        </div><!--名校资源-->

        <div class="gkdt">
            <div class="gkdtdiv">
                <div class="gkd_3 fl">
                    <div class="gdk3_1">
                        <div class="gdk3_1_1">
                        </div>
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb">
                                <img src="../../img/gkdtmao.png" class="gkdt_img" />
                                <span class="gkdt_span">
                                    <b class="gkdttime">高考动态</b>
                                </span>
                            </div>
                            <a class="more6"><img src="../../img/more.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="gaokaodongtai"></ul>
                    </div>
                </div>

                <div class="gkd_3 fl gkdt_lianjiedk">
                    <div class="gdk3_1">
                        <div class="gdk3_1_1">
                        </div>
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb">
                                <img src="../../img/gkdtmao.png" class="gkdt_img" />
                                <span class="gkdt_span">
                                    <b class="gkdttime">学习方法</b>
                                </span>
                            </div>
                            <a class="more6"><img src="../../img/more.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="xuexifangfa"></ul>
                    </div>
                </div>

                <div class="gkd_3 fl gkdt_lianjiedk">
                    <div class="gdk3_1">
                        <div class="gdk3_1_1">
                        </div>
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb">
                                <img src="../../img/gkdtmao.png" class="gkdt_img" />
                                <span class="gkdt_span">
                                    <b class="gkdttime">经验交流</b>
                                </span>
                            </div>
                            <a class="more6"><img src="../../img/more.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="jingyanjiaoliu"></ul>
                    </div>
                </div>
            </div>

            <div class="gkdtdiv">
                <div class="gkd_3 fl">
                    <div class="gdk3_1">
                        <div class="gdk3_1_1">
                        </div>
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb">
                                <img src="../../img/gkdtmao.png" class="gkdt_img" />
                                <span class="gkdt_span">
                                    <b class="gkdttime">科研论文</b>
                                </span>
                            </div>
                            <a class="more6"><img src="../../img/more.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="keyanlunwen"></ul>
                    </div>
                </div>

                <div class="gkd_3 fl gkdt_lianjiedk">
                    <div class="gdk3_1">
                        <div class="gdk3_1_1">
                        </div>
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb">
                                <img src="../../img/gkdtmao.png" class="gkdt_img" />
                                <span class="gkdt_span">
                                    <b class="gkdttime">教学研究</b>
                                </span>
                            </div>
                            <a class="more6"><img src="../../img/more.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="jiaoxueyanjiu"></ul>
                    </div>
                </div>

                <div class="gkd_3 fl gkdt_lianjiedk">
                    <div class="gdk3_1">
                        <div class="gdk3_1_1">
                        </div>
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb">
                                <img src="../../img/gkdtmao.png" class="gkdt_img" />
                                <span class="gkdt_span">
                                    <b class="gkdttime">教材教法</b>
                                </span>
                            </div>
                            <a class="more6"><img src="../../img/more.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="jiaocaijiaofa"></ul>
                    </div>
                </div>
            </div>
        </div><!--高考动态-->




        <div class="sttj">
            <div class="sttjdiv">
                <div class="ztk_div ztkyanse sttjkz">
                    <img src="../../img/mingxiaotaoti.png" />
                    <b><h3>试题推荐 TEST QUESTIONS RECOMMENDED</h3></b>
                    <div class="ztk_div_div dankong_sttj ">
                        <div class="xian1 fl"></div>
                        <div class="quanquan fl">
                            <div class="qq1 fl qdankong"><a class="sttjys"><p style="position: absolute;">备课中心</p></a></div>
                            <div class="qq1 fl qqq1"><a class="sttjys">每日专题</a></div>
                            <div class="qq1 fl qqq1"><a class="sttjys">历年考题</a></div>
                            <div class="qq1 fl qqq1"><a class="sttjys">名校测题</a></div>
                        </div>
                        <div class="xian2 fl"><a class="genduo"><img src="../../img/gengduo.png" alt=""></a></div>
                    </div>
                    <div class="ie7jianron" id="shiti_school">
                    </div>
                </div>
            </div>

        </div><!--试题推荐-->

        <div class="mstj">
            <div class="mstj_1189">
                <div class="ztk_div zxztyanse mstjyanse">
                    <b><h3 style="color:#07c7bc;">名师推荐 Teacher RECOMMENDED</h3></b>
                    <div class="ztk_div_div ">
                        <div class="xian1 fl yansemstj"></div>
                        <div class="quanquan fl">
                            <div class="qq1 fl qdankong qq2"><a class="yansemstjcolor">备课中心</a></div>
                            <div class="qq1 fl qqq1 qq2"><a class="yansemstjcolor">每日专题</a></div>
                            <div class="qq1 fl qqq1 qq2"><a class="yansemstjcolor">历年考题</a></div>
                            <div class="qq1 fl qqq1 qq2"><a class="yansemstjcolor">名校测题</a></div>
                        </div>
                        <div class="xian2 fl yansemstj"><a class="genduo"><img src="../../img/gdlan.png" alt=""></a></div>
                    </div>
                    <div class="laoshiimg" id="teachers">
                    </div>
                </div>
            </div>
        </div><!--名师推荐-->
        @Html.Partial("~/Common/bottom.ascx")
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
