@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>年级首页 </title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" /> 
    <link rel="stylesheet" href="css/index.css">
    <link href="~/CSS/default.css" rel="stylesheet" />
    <link href="~/engine1/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/Junior_high_school.css" />
    <script src="~/js/jquery-1.8.2.min.js"></script>
    <script src="~/CustomScripts/Grade.js"></script>
</head>
<body>
    @Html.Partial("~/Common/top1.ascx")

    <div class="ce_nva">
        <div class="celan fl">

            <div class="dkcelan50">
                <div class="lan_ce sfhv">
                    <span><span class="font_size16">更多省份导航</span></span><img src="img/zu-1.png" class="zu1">
                    <div class="shenfenhover">
                        <div class="cebianlan_xia1" id="province_more">

                        </div>
                    </div>
                </div>
                <div class="lan_ce sfhv dksfhv"><span><span class="font_size16">全部资料分类</span></span><img src="img/tubiaozu1.png" class="zu1"></div>
                <ul class="pad_lf_28 pad_rg_28 border_lr_e5">
                    <li class="ce_z ce_xh  hei_36  ce_data_h_ffb727 border_bott_e5"><a target='_blank' class="ce_x_grade fl" href="../Beike_Center?level=3"><span class="ce_sp ceh">高中备课</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z ce_xh  hei_36  ce_data_h_ffb727 border_bott_e5"><a target='_blank' class="ce_x_grade fl" href="../Test_Center?level=3"><span class="ce_sp ceh">高中试题</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z ce_xh  hei_36  ce_data_h_ffb727 border_bott_e5"><a target='_blank' class="ce_x_grade fl" href="../Gaokao_Beikao"><span class="ce_sp ceh">高中复习</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z ce_xh  hei_36  ce_data_h_ffb727 border_bott_e5"><a target='_blank' class="ce_x_grade fl" href="../Beike_Center?level=2"><span class="ce_sp ceh">初中备课</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z ce_xh  hei_36  ce_data_h_ffb727"><a target='_blank' class="ce_x_grade ce_xx fl flag" href="../Test_Center?level=2" style="height:20px;"><span class="ce_sp ceh">初中试题</span></a><a target='_blank' class="sppd fr">></a></li>
                </ul>
                <div class="lan_ce h_ce dkh_ce"><span><span class="font_size16">历年高考试卷</span></span><img src="img/hsanjiao.png" class="zu1"></div>
                <ul class="pad_lf_28 pad_rg_28 border_lr_e5 border_bott_e5">
                    <li class="ce_z ce_data_h_8cc407  hei_36  border_bott_e5"><a target='_blank' class="ce_x fl" href="../Past_Exam?year=8&year_text=2016"><span class="ce_sp ceh dkceh">2016年</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z ce_data_h_8cc407  hei_36  border_bott_e5"><a target='_blank' class="ce_x fl" href="../Past_Exam?year=5&year_text=2015"><span class="ce_sp ceh dkceh">2015年</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z ce_data_h_8cc407  hei_36  border_bott_e5"><a target='_blank' class="ce_x fl" href="../Past_Exam?year=4&year_text=2014"><span class="ce_sp ceh dkceh">2014年</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z ce_data_h_8cc407  hei_36 "><a target='_blank' class="ce_x ce_xx fl" href="../Past_Exam?year=3&year_text=2013"><span class="ce_sp ceh dkceh">2013年</span></a><a target='_blank' class="sppd fr">></a></li>
                </ul>
            </div>
        </div><!-- 地址侧栏块 -->

        <div class="lb9 fl" style="width:715px;height:442px;margin-left:18px;">
            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul id="banner_images">
                        <li>
                            <div style="height:125px">

                            </div>
                            <div class="loader1">
                                <i></i><i></i>
                            </div>
                        </li>
                        <li>
                            <div style="height:125px">

                            </div>
                            <div class="loader1">
                                <i></i><i></i>
                            </div>
                        </li>
                        <li>
                            <div style="height:125px">

                            </div>
                            <div class="loader1">
                                <i></i><i></i>
                            </div>
                        </li>
                        <li>
                            <div style="height:125px">

                            </div>
                            <div class="loader1">
                                <i></i><i></i>
                            </div>
                        </li>


                    </ul>
                </div>
                <div class="ws_bullets">
                    <div id="banner_buttons">
                    </div>
                </div><div class="ws_script" style="position:absolute;left:-99%"></div>
                <div class="ws_shadow"></div>
            </div>
        </div>
        <div class="fl dakuai4">
            <div class="dk4 dkdk4 border_ffb726 mar_bott_19">
                <a target='_blank' href="http://zujuan.51kaoxue.com"><img src="../../img/hh110.jpg"></a>
            </div>
            <div class="dk4 border_07c277 mar_bott_19">
                <a target='_blank' href="../Past_Exam"><img src="../../img/hh112.jpg"></a>
            </div>
            <div class="dk4 border_ff4a52 mar_bott_19">
                <a target='_blank' href="../Elite_School"><img src="../../img/hh113.jpg"></a>
            </div>
            <div class="dk4 border_2ea7f8">
                <a target='_blank' href="../Gaokao_Beikao"><img src="../../img/hh114.jpg"></a>
            </div>
        </div><!-- 四大模块 -->
    </div>


    <div class="gzjpst ma20">
        <div class="zuixintaoti">
            <div class="zuixintaoti390 fl ">
                <div class="zuixintaoti160 hei_99">
                    <img src="img/fj.jpg" class="fj_grade" /><span class="zuixintaotspan ab_ps_lf105 line_h25"><b>专题推荐<br><b class="font_size16">SPECIAL RECOMMENDATION</b></b></span>

                </div>
                <div class="zuixintaotilj">
                    <ul id="zhuanti_tuijian"></ul>
                </div>
            </div>

            <div class="zuixintaoti390 fl zxstts">
                <div class="zuixintaoti160 hei_99">
                    <img src="img/xinxin.jpg" class="xinxin_grade" /><span class="zuixintaotspan ab_ps_lf110 line_h25"><b>精品备课<br><b class="font_size16">HIGH-QUALITY PREPARES</b></b></span>

                </div>
                <div class="zuixintaotilj">
                    <ul id="beike_jingpin"></ul>
                </div>
            </div>

            <div class="zuixintaoti390 fl zxstts">
                <div class="zuixintaoti160 hei_99">
                    <img src="img/ksquan.png" class="ksquan_grade" /><span class="zuixintaotspan ab_ps_lf120 line_h25"><b>最新套题<br><b class="font_size16">QUALITY PROBLEM SET</b></b></span>

                </div>
                <div class="zuixintaotilj">
                    <ul id="taoti_jingpin"></ul>
                </div>
            </div>
        </div>
    </div><!-- 高中精品试题 -->

    <div class="gkdt gkdtdk">
        <div class="gkdtdiv_1">
            <div class="gkd_3 fl">
                <div class="gdk3_1_new">
                    @*<div class="gdk3_1_1">
                    </div>*@
                    <div class="gdk3_1_2">
                        <div class="gkdt_tb">
                            <img src="img/mm11.jpg" class="gkdt_img" />
                            <span class="gkdt_span">
                                <b class="gkdttime font_size24">备战高考</b>
                            </span>
                        </div>
                        <a target='_blank' class="more6_new" href="../Gaokao_Beikao"><img src="img/more1.png" /></a>
                    </div>
                </div>
                <div class="gdk3_2 ie8">
                    <ul id="beizhangaokao" class="ma20"></ul>
                </div>
            </div>

            <div class="gkd_3 fl gkdt_lianjiedk1">
                <div class="gdk3_1_new">
                    @*<div class="gdk3_1_1">
            </div>*@
                    <div class="gdk3_1_2">
                        <div class="gkdt_tb">
                            <img src="img/taochanh.jpg" class="gkdt_img" />
                            <span class="gkdt_span">
                                <b class="gkdttime font_size24">名校套题</b>
                            </span>
                        </div>
                        <a target='_blank' class="more6_new" href="../Elite_School"><img src="img/more1.png" /></a>
                    </div>
                </div>
                <div class="gdk3_2 ie8">
                    <ul id="taoti_mingxiao" class="ma20"></ul>
                </div>
            </div>

            <div class="gkd_3 fl gkdt_lianjiedk1">
                <div class="gdk3_1_new">
                    @*<div class="gdk3_1_1">
            </div>*@
                    <div class="gdk3_1_2">
                        <div class="gkdt_tb">
                            <img src="img/molikaoshih.jpg" class="gkdt_img" />
                            <span class="gkdt_span">
                                <b class="gkdttime font_size24" id="moni_title"></b>
                            </span>
                        </div>
                        <a target='_blank' class="more6_new" href="../Test_Center?level=3&testcategory=16"><img src="img/more1.png" /></a>
                    </div>
                </div>
                <div class="gdk3_2 ie8">
                    <ul id="monikao" class="ma20"></ul>
                </div>
            </div>
        </div>

    </div><!--高考试题动态-->


    <div class="zhentiku dkzhentiku">
        <div class="ztk_div ztkyanse sttjyanse yanse">
            <div class="zhange">
            </div>
            <div class="daimg9">
                <span class="xueansp">51考学网第一时间发布</span>
                <b class="xuekeb">2017年最新高中试题要点</b>
            </div>
            <div class="ywfyxi">
                <div class="ywfyxi2 fl">
                    <a target='_blank'><img src="img/tubiaostk.png" class="imgywfy" /><b style="color:#fff;" class="bdk font_size24">精品课件</b></a>
                    <a target='_blank' class="dkmrb" href="../Test_Center?level=3&type=2"><img src="img/morebai.png" /></a>
                </div>
                <div class="ywfyxi2 fl dkmg10">
                    <a target='_blank'><img src="img/cekbei.png" class="fy" /><b style="color:#fff;" class="bdk font_size24">精品学案</b></a>
                    <a target='_blank' class="dkmrb" href="../Test_Center?level=3&type=4"><img src="img/morebai.png" /></a>
                </div>
            </div>

            <div class="jpshijuan jsppd">
                <div class="jpst_lianjie fl">
                    <ul id="kejian_jingpin"></ul>
                </div>

                <div class="jpst_lianjie fl mgjpst">
                    <ul id="xuean_jingpin"></ul>
                </div>
            </div>
        </div>
    </div><!--高考要点-->

    <div class="gkdt gkdtdk mar_bott_30">
        <div class="gkdtdiv_1">
            <div class="gkd_3 fl">
                <div class="gdk3_1_new">
                    @*<div class="gdk3_1_1">
                        </div>*@
                    <div class="gdk3_1_2 dkgdk3_1_2">
                        <div class="gkdt_tb">
                            <img src="img/czgzwb.png" class="gkdt_img" />
                            <span class="gkdt_span">
                                <b class="gkdttime gdysk">精品教案</b>
                            </span>
                        </div>
                        <a target='_blank' class="more6_new" href="../Test_Center?level=3&type=3"><img src="img/more2.png" /></a>
                    </div>
                </div>
                <div class="gdk3_2 ie8">
                    <ul id="jiaoan_jingpin" class="ma20"></ul>
                </div>
            </div>

            <div class="gkd_3 fl gkdt_lianjiedk1">
                <div class="gdk3_1_new">
                    @*<div class="gdk3_1_1">
                        </div>*@
                    <div class="gdk3_1_2 dkgdk3_1_2">
                        <div class="gkdt_tb">
                            <img src="img/gkzkjiaocai.png" class="gkdt_img" />
                            <span class="gkdt_span">
                                <b class="gkdttime gdysk">精品素材</b>
                            </span>
                        </div>
                        <a target='_blank' class="more6_new" href="../Test_Center?level=3&type=6"><img src="img/more2.png" /></a>
                    </div>
                </div>
                <div class="gdk3_2 ie8">
                    <ul id="sucai_jingpin" class="ma20"></ul>
                </div>
            </div>

            <div class="gkd_3 fl gkdt_lianjiedk1">
                <div class="gdk3_1_new">
                    @*<div class="gdk3_1_1">
                        </div>*@
                    <div class="gdk3_1_2 dkgdk3_1_2">
                        <div class="gkdt_tb">
                            <img src="img/gkzkkytb.png" class="gkdt_img" />
                            <span class="gkdt_span">
                                <b class="gkdttime kylv">精品练习</b>
                            </span>
                        </div>
                        <a target='_blank' class="more6_new" href="../Test_Center?level=3&type=5"><img src="img/more2.png" /></a>
                    </div>
                </div>
                <div class="gdk3_2 ie8">
                    <ul id="lianxi_jingpin" class="ma20"></ul>
                </div>
            </div>
        </div>

    </div><!--高考试题动态-->



    <div class="gzjpst gzdkjpst">
        <div class="zhange">
        </div>
        <div class="daimg9 dkh5hong">
            <span class="xueansp dkxsp">51考学网第一时间发布</span>
            <b class="xuekeb dkxsp">2017年最新初中备课要点</b>
        </div>

        <div class="ywfyxi">
            <div class="ywfyxi2 fl">
                <a target='_blank'><img src="img/qzqm.png" class="imgywfy" /><b style="color:#fff;" class="bdk font_size24">期末/期中</b></a>
                <a target='_blank' class="dkmrb" href="../Test_Center?level=3&testcategory=10"><img src="img/hmore.png" /></a>
            </div>
            <div class="ywfyxi2 fl dkmg10">
                <a target='_blank'><img src="img/gkzkcs.png" class="fy" /><b style="color:#fff;" class="bdk font_size24">摸底/测试</b></a>
                <a target='_blank' class="dkmrb" href="../Test_Center?level=3&testcategory=16"><img src="img/hmore.png" /></a>
            </div>
        </div>

        <div class="jpshijuan jsppd">
            <div class="jpst_lianjie fl">
                <ul id="qizhong_qimo"></ul>
            </div>

            <div class="jpst_lianjie fl mgjpst">
                <ul id="modi_ceshi"></ul>
            </div>
        </div>
    </div>
    </div><!-- 高中精品试题 -->

    <div class="gkdt gkdtdk mar_bott_30">
        <div class="gkdtdiv_1">
            <div class="gkd_3 fl">
                <div class="gdk3_1_new">
                    @*<div class="gdk3_1_1">
                        </div>*@
                    <div class="gdk3_1_2 hdk312">
                        <div class="gkdt_tb">
                            <img src="img/hyeu.jpg" class="gkdt_img" />
                            <span class="gkdt_span">
                                <b class="gkdttime_8cc407">月考/阶段</b>
                            </span>
                        </div>
                        <a target='_blank' class="more6_new" href="../Test_Center?level=3&testcategory=9"><img src="img/moreh.jpg" /></a>
                    </div>
                </div>
                <div class="gdk3_2 ie8">
                    <ul id="yuekao_jieduan" class="ma20"></ul>
                </div>
            </div>

            <div class="gkd_3 fl gkdt_lianjiedk1">
                <div class="gdk3_1_new">
                    @*<div class="gdk3_1_1">
                        </div>*@
                    <div class="gdk3_1_2 hdk312">
                        <div class="gkdt_tb">
                            <img src="img/hkaoshi.jpg" class="gkdt_img" />
                            <span class="gkdt_span">
                                <b class="gkdttime_8cc407">地区联考</b>
                            </span>
                        </div>
                        <a target='_blank' class="more6_new" href="../Test_Center?level=3&testcategory=15"><img src="img/moreh.jpg" /></a>
                    </div>
                </div>
                <div class="gdk3_2 ie8">
                    <ul id="diquliankao" class="ma20"></ul>
                </div>
            </div>

            <div class="gkd_3 fl gkdt_lianjiedk1">
                <div class="gdk3_1_new">
                    @*<div class="gdk3_1_1">
                        </div>*@
                    <div class="gdk3_1_2 hdk312">
                        <div class="gkdt_tb">
                            <img src="img/hshu.jpg" class="gkdt_img" />
                            <span class="gkdt_span">
                                <b class="gkdttime_8cc407">竞赛试题</b>
                            </span>
                        </div>
                        <a target='_blank' class="more6_new" href="../Test_Center?level=3&testcategory=17"><img src="img/moreh.jpg" /></a>
                    </div>
                </div>
                <div class="gdk3_2 ie8">
                    <ul id="jingsai_test" class="ma20"></ul>
                </div>
            </div>
        </div>

    </div><!--高考试题动态-->


    <div class="beikeyaodian">
        <div class="bkyddiv">
            <div class="bkyd30_new">
                <div class="beijinbai">
                    <span onclick="change_css_li(this), News(1, '#gaokaodongtai')" class="news_selected_1 hei_30">高考动态</span>
                    <span onclick="change_css_li(this), News(2, '#gaokaodongtai')" class="news_normal_1 hei_30">教学研究</span>
                    <span onclick="change_css_li(this), News(3, '#gaokaodongtai')" class="news_normal_1 hei_30">科研论文</span>
                    <span onclick="change_css_li(this), News(4, '#gaokaodongtai')" class="news_normal_1 hei_30">学习方法</span>
                    <span onclick="change_css_li(this), News(5, '#gaokaodongtai')" class="news_normal_1 hei_30">经验交流</span>
                    <span onclick="change_css_li(this), News(6, '#gaokaodongtai')" class="news_normal_1 hei_30">教材教法</span>

                    
                </div>
                <a target='_blank' class="zkmore" href="../News"><img src="img/morell.png" /></a>

            </div>
            <div class="beijinglan" id="gaokaodongtai">
            </div>
        </div>
    </div><!--中考动态-->

    <div class="mstj">
        <div class="mstj_1189">
            <div class="ztk_div zxztyanse mstjyanse">
                <b><h3 style="color:#07c7bc;">名校资源 SCHOOL RESOURCE</h3></b>
                <div class="ztk_div_div ">
                    <div class="xian1 fl yansemstj_1"></div>
                    <div class="quanquan fl">
                        <div class="qq1 fl qdankong qq2" style="background: url(img/weilan111.png) repeat scroll 0 0; "><a target='_blank' class="yansemstjcolor_1">备课中心</a></div>
                        <div class="qq1 fl qqq1 qq2" style="background: url(img/weilan222.png) repeat scroll 0 0; "><a target='_blank' class="yansemstjcolor_1">每日专题</a></div>
                        <div class="qq1 fl qqq1 qq2" style="background: url(img/weilan333.png) repeat scroll 0 0; "><a target='_blank' class="yansemstjcolor_1">历年考题</a></div>
                        <div class="qq1 fl qqq1 qq2" style="background: url(img/weilan444.png) repeat scroll 0 0; "><a target='_blank' class="yansemstjcolor_1">名校测题</a></div>
                    </div>
                    <div class="xian2 fl yansemstj_1"><a target='_blank' class="genduo grade_gengdu_sc"><img src="img/genduomixiao.png"></a></div>
                </div>

                <div class="xuxiaozhanshi" id="elite_school_show">
                </div>

            </div>
        </div>
    </div><!--名师推荐-->
    @Html.Partial("~/Common/bottom.ascx")
</body>
</html>