@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>9大学科</title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" /> 
    <link rel="stylesheet" href="css/index.css">
    <link href="~/CSS/default.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da1.css">
    <link href="~/engine1/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/subject.js"></script>
</head>
<body>
    @Html.Partial("~/Common/top1.ascx")

    <div class="ce_nva">
        <div class="celan fl">
            <div class="celan50">
                <div class="lan_ce sfhv">
                    <span class="title_gen">更多省份导航</span><img src="../../img/zu-1.png" class="zu1">
                    <div class="shenfenhover">
                        <div class="cebianlan_xia1" id="province_more">

                        </div>
                    </div>
                </div>

                <ul id="Top5"></ul>

            </div>
            <div class="celan50">
                <div class="lan_ce h_ce">
                    <span class="title_gen">全部资料分类</span>@*<img src="../../img/zui_2222.jpg" class="zu1">*@
                    @*<div class="shenfenhover">
                            <div class="cebianlan_xia1" id="province_more">

                            </div>
                        </div>*@
                </div>
                <ul class="ce_ul_data">
                    @*<li class="lan_ce h_ce"><span class="title_gen">全部资料分类</span><img src="../../img/tubiaozu1.png" class="zu1"></li>*@
                    <li class="ce_z ce_data_h"><a target='_blank' class="ce_x fl" href="../Beike_Center?level=3"><span class="ce_sp ceh">高中备课</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z ce_data_h"><a target='_blank' class="ce_x fl" href="../Test_Center?level=3"><span class="ce_sp ceh">高中试题</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z ce_data_h"><a target='_blank' class="ce_x fl" href="../Gaokao_Beikao"><span class="ce_sp ceh">高中复习</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z ce_data_h"><a target='_blank' class="ce_x fl" href="../Beike_Center?level=2"><span class="ce_sp ceh">初中备课</span></a><a target='_blank' class="sppd fr">></a></li>
                    <li class="ce_z border_bn ce_data_h"><a target='_blank' class="ce_x ce_xx fl" href="../Test_Center?level=2"><span class="ce_sp ceh">初中试题</span></a><a target='_blank' class="sppd fr">></a></li>
                </ul>
            </div>
        </div><!-- 地址侧栏块 -->
        <div class="lb9 fl" style="width:715px;height:442px;margin-left:18px;overflow:hidden;">
            <div id="wowslider-container1_new_1" style="height:422px;">

            </div>
            </div>
            <div class="fl dakuai4">
                <div class="dk4 dkdk4 border_ffb726 mar_bott_19">
                    <a target='_blank' href="http://zujuan.51kaoxue.com"><img src="../../img/hh110.jpg"></a>
                </div>
                <div class="dk4 border_07c277 mar_bott_19">
                    <a target='_blank' href="../Past_Exam"><img src="../../img/hh112.jpg"></a>
                </div>
                <div class="dk4 border_ff4a52 mar_bott_19">
                    <a target='_blank' href="../Elite_School"><img src="../../img/hh113.jpg"></a>
                </div>
                <div class="dk4 border_2ea7f8">
                    <a target='_blank' href="../Gaokao_Beikao"><img src="../../img/hh114.jpg"></a>
                </div>
            </div><!-- 四大模块 -->
        </div>

        <div class="liniangaokao">
            <div class="lngk mar_bott_7">
                <ul id="HeightSchoolYear"></ul>
            </div>
            <div class="lngk">
                <ul id="Year"></ul>
            </div>
        </div><!-- 历年高考试题 -->

        <div class="zhentiku">
            <div class="ztk_div ztkyanse sttjyanse yanse">
                <div class="daimg9" style="position:relative;">
                    <span class="sfbd">51考学第一时间发布</span>
                    <b class="asf11">2017年语文一轮复习要点</b>
                    <a target='_blank' class="common_go" href="../Gaokao_Beikao" style="top:60px;"></a>
                </div>
                <div class="ywfyxi">
                    <div class="ywfyxi2 fl">
                        <a target='_blank' class="fl"><img src="../../img/tubiaostk.png" class="imgywfy" /><b class="stb1">精品试题</b></a><a target='_blank' href="../Test_Center" style="line-height:0px;"  class="fr more_1_new"><img class="mar_bott_z5" src="../../img/91more.jpg" /></a>
                    </div>
                    <div class="ywfyxi2 fl dkmg10">
                        <a target='_blank' class="fl"><img src="../../img/cekbei.png" class="fy" /><b class="stb1">精品备课</b></a><a target='_blank' href="../Beike_Center" style="line-height:0px;" class="fr more_1_new"><img class="mar_bott_z5" src="../../img/91more.jpg" /> </a>
                    </div>
                </div>

                <div class="jpshijuan jsppd">
                    <div class="jpst_lianjie fl">
                        <ul id="test_jingpin"></ul>
                    </div>

                    <div class="jpst_lianjie fl mgjpst">
                        <ul id="beike_jingpin"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gkdt_new mar_bott_60">
            <div class="gkdtdiv_new">
                <div class="gkd_3_new fl">
                    <div class="gdk3_1_new">
                        @*<div class="gdk3_1_1">
                </div>*@
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb_new">
                                <img src="../../img/mm11.jpg" class="gkdt_img_n" />
                                <span class="gkdt_span_new">
                                    <b class="gkdttime">最新试题 </b><span>[高中]</span>
                                </span>
                            </div>
                            <a target='_blank' class="more6_new" href="../Test_Center?level=3&type=1"><img src="../../img/more1.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="test_new_senior" class="ma20"></ul>
                    </div>
                </div>

                <div class="gkd_3_new fl gkdt_lianjiedk">
                    <div class="gdk3_1_new">
                        @*<div class="gdk3_1_1">
                </div>*@
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb_new">
                                <img src="../../img/mm22.jpg" class="gkdt_img_n" />
                                <span class="gkdt_span_new">
                                    <b class="gkdttime">最新备考 </b><span>[高中]</span>
                                </span>
                            </div>
                            <a target='_blank' class="more6_new" href="../Gaokao_Beikao"><img src="../../img/more1.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="beikao_new" class="ma20"></ul>
                    </div>
                </div>

                <div class="gkd_3_new fl gkdt_lianjiedk ">
                    <div class="gdk3_1_new">
                        @*<div class="gdk3_1_1">
                </div>*@
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb_new">
                                <img src="../../img/mm33.jpg" class="gkdt_img_n" />
                                <span class="gkdt_span_new">
                                    <b class="gkdttime">最新专题推荐 </b><span>[高中]</span>
                                </span>
                            </div>
                            <a target='_blank' class="more6_new" href="../Guide"><img src="../../img/more1.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="zhuanti_new_recommend_senior" class="ma20"></ul>
                    </div>
                </div>
            </div>

            <div class="gkdtdiv_new mar_top_55">
                <div class="gkd_3_new fl">
                    <div class="gdk3_1_new">
                        @*<div class="gdk3_1_1">
                    </div>*@
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb_new">
                                <img src="../../img/mm44.jpg" class="gkdt_img_n" />
                                <span class="gkdt_span_new">
                                    <b class="gkdttime">最新试题 </b><span>[初中]</span>
                                </span>
                            </div>
                            <a target='_blank' class="more6_new" href="../Test_Center?level=2&type=1"><img src="../../img/more1.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="test_new_junior" class="ma20"></ul>
                    </div>
                </div>

                <div class="gkd_3_new fl gkdt_lianjiedk">
                    <div class="gdk3_1_new">
                        @*<div class="gdk3_1_1">
                    </div>*@
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb_new">
                                <img src="../../img/mm55.jpg" class="gkdt_img_n" />
                                <span class="gkdt_span_new">
                                    <b class="gkdttime">中考模拟 </b><span>[初中]</span>
                                </span>
                            </div>
                            <a target='_blank' class="more6_new" href="../Test_Center?level=2&testcategory=22"><img src="../../img/more1.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="moni_junior" class="ma20"></ul>
                    </div>
                </div>

                <div class="gkd_3_new fl gkdt_lianjiedk">
                    <div class="gdk3_1_new">
                        @*<div class="gdk3_1_1">
                    </div>*@
                        <div class="gdk3_1_2">
                            <div class="gkdt_tb_new">
                                <img src="../../img/mm66.jpg" class="gkdt_img_n" />
                                <span class="gkdt_span_new">
                                    <b class="gkdttime">最新专题推荐 </b><span>[初中]</span>
                                </span>
                            </div>
                            <a target='_blank' class="more6_new" href="../Guide"><img src="../../img/more1.png" /></a>
                        </div>
                    </div>
                    <div class="gdk3_2 ie8">
                        <ul id="zhuanti_new_recommend_junior" class="ma20"></ul>
                    </div>
                </div>
            </div>
        </div><!--高考试题动态-->

        <div class="gzjpst">
            <div class="daimg9 dklvlv" style="position:relative;">
                <span class="sfbd yss11">51考学第一时间发布</span>
                <b class="asf11 yss11">2017年语文一轮复习要点</b>
                <a target="_blank" class="common_go" href="../Gaokao_Beikao" style="top:60px;"></a>
            </div>
            <div class="zuixintaoti">
                <div class="zuixintaoti390_new fl ">
                    <div class="zuixintaoti160">
                        <img class="pad_lf_107 pad_top_14" src="../../img/lx11.png" /><span class="zuixintaotspan_new_2 color_808ffb"><b class="tblx">同步练习<br><b class="font_size16">PRACTICE</b></b></span>
                       <div>
                            <a target='_blank' class="zyi box_sizing_box" onclick="change_css_span(this,1),tongbu_senior(' between 10 and 12')">全部</a>
                            <a target='_blank' class="zyi box_sizing_box top1 title_middle_nav_span_normal_1" onclick="change_css_span(this,1), tongbu_senior(' =10')">高一</a>
                            <a target='_blank' class="zyi box_sizing_box top2 title_middle_nav_span_normal_1" onclick="change_css_span(this,1), tongbu_senior(' =11')">高二</a>
                            <a target='_blank' class="zyi box_sizing_box top3 title_middle_nav_span_normal_1" onclick="change_css_span(this,1), tongbu_senior(' =12')">高三</a>
                        </div>
                        <a target='_blank' class="zyi box_sizing_box top4 title_middle_nav_span_normal_1" href="../Beike_Center?level=3&type=6">More</a>
                    </div>
                    <div class="zuixintaotilj">
                        <ul id="tongbu_senior"></ul>
                    </div>
                </div>

                <div class="zuixintaoti390_new fl zxstts">
                    <div class="zuixintaoti160">
                        <img class="pad_lf_107 pad_top_14" src="../../img/lx22.png" /><span class="zuixintaotspan_new_2 color_808ffb"><b class="tblx">精品教案<br><b class="font_size16">NEW TEST</b></b></span>
                        <div>
                            <a target='_blank' class="zyi box_sizing_box" onclick="change_css_span(this,1),tongbu_senior(' between 10 and 12')">全部</a>
                            <a target='_blank' class="zyi box_sizing_box top1 title_middle_nav_span_normal_1" onclick="change_css_span(this,1), jiaoan_senior(' =10')">高一</a>
                            <a target='_blank' class="zyi box_sizing_box top2 title_middle_nav_span_normal_1" onclick="change_css_span(this, 1), jiaoan_senior(' =11')">高二</a>
                            <a target='_blank' class="zyi box_sizing_box top3 title_middle_nav_span_normal_1" onclick="change_css_span(this, 1), jiaoan_senior(' =12')">高三</a>
                        </div>
                        <a target='_blank' class="zyi top4 title_middle_nav_span_normal_1" href="../Test_Center?level=3&type=3">More</a>
                    </div>
                    <div class="zuixintaotilj">
                        <ul id="jiaoan_senior"></ul>
                    </div>
                </div>

                <div class="zuixintaoti390_new fl zxstts">
                    <div class="zuixintaoti160">
                        <img class="pad_lf_107 pad_top_14" src="../../img/lx33.png" /><span class="zuixintaotspan_new_2 color_808ffb"><b class="tblx">更多学案<br><b class="font_size16">STUDY PLAN</b></b></span>
                        <div>
                            <a target='_blank' class="zyi box_sizing_box" onclick="change_css_span(this,1),tongbu_senior(' between 10 and 12')">全部</a>
                            <a target='_blank' class="zyi box_sizing_box top1 title_middle_nav_span_normal_1" onclick="change_css_span(this, 1), xuean_senior(' =10')">高一</a>
                            <a target='_blank' class="zyi box_sizing_box top2 title_middle_nav_span_normal_1" onclick="change_css_span(this, 1), xuean_senior(' =11')">高二</a>
                            <a target='_blank' class="zyi box_sizing_box top3 title_middle_nav_span_normal_1" onclick="change_css_span(this, 1), xuean_senior(' =12')">高三</a>
                        </div>
                        <a target='_blank' class="zyi top4 title_middle_nav_span_normal_1" href="../Test_Center?level=3&type=4">More</a>
                    </div>
                    <div class="zuixintaotilj">
                        <ul id="xuean_senior"></ul>
                    </div>
                </div>
            </div>
        </div><!-- 高中精品试题 -->

        <div class="gzzy_gz">
            <div class="mstj">
                <div class="mstj_1189">
                    <div class="ztk_div zxztyanse mstjyanse">
                        <b><h3 style="color:#8cc407;">高中资源 HIGH SCHOOL RESOURCES</h3></b>
                        <div class="ztk_div_div ">
                            <div class="xian1 fl yansemstj"></div>
                            <div class="quanquan fl">
                                <div class="qq1 q1 fl qdankong qq2"><a target='_blank' class="yansemstjcolor yslv">备课中心</a></div>
                                <div class="qq1 q2 fl qqq1 qq2"><a target='_blank' class="yansemstjcolor yslv">每日专题</a></div>
                                <div class="qq1 q3 fl qqq1 qq2"><a target='_blank' class="yansemstjcolor yslv">历年考题</a></div>
                                <div class="qq1 q4 fl qqq1 qq2"><a target='_blank' class="yansemstjcolor yslv">名校测题</a></div>
                            </div>
                            <div class="xian2 xx22 fl yansemstj"></div>
                        </div>

                    </div>


                    <div class="ywfyxi">
                        <div class="ywfyxi2 xxyx1 fl">
                            <a target='_blank'><img src="../../img/stk11.png" class="imgywfy" /><b class="lvl font_size24 pad_lf_30">名校试题</b></a>
                            <div>
                                <a target='_blank' class="yi111" onclick="change_css_span(this,1), test_mingxiao_senior(' between 10 and 12')">全部</a>
                            
                            
                                <a target='_blank' class="yi111 sq1 title_middle_nav_span_normal_1" onclick="change_css_span(this,1), test_mingxiao_senior(' =10')">高一</a>
                            
                            
                                <a target='_blank' class="yi111 sq2 title_middle_nav_span_normal_1" onclick="change_css_span(this,1), test_mingxiao_senior(' =11')">高二</a>
                            
                            
                                <a target='_blank' class="yi111 sq3 title_middle_nav_span_normal_1" onclick="change_css_span(this,1), test_mingxiao_senior(' =12')">高三</a>
                            
                            </div>

                            <a target='_blank' class="yi111 sq4 title_middle_nav_span_normal_1" href="../Test_Center?level=3&type=1">More</a>
                            
                        </div>
                        <div class="ywfyxi2 xxyx1 fl dkmg10">
                            <a target='_blank'><img src="../../img/stk22.png" class="fy" /><b class="lvl font_size24 pad_lf_30">精品课件</b></a>
                            <div>
                                <a target='_blank' class="yi111" onclick="change_css_span(this,1), test_mingxiao_senior(' between 10 and 12')">全部</a>


                                <a target='_blank' class="yi111 sq1 title_middle_nav_span_normal_1" onclick="change_css_span(this, 1), kejian_senior(' =10')">高一</a>


                                <a target='_blank' class="yi111 sq2 title_middle_nav_span_normal_1" onclick="change_css_span(this, 1), kejian_senior(' =11')">高二</a>


                                <a target='_blank' class="yi111 sq3 title_middle_nav_span_normal_1" onclick="change_css_span(this, 1), kejian_senior(' =12')">高三</a>

                            </div>

                            <a target='_blank' class="yi111 sq4 title_middle_nav_span_normal_1" href="../Test_Center?level=3&type=2">More</a>
                        </div>
                    </div>

                    <div class="jpshijuan jsppd">
                        <div class="jpst_lianjie fl">
                            <ul id="test_mingxiao_senior"></ul>
                        </div>

                        <div class="jpst_lianjie fl mgjpst">
                            <ul id="kejian_senior"></ul>
                        </div>
                    </div>

                </div>
            </div><!-- 高中资源 -->
        </div>

        <div class="gzjpst dklvse">
            <div class="daimg9 lallaal" style="position:relative;">
                <span class="sfbd yss1">51考学第一时间发布</span>
                <b class="asf11 yss1">2017年语文一轮复习要点</b>
                <a target="_blank" class="common_go" href="../Gaokao_Beikao" style="top:60px;"></a>
            </div>
            <div class="zuixintaoti">
                <div class="zuixintaoti390_new fl ">
                    <div class="zuixintaoti160 zi160">
                        <img class="pad_lf_107 pad_top_14" src="../../img/ll0011.png" /><span class="zuixintaotspan_new_2"><b class="tblx1">同步练习<br><b class="font_size16">PRACTICE</b></b></span>
                        <div>
                        <a target='_blank' class="zyi lanlan" onclick="change_css_span(this,2), tongbu_junior(' between 7 and 9')">全部</a>
                        <a target='_blank' class="zyi top1 lanlan title_middle_nav_span_normal_2" onclick="change_css_span(this,2), tongbu_junior(' =7')">初一</a>
                        <a target='_blank' class="zyi top2 lanlan title_middle_nav_span_normal_2" onclick=" change_css_span(this,2), tongbu_junior(' =8')">初二</a>
                        <a target='_blank' class="zyi top3 lanlan title_middle_nav_span_normal_2" onclick=" change_css_span(this,2), tongbu_junior(' =9')">初三</a>
                            </div>
                        <a target='_blank' class="zyi top4 lanlan title_middle_nav_span_normal_2" href="../Beike_Center?level=2&type=6">More</a>
                    </div>
                    <div class="zuixintaotilj ">
                        <ul id="tongbu_junior"></ul>
                    </div>
                </div>

                <div class="zuixintaoti390_new fl zxstts">
                    <div class="zuixintaoti160 zi160">
                        <img class="pad_lf_107 pad_top_14" src="../../img/ll0022.png" /><span class="zuixintaotspan_new_2"><b class="tblx1">精品教案<br><b class="font_size16">NEW TEST</b></b></span>
                        <div>
                        <a target='_blank' class="zyi lanlan" onclick="change_css_span(this,2), jiaoan_junior(' between 7 and 9')">全部</a>
                        <a target='_blank' class="zyi top1 lanlan title_middle_nav_span_normal_2" onclick="change_css_span(this,2), jiaoan_junior(' =7')">初一</a>
                        <a target='_blank' class="zyi top2 lanlan title_middle_nav_span_normal_2" onclick=" change_css_span(this,2), jiaoan_junior(' =8')">初二</a>
                        <a target='_blank' class="zyi top3 lanlan title_middle_nav_span_normal_2" onclick=" change_css_span(this,2), jiaoan_junior(' =9')">初三</a>
                            </div>
                        <a target='_blank' class="zyi top4 lanlan title_middle_nav_span_normal_2" href="../Test_Center?level=2&type=3">More</a>
                    </div>
                    <div class="zuixintaotilj">
                        <ul id="jiaoan_junior"></ul>
                    </div>
                </div>

                <div class="zuixintaoti390_new fl zxstts">
                    <div class="zuixintaoti160 zi160">
                        <img class="pad_lf_107 pad_top_14" src="../../img/ll0033.png" /><span class="zuixintaotspan_new_2"><b class="tblx1">更多学案<br><b class="font_size16">STUDY PLAN</b></b></span>
                        <div>
                        <a target='_blank' class="zyi lanlan" onclick="change_css_span(this,2), xuean_junior(' between 7 and 9')">全部</a>
                        <a target='_blank' class="zyi top1 lanlan title_middle_nav_span_normal_2" onclick="change_css_span(this,2), xuean_junior(' =7')">初一</a>
                        <a target='_blank' class="zyi top2 lanlan title_middle_nav_span_normal_2" onclick="change_css_span(this,2), xuean_junior(' =8')">初二</a>
                        <a target='_blank' class="zyi top3 lanlan title_middle_nav_span_normal_2" onclick="change_css_span(this,2), xuean_junior(' =9')">初三</a>
                            </div>
                        <a target='_blank' class="zyi top4 lanlan title_middle_nav_span_normal_2" href="../Test_Center?level=2&type=4">More</a>
                    </div>
                    <div class="zuixintaotilj">
                        <ul id="xuean_junior"></ul>
                    </div>
                </div>
            </div>
        </div><!-- 高中精品试题 -->

        <div class="gzzy_gz">
            <div class="mstj">
                <div class="mstj_1189">
                    <div class="ztk_div zxztyanse mstjyanse">
                        <b><h3 style="color:#808ffb;">初中资源 JUNIOR HIGH SCHOOL RESOURCES</h3></b>
                        <div class="ztk_div_div ">
                            <div class="xian1 fl yansemstj1"></div>
                            <div class="quanquan fl">
                                <div class="qq1 q11 fl qdankong qq2"><a target='_blank' class="yansemstjcolor yslvz">备课中心</a></div>
                                <div class="qq1 q22 fl qqq1 qq2"><a target='_blank' class="yansemstjcolor yslvz">每日专题</a></div>
                                <div class="qq1 q33 fl qqq1 qq2"><a target='_blank' class="yansemstjcolor yslvz">历年考题</a></div>
                                <div class="qq1 q44 fl qqq1 qq2"><a target='_blank' class="yansemstjcolor yslvz">名校测题</a></div>
                            </div>
                            <div class="xian2 xx22 fl yansemstj1"></div>
                        </div>

                    </div>


                    <div class="ywfyxi">
                        <div class="ywfyxi2 xxyx11 fl">
                            <a target='_blank'><img src="../../img/zbb11.png" class="imgywfy" /><b class="lvlz font_size24 pad_lf_30">名校试题</b></a>
                            <div>
                                <a target='_blank' class="yi111 y1y" onclick="change_css_span(this,2), test_mingxiao_junior(' between 7 and 9')">全部</a>


                                <a target='_blank' class="yi111 sq1 y1y title_middle_nav_span_normal_2" onclick="change_css_span(this,2), test_mingxiao_junior(' =7')">初一</a>


                                <a target='_blank' class="yi111 sq2 y1y title_middle_nav_span_normal_2" onclick="change_css_span(this,2), test_mingxiao_junior(' =8')">初二</a>


                                <a target='_blank' class="yi111 sq3 y1y title_middle_nav_span_normal_2" onclick="change_css_span(this,2), test_mingxiao_junior(' =9')">初三</a>

                            </div>  
                            <a target='_blank' class="yi111 sq4 y1y title_middle_nav_span_normal_2" href="../Test_Center?level=2&type=1">More</a>
                       
                        </div>
                        <div class="ywfyxi2 xxyx11 fl dkmg10">
                            <a target='_blank'><img src="../../img/zbb22.png" class="fy" /><b class="lvlz font_size24 pad_lf_30">精品课件</b></a>
                            <div>
                                <a target='_blank' class="yi111 y1y" onclick="change_css_span(this,2), kejian_junior(' between 7 and 9')">全部</a>
                            
                                <a target='_blank' class="yi111 sq1 y1y title_middle_nav_span_normal_2" onclick="change_css_span(this,2), kejian_junior(' =7')">初一</a>
                
                                <a target='_blank' class="yi111 sq2 y1y title_middle_nav_span_normal_2" onclick="change_css_span(this,2), kejian_junior(' =8')">初二</a>
                            
                            
                                <a target='_blank' class="yi111 sq3 y1y title_middle_nav_span_normal_2" onclick="change_css_span(this,2), kejian_junior(' =9')">初三</a>
                            </div>
                            
                            <a target='_blank' class="yi111 sq4 y1y title_middle_nav_span_normal_2" href="../Test_Center?level=2&type=2">More</a>
                            
                        </div>
                    </div>

                    <div class="jpshijuan jsppd">
                        <div class="jpst_lianjie fl">
                            <ul id="test_mingxiao_junior"></ul>
                        </div>

                        <div class="jpst_lianjie fl mgjpst">
                            <ul id="kejian_junior"></ul>
                        </div>
                    </div>

                </div>
            </div><!-- 高中资源 -->
        </div>

        @Html.Partial("~/Common/bottom.ascx")
    </body>
</html>
