@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>网站直通车</title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" /> 
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" href="css/proforma.css">
    <link rel="stylesheet" href="css/Literature_culture.css">
    <link rel="stylesheet" type="text/css" href="css/News_consulting_industry.css" />
    <link rel="stylesheet" href="css/Contact_us.css" />
    <link rel="stylesheet" type="text/css" href="css/Through_train.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/jquery.reveal.js"></script>
    <style>
        .lxclan {
            background: #7bbd26;
        }

        .fenlei11 {
            width: 100%;
            height: 100px;
            border: 1px solid #f2f2f2;
            margin-top: 10px;
            position: relative;
        }

        .shushu {
            padding-left: 10px;
            padding-top: 10px;
        }

        .fla {
            position: absolute;
            top: 45px;
            left: 150px;
        }

        .fenlei11:hover {
            border: 1px solid #7bbd26;
        }

            .fenlei11:hover .fla {
                color: #7bbd26;
            }

        .remenxiazai1 > li {
            margin-top: 8px;
            position: relative;
        }

        .rmxzdk {
            position: absolute;
            left: 5px;
        }

        .fl {
            float: left;
        }

        .dkbeijin {
            width: 17px;
            height: 17px;
            background: url(../img/dandan.png);
            z-index: 999;
        }

        .rm1 {
            color: #ff4a52;
        }

        .rm2 {
            color: #808ffb;
        }

        .rm3 {
            color: #aad380;
        }

        .lianxice33 {
            background: #ff4a52;
        }

        .lianxice33 {
            background: #ff4a52;
        }

        .ppdd1 {
            margin-left: 85px;
        }

        .ys9 {
            background: #7bbd27;
        }
    </style>
</head>
<body>
    @Html.Partial("~/Common/top1.ascx")

    <div id="" class="zhitongche">
        <div id="" class="beis1 fl">
            <img src="img/0011_1.png" class="img0011">
            <b class="b0011">常用工具</b>
        </div>
        <ul class="ztccs">
    
            <li class="fl">
                <a target='_blank' href="../Elite_School" class="ztca">名校套题</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../Test_Center?type=1" class="ztca">最新试题</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../Beike_Center" class="ztca">精品备课</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../Guide" class="ztca">最新专题</a>
            </li>
            <li class="fl">
                <a target='_blank' href="http://zujuan.51kaoxue.com" class="ztca">精品组卷</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../Past_Exam" class="ztca">高考真卷</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../President" class="ztca">名师资源</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../School" class="ztca">名校资源</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../Beike_Center" class="ztca">备课中心</a>
            </li>
        </ul>
    </div>

    <div id="" class="zhitongche">
        <div id="" class="beis1 bys2 fl">
            <img src="img/0022_1.png" class="img0011 imgb1">
            <b class="b0011">频 道</b>
        </div>
        <ul class="ztccs">
            <li class="fl">
                <a target='_blank' href="Test_Center?level=3&type=6" class="ztca aztc1">素材</a>
            </li>
            <li class="fl">
                <a target='_blank' href="Test_Center?level=3&type=2" class="ztca aztc1">课件</a>
            </li>
            <li class="fl">
                <a target='_blank' href="Test_Center?level=3&type=4" class="ztca aztc1">学案</a>
            </li>
            <li class="fl">
                <a target='_blank' href="Test_Center?level=3&type=3" class="ztca aztc1">教案</a>
            </li>
            <li class="fl">
                <a target='_blank' href="Test_Center?level=3&type=5" class="ztca aztc1">同步</a>
            </li>
        </ul>
    </div>
    <script>
        function subjecturl(level, subjectid) {
            location.href = "../Test_Center?level=" + level + "&subjectid=" + subjectid;
        }
    </script>

    <div id="" class="zhitongche">
        <div id="" class="beis1 bys3 fl">
            <img src="img/0033_1.png" class="img0011 imgb1">
            <b class="b0011">学科(高中)</b>
        </div>
        <ul class="ztccs">

            <li class="fl">
                <a target='_blank' class="ztca aztc2" onclick="subjecturl(3,19)">语文</a>
            </li>
            <li class="fl">
                <a target='_blank' class="ztca aztc2" onclick="subjecturl(3,20)">数学</a>
            </li>
            <li class="fl">
                <a target='_blank' class="ztca aztc2" onclick="subjecturl(3,21)">英语</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(3,22)" class="ztca aztc2">物理</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(3,23)" class="ztca aztc2">化学</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(3,24)" class="ztca aztc2">生物</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(3,25)" class="ztca aztc2">历史</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(3,26)" class="ztca aztc2">地理</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(3,27)" class="ztca aztc2">政治</a>
            </li>
        </ul>
    </div>

    <div id="" class="zhitongche">
        <div id="" class="beis1 bys4 fl">
            <img src="img/0044_1.png" class="img0011 imgb1">
            <b class="b0011">学科(初中)</b>
        </div>
        <ul class="ztccs">

            <li class="fl">
                <a target='_blank' onclick="subjecturl(2,9)" class="ztca aztc3">语文</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(2,10)" class="ztca aztc3">数学</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(2,11)" class="ztca aztc3">英语</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(2,12)" class="ztca aztc3">物理</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(2,13)" class="ztca aztc3">化学</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(2,14)" class="ztca aztc3">生物</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(2,15)" class="ztca aztc3">历史</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(2,16)" class="ztca aztc3">地理</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(2,17)" class="ztca aztc3">政治</a>
            </li>
            <li class="fl">
                <a target='_blank' onclick="subjecturl(2,18)" class="ztca aztc3">科学</a>
            </li>
        </ul>
    </div>

    <div id="" class="zhitongche">
        <div id="" class="beis1 bys5 fl">
            <img src="img/0055_1.png" class="img0011 imgb1">
            <b class="b0011">天天阅读</b>
        </div>
        <ul class="ztccs">
   
            <li class="fl">
                <a target='_blank' href="../News?type=1&typename=高考动态" class="ztca aztc4">高考动态</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../News?type=2&typename=教学研究" class="ztca aztc4">教学研究</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../News?type=3&typename=科研论文" class="ztca aztc4">科研论文</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../News?type=4&typename=学习方法" class="ztca aztc4">学习方法</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../News?type=5&typename=经验交流" class="ztca aztc4">经验交流</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../News?type=6&typename=教材教法" class="ztca aztc4">教材教法</a>
            </li>
        </ul>
    </div>

    <div id="" class="zhitongche">
        <div id="" class="beis1 bys6 fl">
            <img src="img/0066_1.png" class="img0011 imgb1">
            <b class="b0011">学段</b>
        </div>
        <ul class="ztccs">
   
            <li class="fl">
                <a target='_blank' href="" class="ztca aztc5">初中</a>
            </li>
            <li class="fl">
                <a target='_blank' href="" class="ztca aztc5">高中</a>
            </li>
        </ul>
    </div>

    <div id="" class="zhitongche">
        <div id="" class="beis1 bys7 fl">
            <img src="img/0077_1.png" class="img0011 imgb1">
            <b class="b0011">高考备考</b>
        </div>
        <ul class="ztccs">

            <li class="fl">
                <a target='_blank' href="../Gaokao_Beikao?category=1" class="ztca aztc6">一轮复习</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../Gaokao_Beikao?category=2" class="ztca aztc6">二轮复习</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../Gaokao_Beikao?category=3" class="ztca aztc6">三轮复习</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../Gaokao_Beikao?category=4" class="ztca aztc6">高考总复习</a>
            </li>
        </ul>
    </div>

    <div id="" class="zhitongche">
        <div id="" class="beis1 bys8 fl">
            <img src="img/0088_1.png" class="img0011 imgb1">
            <b class="b0011">文学国学</b>
        </div>
        <ul class="ztccs">

            <li class="fl">
                <a target='_blank' href="../Ancient" class="ztca aztc7">国学</a>
            </li>
            <li class="fl">
                <a target='_blank' href="../Ancient" class="ztca aztc7">诗词鉴赏</a>
            </li>
        </ul>
    </div>

    @*<div id="" class="zhitongche">
        <ul class="ztccs">
            <li class="fl">
                <div id="" class="beis1 bys9">
                    <img src="img/0099.jpg" /> class="img0011 imgb1">
                    <b class="b0011">作文</b>
                </div>
            </li>
            <li class="fl">
                <a target='_blank' href="" class="ztca aztc8">分类作文</a>
            </li>
            <li class="fl">
                <a target='_blank' href="" class="ztca aztc8">作文素材</a>
            </li>
            <li class="fl">
                <a target='_blank' href="" class="ztca aztc8">作文指导</a>
            </li>
            <li class="fl">
                <a target='_blank' href="" class="ztca aztc8">高考作文</a>
            </li>
            <li class="fl">
                <a target='_blank' href="" class="ztca aztc8">英语作文</a>
            </li>
            <li class="fl">
                <a target='_blank' href="" class="ztca aztc8">满分作文</a>
            </li>
        </ul>
    </div>

    <div id="" class="zhitongche" style="margin-bottom:60px;">
        <ul class="ztccs">
            <li class="fl">
                <div id="" class="beis1 bys10">
                    <img src="img/00100.jpg" /> class="img0011 imgb1">
                    <b class="b0011">其他</b>
                </div>
            </li>
            <li class="fl">
                <a target='_blank' href="" class="ztca aztc9">个人中心</a>
            </li>
        </ul>
    </div>*@

@Html.Partial("~/Common/bottom.ascx")

</body>
</html>