@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>好资源 - 备课中心</title>
    <link href="~/CSS/common.css" rel="stylesheet" />
    <link href="~/CSS/Beike_Center.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    
    <!-- Edit Below -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/Beike_Center.js"></script>
    @* 弹窗样式表 *@
    <link rel="stylesheet" href="../css/reveal.css">
    @* 弹窗演示表结束 *@
    @* 弹窗脚本 *@
    <script type="text/javascript" src="../CustomScripts/jquery.reveal.js"></script>
    @* 弹窗脚本结束 *@
</head>
<body>
    
    <div id="Main">
        @Html.Partial("~/Common/top3.ascx")
        <div id="content">
            <div id="nav_tree">
                <span id="tree_left">
                    首页 > 备课中心
                </span>
                <span id="tree_right">
                    @Html.Partial("~/Common/Search2.ascx")
                </span>
            </div>
            <div id="condition">
                <div class="condition_contrainer">
                    <div class="condition_contrainer_title">学段：</div>
                    <div class="condition_contrainer_content">
                        <a class="condition_selected" id="level_button3" onclick="a_selected(this),level_selected(3)">高中</a>
                        <a onclick="a_selected(this),level_selected(2)" id="level_button2">初中</a>
                    </div>
                </div>
                <div class="condition_contrainer">
                    <div class="condition_contrainer_title">学科：</div>
                    <div class="condition_contrainer_content" id="subject">
                        
                    </div>
                </div>
                <div class="condition_contrainer">
                    <div class="condition_contrainer_title">版本：</div>
                    <div class="condition_contrainer_content" id="version_first">
                        
                    </div>
                    
                </div>
                <div class="condition_contrainer">
                    <div class="condition_contrainer_title">子项：</div>
                    <div class="condition_contrainer_content" id="version_second">

                    </div>
                </div>
                <div class="condition_contrainer">
                    <div class="condition_contrainer_title">类型：</div>
                    <div class="condition_contrainer_content">
                        <a class="condition_selected" onclick="type_selected(''), a_selected(this)">全部</a>
                        <a id="type2" onclick="type_selected(2), a_selected(this)">课件</a>
                        <a id="type3" onclick="type_selected(3), a_selected(this)">教案</a>
                        <a id="type4" onclick="type_selected(4), a_selected(this)">学案</a>
                        <a id="type6" onclick="type_selected(6), a_selected(this)">同步</a>
                        <a id="type5" onclick="type_selected(5), a_selected(this)">素材</a>
                    </div>
                </div>
            </div>
            <div id="list">
                <div id="directory">
                    
                </div>
                <div id="data_list">
                    <div class="middle_content_bottom_text_left_title">
                        <span class="title_left">共享文件</span>
                        <span class="title_left title_left1" id="all_data_count">该章节（8720份）</span>
                        <span class="title_left title_left1" id="all_data_count_directory">全部（8720份）</span>
                        <a class="download_button">上传文件积分</a>
                    </div>
                    <div id="data_list_td">
                    </div>
                    <div id="pager">
                        <div id="pager_buttons">
                            <div id="prev">
                                <a onclick="anchor(this),pre_page() ">上一页</a>
                            </div>
                            <div id="pages">
                                @*<span>…</span>
                                <a class="pages_href_selected">1</a>
                                <a class="pages_href_normal">2</a>
                                <a class="pages_href_normal">3</a>
                                <a class="pages_href_normal">4</a>
                                <a class="pages_href_normal">5</a>
                                <span>…</span>*@
                            </div>
                            <div id="next"><a onclick="anchor(this),next_page() ">下一页</a></div>
                            <div id="turn"><span>跳转到</span><input type="text" id="page_size" /><span>页</span><a class="pages_href_selected" onclick="anchor(this),Go() ">GO</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Common/bottom.ascx")
    <a href="#" id="message_start" class="big-link" data-reveal-id="myModal" style="display:none;">
        jquery1
    </a>

    <div id="myModal" class="reveal-modal" style="border: 1px solid #3b4f7c; ">
        <h1 style="font-family:'幼圆'">目录正在加载...</h1>
        <p id="message_text" style="font-family:'微软雅黑'">Data being loaded, please wait a minute.</p>
        <a class="close-reveal-modal" id="message_close" style="display:none">&#215;</a>
    </div>

    @* 预览 *@
    <a href="#" id="message_preview" class="big-link" data-reveal-id="myModal_preview" style="display:none;">
        jquery1
    </a>

    <div id="myModal_preview" class="reveal-modal" style="border: 1px solid #3b4f7c;width:900px; margin-left:-440px; padding:0px; ">
        <iframe id="download_preview" width="895" height="500">

        </iframe>
        <a class="close-reveal-modal" id="message_close">&#215;</a>
    </div>


    @* 消息提示 *@
<a href="#" id="message_download" class="big-link" data-reveal-id="myModal_download" style="display:none;">
    jquery1
</a>
<div id="myModal_download" class="reveal-modal" style="border: 1px solid #3b4f7c; ">
    <h1 style="font-family:'幼圆'" id="message_content">系统提示:</h1>
    <p id="message_text" style="font-family:'微软雅黑'">Attention please.</p>
    <a class="close-reveal-modal" id="message_close">&#215;</a>
</div>
</body>
</html>
