@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>备课中心</title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" /> 
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" href="css/test_questions.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.paging.min.js"></script>
    <script src="~/CustomScripts/Beike_Center.js"></script>
</head>
<body>
    @Html.Partial("~/Common/top2.ascx")

    <div class="xueduan" style="height:auto;">
        <div class="xd5 fl">
            <div class="beijing">
                <div class="xd5_div1 fl"><img src="img/duanluo.png" class="xdtb5"><a target='_blank' class="xd5a"><b>学 段</b></a></div>
                <div class="xd5_hover fl xd5_hover_selected" id="level_button3" onclick="a_selected(this, 'xd5_hover_selected'), level_selected(3)">
                    <a target='_blank'>高中</a>
                </div>
                <div class="xd5_hover fl" id="level_button2" onclick="a_selected(this, 'xd5_hover_selected'), level_selected(2) ">
                    <a target='_blank'>初中</a>
                </div>

            </div>
        </div>

        <div class="xd52_new fl">
            <div class="xd521 fl">
                <a target='_blank' class="stzxxueke"><img src="img/xueke.png" class="xdtb5"><b>学 科</b></a>
            </div>
            <div class="xd522 fl" style="height:100%;">
                <div class="xdl1039 fl" id="subject">
                </div>
            </div>

        </div>

        <div class="xd52 fl">
            <div class="xd521 x521 fl">
                <a target='_blank' class="stzxxueke"><img src="img/xueke.png" class="xdtb521"><b>版 本</b></a>
            </div>
            <div class="xd522 fl">
                <div class="xdl1039 fl" id="version_first">
                </div>
            </div>

        </div>

        <div class="xd5">
            <div class="beijing" id="version_second">

            </div>
        </div>

        <div class="xd5 xd5mg" style="margin-top:0px;">
            <div class="beijing">
                <div class="xd5_div1 fl xd51k1"><img src="img/leixin.png" class="xdtb5"><a target='_blank' class="xd5a"><b>类 型</b></a></div>
                <div class="xd5_hover xdh15 fl xdh15_selected" onclick="type_selected(''), a_selected(this, 'xdh15_selected')">
                    <a target='_blank'>全部</a>
                </div>
                <div class="xd5_hover xdh15 fl" id="type2" onclick="type_selected(2), a_selected(this, 'xdh15_selected')">
                    <a target='_blank'>课件</a>
                </div>
                <div class="xd5_hover xdh15 fl" id="type3" onclick="type_selected(3), a_selected(this, 'xdh15_selected')">
                    <a target='_blank'>教案</a>
                </div>
                <div class="xd5_hover xdh15 fl" id="type4" onclick="type_selected(4), a_selected(this, 'xdh15_selected')">
                    <a target='_blank'>学案</a>
                </div>
                <div class="xd5_hover xdh15 fl" id="type6" onclick="type_selected(6), a_selected(this, 'xdh15_selected')">
                    <a target='_blank'>同步</a>
                </div>
                <div class="xd5_hover xdh15 fl" id="type5" onclick="type_selected(5), a_selected(this, 'xdh15_selected')">
                    <a target='_blank'>素材</a>
                </div>
            </div>
        </div>
    </div><!-- 学段 -->

    <div class="lianxi" style="overflow:hidden;">
        <div class="lianxice210 fl border_bott_e5" id="directory" style="height:auto;">
            <div class="waiting_bg"></div>
        </div>

        <div class="lianxice fl">
            <div class="lxclan mar_lf_18" id="anchor_id">
                <b class="bix"><span id="all_data_count"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="all_data_count_directory"></span></b>
            </div>
            <div id="data_list_td" class="mar_lf_18 lianxice">
                <div class="lxc_320">
                    <div class="wdk fl"></div>
                    <div class="wenbenkui fl">
                        <a target='_blank' href=""><b class="b320">2016秋语文人教版必修1练习：模块检测卷一 Word版含解析</b></a><br>
                        <span class="lxcsp320">下载扣点：2点 2016/9/5 16:01:52 类型：同步</span>
                    </div>
                    <div class="xiazai fl">
                        <a target='_blank' href="" class="xztb1 fl"><img src="img/yulan.png" alt=""><img src="img/hover-31.png" alt="" class="dpnone"></a>
                        <a target='_blank' href="" class="xztb2 fl"><img src="img/xiazaitb.png" alt=""><img src="img/yll.png" alt="" class="yll"></a>
                    </div>
                </div>
                <div class="lxc_320">
                    <div class="wdk fl"></div>
                    <div class="wenbenkui fl">
                        <a target='_blank' href=""><b class="b320">2016秋语文人教版必修1练习：模块检测卷一 Word版含解析</b></a><br>
                        <span class="lxcsp320">下载扣点：2点 2016/9/5 16:01:52 类型：同步</span>
                    </div>
                    <div class="xiazai fl">
                        <a target='_blank' href="" class="xztb1 fl"><img src="img/yulan.png" alt=""><img src="img/hover-31.png" alt="" class="dpnone"></a>
                        <a target='_blank' href="" class="xztb2 fl"><img src="img/xiazaitb.png" alt=""><img src="img/yll.png" alt="" class="yll"></a>
                    </div>
                </div>
                <div class="lxc_320">
                    <div class="wdk fl"></div>
                    <div class="wenbenkui fl">
                        <a target='_blank' href=""><b class="b320">2016秋语文人教版必修1练习：模块检测卷一 Word版含解析</b></a><br>
                        <span class="lxcsp320">下载扣点：2点 2016/9/5 16:01:52 类型：同步</span>
                    </div>
                    <div class="xiazai fl">
                        <a target='_blank' href="" class="xztb1 fl"><img src="img/yulan.png" alt=""><img src="img/hover-31.png" alt="" class="dpnone"></a>
                        <a target='_blank' href="" class="xztb2 fl"><img src="img/xiazaitb.png" alt=""><img src="img/yll.png" alt="" class="yll"></a>
                    </div>
                </div>
                <div class="lxc_320">
                    <div class="wdk fl"></div>
                    <div class="wenbenkui fl">
                        <a target='_blank' href=""><b class="b320">2016秋语文人教版必修1练习：模块检测卷一 Word版含解析</b></a><br>
                        <span class="lxcsp320">下载扣点：2点 2016/9/5 16:01:52 类型：同步</span>
                    </div>
                    <div class="xiazai fl">
                        <a target='_blank' href="" class="xztb1 fl"><img src="img/yulan.png" alt=""><img src="img/hover-31.png" alt="" class="dpnone"></a>
                        <a target='_blank' href="" class="xztb2 fl"><img src="img/xiazaitb.png" alt=""><img src="img/yll.png" alt="" class="yll"></a>
                    </div>
                </div>
                <div class="lxc_320">
                    <div class="wdk fl"></div>
                    <div class="wenbenkui fl">
                        <a target='_blank' href=""><b class="b320">2016秋语文人教版必修1练习：模块检测卷一 Word版含解析</b></a><br>
                        <span class="lxcsp320">下载扣点：2点 2016/9/5 16:01:52 类型：同步</span>
                    </div>
                    <div class="xiazai fl">
                        <a target='_blank' href="" class="xztb1 fl"><img src="img/yulan.png" alt=""><img src="img/hover-31.png" alt="" class="dpnone"></a>
                        <a target='_blank' href="" class="xztb2 fl"><img src="img/xiazaitb.png" alt=""><img src="img/yll.png" alt="" class="yll"></a>
                    </div>
                </div>
                <div class="lxc_320">
                    <div class="wdk fl"></div>
                    <div class="wenbenkui fl">
                        <a target='_blank' href=""><b class="b320">2016秋语文人教版必修1练习：模块检测卷一 Word版含解析</b></a><br>
                        <span class="lxcsp320">下载扣点：2点 2016/9/5 16:01:52 类型：同步</span>
                    </div>
                    <div class="xiazai fl">
                        <a target='_blank' href="" class="xztb1 fl"><img src="img/yulan.png" alt=""><img src="img/hover-31.png" alt="" class="dpnone"></a>
                        <a target='_blank' href="" class="xztb2 fl"><img src="img/xiazaitb.png" alt=""><img src="img/yll.png" alt="" class="yll"></a>
                    </div>
                </div>
                <div class="lxc_320">
                    <div class="wdk fl"></div>
                    <div class="wenbenkui fl">
                        <a target='_blank' href=""><b class="b320">2016秋语文人教版必修1练习：模块检测卷一 Word版含解析</b></a><br>
                        <span class="lxcsp320">下载扣点：2点 2016/9/5 16:01:52 类型：同步</span>
                    </div>
                    <div class="xiazai fl">
                        <a target='_blank' href="" class="xztb1 fl"><img src="img/yulan.png" alt=""><img src="img/hover-31.png" alt="" class="dpnone"></a>
                        <a target='_blank' href="" class="xztb2 fl"><img src="img/xiazaitb.png" alt=""><img src="img/yll.png" alt="" class="yll"></a>
                    </div>
                </div>
                <div class="lxc_320">
                    <div class="wdk fl"></div>
                    <div class="wenbenkui fl">
                        <a target='_blank' href=""><b class="b320">2016秋语文人教版必修1练习：模块检测卷一 Word版含解析</b></a><br>
                        <span class="lxcsp320">下载扣点：2点 2016/9/5 16:01:52 类型：同步</span>
                    </div>
                    <div class="xiazai fl">
                        <a target='_blank' href="" class="xztb1 fl"><img src="img/yulan.png" alt=""><img src="img/hover-31.png" alt="" class="dpnone"></a>
                        <a target='_blank' href="" class="xztb2 fl"><img src="img/xiazaitb.png" alt=""><img src="img/yll.png" alt="" class="yll"></a>
                    </div>
                </div>
                <div class="lxc_320">
                    <div class="wdk fl"></div>
                    <div class="wenbenkui fl">
                        <a target='_blank' href=""><b class="b320">2016秋语文人教版必修1练习：模块检测卷一 Word版含解析</b></a><br>
                        <span class="lxcsp320">下载扣点：2点 2016/9/5 16:01:52 类型：同步</span>
                    </div>
                    <div class="xiazai fl">
                        <a target='_blank' href="" class="xztb1 fl"><img src="img/yulan.png" alt=""><img src="img/hover-31.png" alt="" class="dpnone"></a>
                        <a target='_blank' href="" class="xztb2 fl"><img src="img/xiazaitb.png" alt=""><img src="img/yll.png" alt="" class="yll"></a>
                    </div>
                </div>
            </div>
            <div class="pager" id="pages">
                @*<a target='_blank' href="" class="anniu1 syy1">&nbsp;&nbsp;&nbsp;&nbsp;上一页</a>
            <a target='_blank' href="" class="an1 ann1">&nbsp;&nbsp;&nbsp;<span class="ysp1" id="ysp11">1</span></a>
            <a target='_blank' href="" class="an2">&nbsp;&nbsp;&nbsp;<span class="ysp2">2</span></a>
            <a target='_blank' href="" class="an3">&nbsp;&nbsp;&nbsp;<span class="ysp3">3</span></a>
            <a target='_blank' href="" class="an4">&nbsp;&nbsp;&nbsp;<span class="ysp4">4</span></a>
            <a target='_blank' href="" class="an5">&nbsp;&nbsp;&nbsp;<span class="ysp5">5</span></a>
            <span class="anniusp">...</span>
            <a target='_blank' href="#" class="anniu1 xiaan2 xyy1">&nbsp;&nbsp;&nbsp;&nbsp;下一页</a>
            <span class="anniusp2">跳转到</span>
            <input type="text" class="tzsr" id="lll" value="">
            <span class="an87" id="data_go" onclick="go()">&nbsp;&nbsp;&nbsp;G O</span>*@
            </div> <!-- 跳转部分 -->
        </div>
    </div>

    <script>
        var shuzhi1 = $(".ysp1").html();
        var zs1 = Number(shuzhi1);

        var shuzhi2 = $(".ysp2").html();
        var zs2 = Number(shuzhi2);

        var shuzhi3 = $(".ysp3").html();
        var zs3 = Number(shuzhi3);

        var shuzhi4 = $(".ysp4").html();
        var zs4 = Number(shuzhi4);

        var shuzhi5 = $(".ysp5").html();
        var zs5 = Number(shuzhi5);

        $(".xyy1").click(function () {
            var jd1 = zs1 += 1;
            var jd2 = zs2 += 1;
            var jd3 = zs3 += 1;
            var jd4 = zs4 += 1;
            var jd5 = zs5 += 1;
            $(".ysp1").html(jd1);
            $(".ysp2").html(jd2);
            $(".ysp3").html(jd3);
            $(".ysp4").html(jd4);
            $(".ysp5").html(jd5);
        });

        $(".syy1").click(function () {
            var jd1 = zs1 - 1;
            var jd2 = zs2 - 1;
            var jd3 = zs3 - 1;
            var jd4 = zs4 - 1;
            var jd5 = zs5 - 1;
            $(".ysp1").html(jd1);
            $(".ysp2").html(jd2);
            $(".ysp3").html(jd3);
            $(".ysp4").html(jd4);
            $(".ysp5").html(jd5);


        });
        //页面分页加载

        function go() {
            var zansan = $("#lll").val()
            var goyemian = Number(zansan);
            $(".ysp1").html(goyemian);
            $(".ysp2").html(goyemian + 1);
            $(".ysp3").html(goyemian + 2);
            $(".ysp4").html(goyemian + 3);
            $(".ysp5").html(goyemian + 4);
        }
        //go改变页码
    </script>

    @Html.Partial("~/Common/bottom.ascx")
</body>
</html>
