@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频详情页 - 51考学网</title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" />

    @*<link rel="stylesheet" href="css/example.css" />
        <link rel="stylesheet" href="css/pygments.css" />
        <link rel="stylesheet" href="css/slideshow.css" />*@

    <link rel="stylesheet" href="css/index.css">
    <link href="~/CSS/default.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da1.css">
    <link rel="stylesheet" href="css/test_questions.css" />
    <link rel="stylesheet" type="text/css" href="css/video_play.css">
    <link href="~/engine1/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/slideshow.js"></script>
    <script src="~/CustomScripts/VideoPlay.js"></script>
</head>
<body>
    @Html.Partial("~/Common/top4.ascx")
    <div class="content">
        <div class="play_content">
            <div class="title_com play_title" id="title1">
                2017届高考地理一轮复习备考建议 河北沧州一中 李孝阁
            </div>
            <div class="play_movie" id="title2">
                2017届高考地理一轮复习备考建议 河北沧州一中 李孝阁
            </div>
        </div>
        <div class="play_intro mar_bott_30">
            <div class="play_intro_lf fl">
                <div class="video_syno">
                    <div class="title_com video_syno_title">
                        视频简介
                    </div>
                    <div class="content_com video_syno_content border_lr_e5">
                        <p id="title3">2017届高考地理一轮复习备考建议 河北沧州一中 李孝阁</p>
                        <p id="teacher">课程主讲：李孝阁</p>
                        <p id="updateTime">课程日期：2016-08-26</p>
                        <p>课程状态：已经上线</p>
                        <p id="videoTime">视频时长：39分钟</p>
                        <p id="classCount">视频课时：1课时</p>
                        <p id="viewingTimes">观看人数：1365</p>
                    </div>
                </div>
                <div class="video_view_rec">
                    <div class="title_com video_view_rec_title">
                        视频观看记录
                    </div>
                    <div class="content_com video_view_rec_content border_bott_e5 border_lr_e5">
                        <ul id="Watching_Record"></ul>
                    </div>
                </div>
                <div class="video_ranking">
                    <div class="title_com video_ranking_title">
                        视频排行榜
                    </div>
                    <div class="content_com video_ranking_content border_bott_e5 border_lr_e5">
                        <ul id="Video_List"></ul>
                    </div>
                </div>
            </div>
            <div class="play_intro_rg fl mar_lf_12">
                <div class="video_intro">
                    <div class="title_com video_intro_title">
                        视频介绍
                    </div>
                    <div class="content_com video_intro_content border_bott_e5 border_lr_e5" id="introduce">
                        <p class="mar_bott_40">
                            2016高考已经结束，2017年高考一轮复习已经开始。为了能让所有的刚刚进入复习的教师从一开始就做好一轮复习计划。
                            我们邀请了全国各地几十名百强中学各学科负责人分享他们的2017年一轮复习规划。新鲜成果，拿来即用;名校带班，
                            直接参考;高三一轮，从零开始，确保高三总复习无忧！每个学科每个人讲解内容包括四个主题：
                        </p>
                        <p>1、根据2016年高考试题分析2017年高考趋势。</p>
                        <p>2、2017一轮复习整体设计规划。科学做好全程复习轮次阶段划分，精准设计各阶段课时安排。</p>
                        <p>3、各学科一轮复习中的备考策略和常见问题！如：考纲、教材、考试的关系，构建各学科知识网络，对重点、难点知识进行梳理。</p>
                        <p>4、个人教法经验分享。教材必修选修内容的处理，题型的解答技巧，提高学生复习效率的经验等。</p>
                        <p>5、根据2016年高考试题分析2017年高考趋势。</p>
                        <p>6、2017一轮复习整体设计规划。科学做好全程复习轮次阶段划分，精准设计各阶段课时安排。</p>
                        <p>7、各学科一轮复习中的备考策略和常见问题！如：考纲、教材、考试的关系，构建各学科知识网络，对重点、难点知识进行梳理。</p>
                        <p>8、个人教法经验分享。教材必修选修内容的处理，题型的解答技巧，提高学生复习效率的经验等。</p>
                    </div>
                </div>
                <div class="related_video">
                    <div class="title_com related_video_title">
                        相关视频
                    </div>
                    <div class="content_com related_video_content border_bott_e5 border_lr_e5">
                        <div id="Related_Videos" class="">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Common/bottom.ascx")
</body>
</html>
