@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文学国学阅读页</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" type="text/css" href="css/Download_page.css" />
    <link rel="stylesheet" href="css/Literature_reading_page.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/Ancient_Article.js"></script>
    <style>
        a {
            cursor:pointer;
        }
    </style>
</head>
<body>
    @Html.Partial("~/Common/top2.ascx")
    <div class="lianxi">
        <div class="lianxice210 fl">
            <div class="lianxice33 ">
                <a  class="xzgd1">更多》</a>
                <img src="img/xiazaitubiao.png" class="xztubiao" >
                <b>阅读排行榜</b>
            </div>
            <div class="lxgao521">
                <ul class="remenxiazai11" id="Reading_List">
                </ul>
            </div>
            <div class="lianxice33 rmxz333">
                <a  class="xzgd1">更多》</a>
                <img src="img/tuijianxg.png" class="xztubiao" >
                <b>相关推荐</b>
            </div>
            <div class="lxgao521">
                <ul class="remenxiazai1" id="relative_recommend">
                </ul>
            </div>
        </div>

        <div class="lianxice fl">
            <div class="xzkxianshi">
                <div class="imgxztb"><img src="img/shijuantubiao1.png" class="sbtkz" /></div>
                <b class="xznldd" id="page_title">《乐府诗集》卷九十一 新乐府辞二</b>
            </div>
            <div  class="xzpwenben">
                <div class="bgwbk" id="lists" style="padding-bottom:20px;">
                    
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>
    </div>

    @Html.Partial("~/Common/bottom.ascx")

</body>
</html>
