@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课堂讲学 - 51考学网</title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" href="css/test_questions.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.paging.min.js"></script>
    <script src="~/CustomScripts/Classroom_Teaching.js"></script>

    <style>
        .lianxi img {
            display: inherit;
            display: block;
        }
    </style>
</head>
<body>
    @Html.Partial("~/Common/top4.ascx")

    <div class="xueduan" style="height:auto;">
        <div class="xd5 fl">
            <div class="beijing" id="GetVideoType">
                <div class="xd5_div1 fl"><img src="img/duanluo.png" class="xdtb5"><a target='_blank' class="xd5a"><b>视 频</b></a></div>
                <div class="xd5_hover fl xd5_hover_selected" id="level_button3" onclick="a_selected(this, 'xd5_hover_selected'), level_selected(3)">
                    <a target='_blank'>课堂实录</a>
                </div>
            </div>
        </div>

        <div class="xd52_new fl">
            <div class="xd521 fl">
                <a target='_blank' class="stzxxueke"><img src="img/xueke.png" class="xdtb5"><b>年 级</b></a>
            </div>
            <div class="xd522 fl" style="height:100%;">
                <div class="xdl1039 fl" id="GetGrade">
                    
                </div>

            </div>
        </div><!-- 学段 -->
        <div class="xd52 fl">
            <div class="xd521 x521 fl">
                <a target='_blank' class="stzxxueke"><img src="img/kemu.png" class="xdtb521"><b>科 目</b></a>
            </div>
            <div class="xd522 fl">
                <div class="xdl1039 fl" id="GetSubject">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="lianxi" style="overflow:hidden;">
        <div class="lianxice210 fl border_bott_e5" id="GetParentChaper" style="height:auto;">
            
        </div>

        <div class="lianxice fl">
            <div class="lxclan mar_lf_18" id="anchor_id">
                <b class="bix"><span id="all_data_count">视频（55个）</span></b>
            </div>
            <div id="GetList" class="mar_lf_18 lianxice">
            </div>
            <div style="clear:both"></div>                                                                                                                                                                      
            <div class="pager" id="pages">
                @*<a data-page="1" href="#" disabled="disabled" class="disabled">首页</a>
                <a data-page="1" href="#" disabled="disabled" class="disabled">上一页</a>
                <a data-page="1" href="#" class="pager_selected">1</a>
                <a data-page="2" href="#2">2</a>
                <a data-page="3" href="#3">3</a>
                <a data-page="4" href="#4">4</a>
                <a data-page="5" href="#5">5</a>
                <a data-page="6" href="#6">6</a>
                <a data-page="2" href="#">下一页</a>
                <a data-page="171" href="#">末页</a>*@
            </div> <!-- 跳转部分 -->
            
    </div>
    </div>
    <script>
        var shuzhi1 = $(".ysp1").html();
        var zs1 = Number(shuzhi1);

        var shuzhi2 = $(".ysp2").html();
        var zs2 = Number(shuzhi2);

        var shuzhi3 = $(".ysp3").html();
        var zs3 = Number(shuzhi3);

        var shuzhi4 = $(".ysp4").html();
        var zs4 = Number(shuzhi4);

        var shuzhi5 = $(".ysp5").html();
        var zs5 = Number(shuzhi5);

        $(".xyy1").click(function () {
            var jd1 = zs1 += 1;
            var jd2 = zs2 += 1;
            var jd3 = zs3 += 1;
            var jd4 = zs4 += 1;
            var jd5 = zs5 += 1;
            $(".ysp1").html(jd1);
            $(".ysp2").html(jd2);
            $(".ysp3").html(jd3);
            $(".ysp4").html(jd4);
            $(".ysp5").html(jd5);
        });

        $(".syy1").click(function () {
            var jd1 = zs1 - 1;
            var jd2 = zs2 - 1;
            var jd3 = zs3 - 1;
            var jd4 = zs4 - 1;
            var jd5 = zs5 - 1;
            $(".ysp1").html(jd1);
            $(".ysp2").html(jd2);
            $(".ysp3").html(jd3);
            $(".ysp4").html(jd4);
            $(".ysp5").html(jd5);


        });
        //页面分页加载

        function go() {
            var zansan = $("#lll").val()
            var goyemian = Number(zansan);
            $(".ysp1").html(goyemian);
            $(".ysp2").html(goyemian + 1);
            $(".ysp3").html(goyemian + 2);
            $(".ysp4").html(goyemian + 3);
            $(".ysp5").html(goyemian + 4);
        }
        //go改变页码
    </script>
    @Html.Partial("~/Common/bottom.ascx")
</body>
</html>
