@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>好资源 - 登录</title>
    <link href="~/CSS/Login.css" rel="stylesheet" />
    @* 弹窗样式表 *@
    <link rel="stylesheet" href="../css/reveal.css">
    @* 弹窗演示表结束 *@
    <script src="~/js/jquery-1.8.2.min.js"></script>
    <script src="~/CustomScripts/Login.js"></script>
    @* 弹窗脚本 *@
    <script type="text/javascript" src="../CustomScripts/jquery.reveal.js"></script>
    @* 弹窗脚本结束 *@
</head>
<body onkeydown="loginEnterCheck()">
    <div id="container">
        <div id="login_top">
            <div id="login_top_right">
                <a href="../Home">网站首页</a>
                <span>|</span>
                <a>名校资源库<img src="~/Images/%e7%99%bb%e5%bd%95/%e4%b8%89%e8%a7%92%e5%bd%a2.png" /></a>
            </div>
            <div id="login_logo">
                <img src="~/Images/%e7%99%bb%e5%bd%95/logo.png" />
            </div>
            <div id="login_logo_title">
                金品好资源用户管理中心
            </div>
            <div id="login_border">
                <div id="border_left">
                    <div id="border_left_title">
                        用户登录
                    </div>
                    <div id="border_login">
                        <input id="username" placeholder="请输入您的用户名" />
                    </div>
                    <div id="border_password">
                        <input id="password" type="password" placeholder="请输入您的密码" />
                    </div>
                    <div id="login_register">
                        <div id="register">
                            没有账号?<span class="register"><a>注册</a></span>
                        </div>
                        <div id="forget_pass"><a>忘记密码</a></div>
                    </div>
                    <div id="login_button" onclick="Login()">登录</div>
                </div>
                <div id="border_right">
                    <img src="~/Images/%e7%99%bb%e5%bd%95/%e7%bb%84%2044.png"/>
                </div>
            </div>
            <div id="login_bottom">
                <div class="text_container">

                        <a>关于我们</a>
                        <span class="seprate">|</span>
                        <a>联系我们</a>
                        <span class="seprate">|</span>
                        <a>意见反馈</a>
                        <span class="seprate">|</span>
                        <a>版权声明</a>
                        <span class="seprate">|</span>
                        <a>加入我们</a>
                        <span class="seprate">|</span>
                        <a>公司资源</a>
                        <span class="seprate">|</span>
                        <a>备课地图</a>

                </div>
                Copyright © 5ihzy.com All rights reserved.京ICP备15008398号-2
            </div>
        </div>
    </div>
    <div id="Main">
        <img src="~/Images/%e7%99%bb%e5%bd%95/%e8%83%8c%e6%99%af.png" style=" width:100%; height:100%;" />
    </div>
    <a href="#" id="message_start" class="big-link" data-reveal-id="myModal" style="display:none;">
        jquery1
    </a>

    <div id="myModal" class="reveal-modal" style="border: 1px solid #3b4f7c; ">
        <h1 style="font-family:'幼圆'" id="message_content">系统提示:</h1>
        <p id="message_text" style="font-family:'微软雅黑'">Attention please.</p>
        <a class="close-reveal-modal" id="message_close">&#215;</a>
    </div>
</body>
</html>
