@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <style>
        .bj {
            width: 100%;
            height: 100%;
        }

        .shouye {
            width: 100%;
            height: 200px;
            background: #fff;
            position: absolute;
            display: none;
        }

        .syz {
            width: 1189px;
            height: 100%;
            margin: 0 auto;
            position: relative;
        }

        .dlylog {
            padding-top: 50px;
        }

        .dlsp {
            position: absolute;
            top: 80px;
            font-size: 22px;
            left: 980px;
        }

            .dlsp > a:hover {
                color: #64d200;
            }

        .zhmm {
            width: 472px;
            height: 529px;
            position: fixed;
            top: 25%;
        }

        .zhmm {
            width: 472px;
            height: 529px;
            background: url(img/dlbjk.png);
            position: absolute;
        }

        .dlyhhh {
            width: 430px;
            height: 490px;
            background: #e7e1ba;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: 15px;
            position: relative;
        }

        .shuidenglu {
            color: #80d339;
            font-size: 30px;
            position: absolute;
            top: 80px;
            left: 150px;
        }

        .zhmingzi {
            width: 363px;
            height: 57px;
            background: url(img/yonghuming.png);
            position: absolute;
            top: 140px;
            left: 35px;
        }

        .rwmctb {
            position: absolute;
            top: 15px;
            left: 20px;
        }

        .yhminzi {
            position: absolute;
            top: 18px;
            left: 60px;
            border: none;
        }

        .topzhi {
            top: 220px;
        }

        .gxk {
            position: absolute;
            top: 320px;
            left: 70px;
        }

        .jzyhm {
            position: absolute;
            top: 318px;
            left: 85px;
        }

        .wjmm {
            position: absolute;
            top: 318px;
            left: 260px;
        }

        .wjmima {
            position: absolute;
            top: 320px;
            left: 295px;
        }

        .denglulu {
            display: block;
            width: 160px;
            height: 57px;
            background: url(img/denglu.png);
            position: absolute;
            top: 400px;
            left: 130px;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            color: #fff;
        }

        .sp11 {
            line-height: 57px;
        }
        a {
            cursor:pointer;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/Login.js"></script>
</head>
<body>
    <div class="bj">
        <div class="shouye">
            <div class="syz">
                <img src="img/dlylog.png" alt="" class="dlylog">
                <span class="dlsp"><a href="">网站首页</a>|<a href="">网站直通<span id="car">车</span></a></span>
            </div>
        </div><!-- top -->

        <div class="zhmm">
            <div class="dlyhhh">
                <b class="shuidenglu">会员登录</b>
                <div id="" class="zhmingzi">
                    <img src="img/rwmctb.png" class="rwmctb" />
                    <input type="text" name="" id="username" value="" placeholder="用户名" class="yhminzi" />
                </div>
                <div id="" class="zhmingzi topzhi">
                    <img src="img/mima.png" class="rwmctb" />
                    <input type="password" name="" id="password" value="" placeholder="登陆密码" class="yhminzi" />
                </div>
                <input type="radio" name="field＿name" value="记住用户名" class="gxk" />
                <span class="jzyhm">记住用户名</span>
                <img src="img/wjmima.png" class="wjmm" alt="" />
                <a href="" class="wjmima">忘记密码</a>
                <span class="sp11">
                    <a class="denglulu" onclick="Login()">
                        登 陆
                    </a>
                </span>
            </div>
        </div>
        <img src="img/denglubg.png" alt="" class="bj">
    </div>
    <script>
        $(function () {
            $(".bj").height($(window).height());
            $(".shouye").slideDown(2000);
            $(".zhmm").animate({ left:  $("#car").offset().left-455 +"px" }, 2000);

        })
    </script>
</body>
</html>