@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" /> 
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" href="css/test_questions.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/Search.js"></script>
    <script src="~/CustomScripts/jquery.reveal.js"></script>
</head>
<body>

    @Html.Partial("~/Common/top2.ascx")

    <div class="lianxi" style="min-height:1500px;">
        <div class="lianxice210 fl">
            <div class="lianxice33 ">
                <a class="xzgd1">更多》</a>
                <img src="img/xiazaitubiao.png" class="xztubiao">
                <b>热门下载</b>
            </div>
            <div class="lxgao521">
                <ul class="remenxiazai1" id="hot_download"></ul>
            </div>
            <div class="lianxice33 rmxz333">
                <a class="xzgd1">更多》</a>
                <img src="img/tuijianxg.png" class="xztubiao">
                <b>相关推荐</b>
            </div>
            <div class="lxgao521">
                <ul class="remenxiazai1" id="recommend"></ul>
            </div>
        </div>

        <div class="lianxice fl" id="data_list_td">
        </div>
    </div>
    <div class="anniu" id="pages">
    </div> <!-- 跳转部分 -->
    <script>
        var shuzhi1 = $(".ysp1").html();
        var zs1 = Number(shuzhi1);

        var shuzhi2 = $(".ysp2").html();
        var zs2 = Number(shuzhi2);

        var shuzhi3 = $(".ysp3").html();
        var zs3 = Number(shuzhi3);

        var shuzhi4 = $(".ysp4").html();
        var zs4 = Number(shuzhi4);

        var shuzhi5 = $(".ysp5").html();
        var zs5 = Number(shuzhi5);

        $(".xyy1").click(function () {
            var jd1 = zs1 += 1;
            var jd2 = zs2 += 1;
            var jd3 = zs3 += 1;
            var jd4 = zs4 += 1;
            var jd5 = zs5 += 1;
            $(".ysp1").html(jd1);
            $(".ysp2").html(jd2);
            $(".ysp3").html(jd3);
            $(".ysp4").html(jd4);
            $(".ysp5").html(jd5);
        });

        $(".syy1").click(function () {
            var jd1 = zs1 - 1;
            var jd2 = zs2 - 1;
            var jd3 = zs3 - 1;
            var jd4 = zs4 - 1;
            var jd5 = zs5 - 1;
            $(".ysp1").html(jd1);
            $(".ysp2").html(jd2);
            $(".ysp3").html(jd3);
            $(".ysp4").html(jd4);
            $(".ysp5").html(jd5);


        });
        //页面分页加载

        function go() {
            var zansan = $("#lll").val()
            var goyemian = Number(zansan);
            $(".ysp1").html(goyemian);
            $(".ysp2").html(goyemian + 1);
            $(".ysp3").html(goyemian + 2);
            $(".ysp4").html(goyemian + 3);
            $(".ysp5").html(goyemian + 4);
        }
        //go改变页码
    </script>

    @Html.Partial("~/Common/bottom.ascx")
</body>
</html>