@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载页</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" type="text/css" href="css/Download_page.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/Download.js"></script>
</head>
<body>
    @Html.Partial("~/Common/top2.ascx")

    <div class="lianxi">
        <div class="lianxice210 fl">
            <div class="lianxice33 ">
                <a href="" class="xzgd1">更多》</a>
                <img src="img/xiazaitubiao.png" class="xztubiao" alt="">
                <b>热门下载</b>
            </div>
            <div class="lxgao521">
                <ul class="remenxiazai1" id="hot_download">
                    @*<li class="rmxzli1"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa">2015高考真题英语（四...</a></li>*@
                </ul>
            </div>
            <div class="lianxice33 rmxz333">
                <a href="" class="xzgd1">更多》</a>
                <img src="img/tuijianxg.png" class="xztubiao" alt="">
                <b>相关推荐</b>
            </div>
            <div class="lxgao521">
                <ul class="remenxiazai1" id="recommend">
                    @*<li class="rmxzli1"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>
                        <li class="rmxzli"><span class="rmxzsp rmxz2hv">●</span>&nbsp;<a href="" class="rmxzaa rmxz2hv">2015高考真题英语（四...</a></li>*@
                </ul>
            </div>
        </div>

        <div class="lianxice fl">
            <div class="xzkxianshi">
                <div class="imgxztb"><img src="img/shijuantubiao1.png" class="sbtkz" /></div>
                <b class="xznldd" id="info_title"></b>
                <span class="xzspwb">资料类型：<span id="datatype"></span></span>
                <span class="xzspwb1">学科名称：<span id="subjectname"></span></span>
                <span class="xzspwb2">地区名称：<span id="district"></span></span>
                <span class="xzspwb3">具体类型：<span id="testcategory"></span></span>
                <span class="xzspwb0">文件格式：<span id="filetype"></span></span>
                <span class="xzspwb01">下载扣点：<span id="neednum"></span></span>
                <span class="xzspwb02">上传时间：<span id="uploadtime"></span></span>
                <a class="xiazaibai" onclick="DownLoad()"></a>
            </div>
            <div id="" class="xzpwenben">
                @*<div id="preview" class="bgwbk">
                    @*<p class="pbiaoti">单选题 本大题共5小题，每小题6分，共30分。在每小题给出的4个选项中，有且只有一项是符合题目要求。</p>
                    <p class="pbaioqian1">
                        14．某同学通过以下步骤测出了从一定高度落下的排球对地面的冲击力，将一张白纸铺在水平地面上，把排球在水里弄湿，然后让排球从规定的高度自由落下，并在白纸上留下球的水印．再将印有水印的白纸铺在台秤上，将球放在纸上的水印中心，缓慢地向下压球，使排球与纸接触部分逐渐发生形变直至刚好遮住水印，记下此时台秤的示数即为冲击力的最大值．下列物理学习或研究中用到的方法与该同学的方法相同的是（  ）
                    </p>
                    <p class="p10">A) 建立“质点”的概念</p>
                    <p class="p10">B) 交流电的有效值的定义</p>
                    <p class="p10">C) 静电力常量k的测定</p>
                    <p class="p10">D) 探究合外力做功与速度变化的关系</p>
                    <p class="p20">分值: 6分查看题目解析 ></p>

                    <p class="pbiaoti">单选题 本大题共5小题，每小题6分，共30分。在每小题给出的4个选项中，有且只有一项是符合题目要求。</p>
                    <p class="pbaioqian1">
                        14．某同学通过以下步骤测出了从一定高度落下的排球对地面的冲击力，将一张白纸铺在水平地面上，把排球在水里弄湿，然后让排球从规定的高度自由落下，并在白纸上留下球的水印．再将印有水印的白纸铺在台秤上，将球放在纸上的水印中心，缓慢地向下压球，使排球与纸接触部分逐渐发生形变直至刚好遮住水印，记下此时台秤的示数即为冲击力的最大值．下列物理学习或研究中用到的方法与该同学的方法相同的是（  ）
                    </p>
                    <p class="p10">A) 建立“质点”的概念</p>
                    <p class="p10">B) 交流电的有效值的定义</p>
                    <p class="p10">C) 静电力常量k的测定</p>
                    <p class="p10">D) 探究合外力做功与速度变化的关系</p>
                    <p class="p20">分值: 6分查看题目解析 ></p>

                    <p class="pbiaoti">单选题 本大题共5小题，每小题6分，共30分。在每小题给出的4个选项中，有且只有一项是符合题目要求。</p>
                    <p class="pbaioqian1">
                        14．某同学通过以下步骤测出了从一定高度落下的排球对地面的冲击力，将一张白纸铺在水平地面上，把排球在水里弄湿，然后让排球从规定的高度自由落下，并在白纸上留下球的水印．再将印有水印的白纸铺在台秤上，将球放在纸上的水印中心，缓慢地向下压球，使排球与纸接触部分逐渐发生形变直至刚好遮住水印，记下此时台秤的示数即为冲击力的最大值．下列物理学习或研究中用到的方法与该同学的方法相同的是（  ）
                    </p>
                    <p class="p10">A) 建立“质点”的概念</p>
                    <p class="p10">B) 交流电的有效值的定义</p>
                    <p class="p10">C) 静电力常量k的测定</p>
                    <p class="p10">D) 探究合外力做功与速度变化的关系</p>
                    <p class="p20">分值: 6分查看题目解析 ></p>

                    <p class="pbiaoti">单选题 本大题共5小题，每小题6分，共30分。在每小题给出的4个选项中，有且只有一项是符合题目要求。</p>
                    <p class="pbaioqian1">
                        14．某同学通过以下步骤测出了从一定高度落下的排球对地面的冲击力，将一张白纸铺在水平地面上，把排球在水里弄湿，然后让排球从规定的高度自由落下，并在白纸上留下球的水印．再将印有水印的白纸铺在台秤上，将球放在纸上的水印中心，缓慢地向下压球，使排球与纸接触部分逐渐发生形变直至刚好遮住水印，记下此时台秤的示数即为冲击力的最大值．下列物理学习或研究中用到的方法与该同学的方法相同的是（  ）
                    </p>
                    <p class="p10">A) 建立“质点”的概念</p>
                    <p class="p10">B) 交流电的有效值的定义</p>
                    <p class="p10">C) 静电力常量k的测定</p>
                    <p class="p10">D) 探究合外力做功与速度变化的关系</p>
                    <p class="p20">分值: 6分查看题目解析 ></p>
                </div>*@
                <iframe id="preview" width="962" height="1200" frameborder="0" src=""></iframe>
            </div>
        </div>

        <div style="clear: both;"></div>
    </div>

    @Html.Partial("~/Common/bottom.ascx")
</body>
</html>
