.advise_bg {
    width:100%;
    height:416px;
    background:url(../img/kaoshijuan_1.png) no-repeat center;
}
.tiaocuo_btn {
    width:178px;
    height:49px;
    background:url(../img/jianyi.png) no-repeat center;
    margin:auto;
}
.tiaocuo_btn:hover {
    cursor:pointer;
}

.lianxice33 {
    background-color:#2ea7f8;
}

.bix {
    font-weight:normal;
}
.doc_bag_p_ab {
    top: 7px;
}

.advise_intro {
    background-color:#f2f2f2;
    padding:30px;
}
.chongnuo {
    font-size:22px;
    color:#2599e6;
}

.font_size22 {
    font-size:22px;
}

.cishu {
    color:#fff;
    background-color:#ff4a52;
    padding:0px 8px;
    border-radius:5px;
}
.line_hei35 {
    line-height: 35px;
}
.tonggao {
    margin-top:20px;
    font-size:24px;
    border:1px solid #f7d11e;
    background-image:url(../img/tonggao.png);
    background-repeat:no-repeat;
    background-position:14px 12px;
    background-color:#fff;
    padding-left:57px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
}
.red_tishi {
    color:#ff4a52;
}
.font_size20 {
    font-size:20px;
}
.mar_top_70 {
    margin-top:70px;
}
.dl_qduiqi {
    text-justify: inter-ideograph;
    text-align: justify;
}

.buzhou_per {
    display:inline-block;
    width:162px;
    height:59px;
    line-height:59px;
    text-align:center;
    font-size:24px;
    color:#fff;
    background-color:#ffb726;
}
.ruhetiaocuo {
    background-image:url(../img/ruhetiaocuo.png);
    background-repeat:no-repeat;
    background-position:0px;
    padding-left:57px;
    font-size:28px;
    color:#ff4a52;
    height:44px;
    line-height: 44px;
    position:relative;
}

.jiantou_red {
    width:97px;
    height:109px;
    background-image:url(../img/jiantou_red.png);
    position: absolute;
    top: -80px;
    left: 115px;
}
.bac_colorf5d0d2 {
    background-color:#f5d0d2;
}
.bac_colorcbe3f3 {
    background-color:#cbe3f3;
}
.common_bix {
    font-weight:normal;
    padding:0px 8px;
    line-height: 35px;
}
.tiaocuobtn:hover {
    cursor:pointer;
}
.tiaocuobtn {
    width:242px;
    text-align:center;
    height:68px;
    line-height:68px;
    background-image:url(../img/tiaocuobtnbg.png);
    color:#fff;
    font-size:24px;
}
.mar_rg_22 {
    margin-right:22px;
}

.btn_juzhong {
    width: 506px;
    margin: auto;
    margin-top: 35px;
}

.zhuyi {
    background-image:url(../img/zhuyi.png);
    padding-left: 45px;
    margin-bottom:10px;
}
.common_intro {
    font-size:20px;
    line-height: 32px;
}
.biaozhun {
    background-image:url(../img/biaozhun.png);
    padding-left: 45px;
    margin-bottom:10px;
}
.kefu_1 {
    background-image:url(../img/kefu_1.png);
    padding-left: 45px;
    margin-bottom:10px;
}

.huodong {
    background-image:url(../img/huodong.png);
    padding-left: 45px;
    margin-bottom:10px;
}

.chakan_more {
    font-size:20px;
    background-color:#b7ddf4;
    padding:18px 25px;
}

.chakan_more_btn {
    background-image:url(../img/jiantou_down.png);
    background-repeat:no-repeat;
    padding-right: 25px;
    background-position: 125px 7px;
    margin-left: 460px;
}

.chakan_more_btn:hover {
    cursor:pointer;
}

.tiaocuo_jianyi {
    font-size:32px;
    color:#ff4a52;
    text-align:center;
    margin-bottom:20px;
}

.xiaobiaoti {
    font-size:24px;
    color:#ff4a52;
}

.chakan_more_content {
    display:none;
    height:0px;
}

.denglu_btn {
    color:#fff;
    font-size:22px;
    width:153px;
    height:39px;
    line-height:39px;
    text-align:center;
    background-color:#ff4a52;
    margin:auto;
    margin-top:25px;
}

.denglu_btn:hover {
    cursor:pointer;
}

.weidenglu,.denglu {
    width:182px;
    margin:auto;
    padding-top:30px;
    padding-bottom:20px;
    display:none;
}
.usertouxiang {
    height:72px;
    width:72px;
    background-image:url(../img/usertouxiang.png);
    margin:auto;
}
.username {
    text-align:center;
    margin-top:10px;
}
.tiaocuo_jianyi_btn {
    background-image:url(../img/usertiaocuojianyi.png);
    background-repeat:no-repeat;
    background-position:115px 9px;
}

.jianlgi_mingdan {
    width:100%;
}

.jianlgi_mingdan th {
    background-color:#f2f2f2;
    color:#2ea7f8;
    font-weight:bold;
    height:33px;
    text-align:center;
}

.jianlgi_mingdan td {
    text-align:center;
    height:32px;
}

.shuju_table {
    width:182px;
    margin:auto;
}

.shuju_table tr {
    border-bottom:1px solid #e5e5e5;
}
.shuju_table td {
    text-align:left;
}

.font_size18 {
    font-size:18px;
}

.biaoti_top {
    font-size:16px;
    color:#fff;
}

.lxclan_zhuangxie {
    background: #2ea7f8;
    height: 33px;
    position: relative;
    width: 100%;
}
.mar_lf_50 {
    margin-left:50px;
}
.mar_lf_350 {
    margin-left:350px;
}

.width_208 {
    width:208px;
}

.zhuangxie_content {
    padding:40px;
    /*padding-bottom:0px;*/
    border-left:1px solid #c9c9c9;
    border-right:1px solid #c9c9c9;
    width: 1046px
}

.zhuangxie_content {
    font-size:20px;
    font-family:'Microsoft YaHei';
}

.zhuangxie_content input[type="radio"] {
    height:20px;
    width:20px;
    position:absolute;
    top:4px;
}

.zhuangxie_content label {
    padding-left:25px;
}

.mar_rg_12 {
    margin-right:12px;
}
.mar_top_15 {
    margin-top:15px;
}
.overf_hid {
    overflow:hidden;
}
.common_xuanxiang {
    position:relative;
    width:135px;
    float:left;
}

.biaoti_input {
    height: 25px;
    width: 938px;
    border:1px solid #e5e5e5;
}

.tijiao_yijian {
    display:inline-block;
    width:106px;
    height:40px;
    background-image:url(../img/tijiao_yijian.png);
    text-align:center;
    line-height:40px;
    color:#fff;
    font-size:24px;
    margin-right:25px;
}

.bottom_ganxie {
    font-size:20px;
    background-color:#addafa;
    text-align:center;
    height:59px;
    line-height:59px;
}
.cur_pointer:hover {
    cursor:pointer;
}
.tijiao_yijian:hover {
    cursor:pointer;
}