.xueduan150 {
    width: 100%;
    height: 147px;
}

.xd150 {
    width: 137px;
    height: 100%;
    background: #8cc407;
    position: relative;
}

.mxdq {
    color: #fff;
    padding-left: 56px;
    line-height: 147px;
    font-size: 16px;
    word-spacing:15px;
}

.img150xd {
    position: absolute;
    top: 65px;
    left: 30px;
}

.xdl1039 {
    width: 1052px;
    height: 100%;
    background: #f3f3f3;
}

.xd5_hover {
    width: 73px;
    height: 49px;
}
/*.xdh33:hover{background:#8cc407;}*/
.xuduan33 {
    width: 100%;
    height: 50px;
}

.lxgao521 {
    width: 100%;
    height: 530px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.rmxzli {
    width: 180px;
    height: 33px;
    margin-top: 10px;
    margin-left: 15px;
}

.rmxzli1 {
    width: 180px;
    height: 33px;
    margin-left: 15px;
}

.rmxzsp {
    line-height: 33px;
}

.rmxzaa {
    line-height: 33px;
}

.rmxzli1:hover .rmxzsp {
    color: #f8ce76;
}

.rmxzli1:hover .rmxzaa {
    color: #f8ce76;
}

.rmxzli:hover .rmxzsp {
    color: #f8ce76;
}

.rmxzli:hover .rmxzaa {
    color: #f8ce76;
}

.rmxzli1:hover .rmxz2hv {
    color: #ff4a52;
}

.rmxzli:hover .rmxz2hv {
    color: #ff4a52;
}

.rmxz333 {
    background: #ff4a52;
}

.lianxice33 {
    position: relative;
}

.xztubiao {
    position: absolute;
    top: 6px;
    left: 14px;
}
.p_ab_t7 {
    top:7px;
}
.xzgd1 {
    position: absolute;
    top: 7px;
    left: 160px;
    color: #fff;
    cursor:pointer;
}
