.xueduan150{width:100%;height:150px;}
.xd150{width:150px;height:100%;background:#8cc407;position:relative;}
.mxdq{color:#fff;padding-left:50px;line-height:142px; font-size:18px; }
.img150xd{position:absolute;top:65px;left:30px;}
.xdl1039{width:1039px;height:100%;background:#f3f3f3;}
.xd5_hover{width:86.5px;height:50px;}
/*.xdh33:hover{background:#8cc407;}*/
.xuduan33{width:100%;height:50px;}
.lxgao521{width:100%;height:512px;}
.rmxzli{width:180px;height:33px;margin-top:10px;margin-left:15px;}
.rmxzli1{width:180px;height:33px;margin-left:15px;}
.rmxzsp{line-height:33px;}
.rmxzaa{line-height:33px;}
.rmxzli1:hover .rmxzsp{color:#f8ce76;}
.rmxzli1:hover .rmxzaa{color:#f8ce76;}
.rmxzli:hover .rmxzsp{color:#f8ce76;}
.rmxzli:hover .rmxzaa{color:#f8ce76;}
.rmxzli1:hover .rmxz2hv{color:#ff4a52;}
.rmxzli:hover .rmxz2hv{color:#ff4a52;}
.rmxz333{background:#ff4a52;}
.lianxice33{position:relative;}
.xztubiao{position:absolute;top:5px;left:20px;}
.xzgd1{position:absolute;top:9px;left:160px;color:#fff;}