.fixed_all {
    position:fixed;
    /* top: 300px; */
    bottom: 20px;
    right:10px;
    z-index:9999;
    /*display:none;*/
    height:199px;
}

.fixed_weixin, .fixed_return,.fixed_login,.fixed_jianyi,.fixed_kefu {
    width:39px;
    height:39px;
    position:relative;
}
.fixed_login {
    background-image:url(../img/fixed_login.png);
}
.fixed_login:hover,.fixed_jianyi:hover,.fixed_kefu:hover{
    cursor:pointer;
}
.fixed_login:hover .fixed_login_b{
    display:block;
}
.fixed_login_b {
    width:112px;
    height:37px;
    /*background-image:url(../img/fixed_login_b.png);*/
    line-height:39px;
    text-align:center;
    position:absolute; 
    top:0px;
    left:-114px;
    display:none;
    border:1px solid #e5e5e5;
    background-color:#fff;
}
.fixed_weixin {
    background-image:url(../img/fixed_weixin.png);
    margin-top: 1px;
}
.fixed_jianyi {
    background-image:url(../img/fixed_jianyi.png);
    margin-top: 1px;
}
.fixed_jianyi:hover {
    background-image:url(../img/fixed_jianyi_hover.png);
}
.fixed_kefu {
    background-image:url(../img/fixed_kefu.png);
    margin-top: 1px;
}
.fixed_kefu:hover {
    background-image:url(../img/fixed_kefu_hover.png);
}
.fixed_return {
    background-image:url(../img/fixed_return.png);
    margin-top: 1px;
    display:none;
}
.fixed_weixin:hover {
    background-image:url(../img/fixed_weixin_hover.png);
    cursor:pointer;
}
.fixed_weixin:hover .fixed_weixin_b {
    display:block;
}
.fixed_weixin_b {
    width:160px;
    height:177px;
    background-image:url(../img/fixed_weixin_b.png);
    position:absolute; 
    top:0px;
    left:-160px;
    display:none;
}
.fixed_return:hover {
    background-image:url(../img/fixed_return_hover.png);
    cursor:pointer;
}

/*@media screen and (max-width: 1680px) {
    .fixed_all {
        right:11%;
    }
    /*.fixed_weixin_b {
        left:-160px;
    }*/
/*} 

@media screen and (max-width: 1600px) {
    .fixed_all {
        right:1%;
    }
    .fixed_weixin_b {
        left:-160px;
    }
}*/
.top_head {
    background: #f5f5f5;
    height: 36px;
    width: 100%;
}

a {
    text-decoration: none;
}

.top_head_div {
    width: 1189px;
    margin: 0 auto;
    height: 100%;
}

.fl_head {
    float: left;
    /*width: 260px;*/
}

.f2_head {
    float: right;
    /*width: 820px;*/
}

.fl_head > ul {
    line-height: 36px;
    color: #a0a0a0;
}

.f2_head > ul {
    line-height: 36px;
    color: #a0a0a0;
}

.fl_head > ul > li {
    float: left;
}

.f2_head > ul > li {
    float: left;
}

.li1, .li2 {
    padding-left: 50px;
}

    .li2 > a {
        color: #7bd73c;
    }

    .li1 > a {
        color: #ff4a52;
    }

.li3 {
    padding-left: 80px;
}

.lispan > span {
    color: #ff4a52;
}

.navinput {
    width: 1189px;
    height: 115px;
    margin: 0 auto;
}

.navinput_div {
    width: 1189px;
    height: 59px;
    padding-top: 30px;
}

.fl {
    float: left;
}
.fr {
    float:right;
}

#ztc {
    padding-top: 3px;
    padding-left: 14px;
}

#shousuo {
    border: 1px solid #62cf00;
    height: 38px;
    margin-top: 9px;
    margin-left: 60px;
    width: 450px;
    line-height: 38px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#tijiao {
    display: block;
    height: 38px;
    background: #64d201;
    border: 1px solid #64d201;
    width: 120px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 9px;
    left: 510px;
}

#ztc_bottom {
    position: relative;
}

#soussuo {
    position: absolute;
    top: 19px;
    left: 560px;
}

#boshimao {
    width: 22px;
    float: left;
}

.xbs {
    padding-top: 17px;
    /*padding-left: 180px;*/
    margin-left:180px;
}

.xbss {
    padding-top: 17px;
    /*padding-left: 30px;*/
}

.logo {
    width: 212px;
    height: 66px;
    position: relative;
}

.logo1 {
    position: absolute;
    top: -10px;
}

.h3gaokao {
    font-size: 12px;
    padding-top: 7px;
    padding-left: 5px;
}

.daohanglan {
    height: 50px;
    background: #64d201;
}

.daohanglan_ul {
    width: 1189px;
    height: 100%;
    margin: 0 auto;
}

    .daohanglan_ul > ul {
        line-height: 50px;
        font-size: 20px;
    }
.mar_lf_65 {
    margin-left:65px;
}
.pad {
    margin-left: 27px;
}

#pad {
    margin-left: 1px;
}

.bk1 {
    width: 100px;
    height: 44px;
}
.bk2 {
    width: 120px;
    height: 44px;
}


.bk {
    width: 60px;
    height: 44px;
}

    .bk img {
        position: absolute;
        top: -14px;
        right: 18px;
        display: none;
    }

.daohanglan_ul > ul > li > a {
    color: #FFFFFF;
}

.bk1:hover {
    font-size: 24px;
}
.bk2:hover {
    font-size: 24px;
}

.bk1 img {
    position: absolute;
    top: -14px;
    right: 35px;
    display: none;
}
.bk2 img {
    position: absolute;
    top: -14px;
    right: 52px;
    display: none;
}

.bk:hover {
    font-size: 24px;
}

.daohanglan_ul > ul > li {
    position: relative;
}

    .daohanglan_ul > ul > li:hover img {
        display: inline;
    }

.zhuti {
    width: 1189px;
    height: 489px;
    margin: 0 auto;
    margin-top: 20px;
}

.cebianlan {
    width: 210px;
    height: 100%;
}

.lanse {
    width: 100%;
    height: 33px;
    background: #2ea7f8;
}

    .lanse > h3 {
        line-height: 33px;
        color: #fff;
        padding-left: 70px;
        font-size: 18px;
    }

.cebianlan_xia {
    width: 100%;
    height: 208px;
    z-index: 999;
    position: relative;
    padding:0px 10px;
    background-color: white;
}

.cebianlan_xia1 {
    width: 100%;
    height: 440px;
    z-index: 999;
    position: relative;
    background-color: white;
}
/*.cebianlan_xia{ }*/
.cebianlan_xia > div {
    width: 25%;
    height: 100%;
}

.cebianlan_ul1 > ul > li > a {
    display: block;
    color: #7c7c7c;
    width: 44px;
    height: 20px;
    text-align:center;
    font-size:14px;
}

.cebianlan_ul1 > ul > li {
    margin-top: 5px;
    /*margin-left: 10px;*/
}

.hong {
    background: #ff4a52;
}

.hong_xia {
    width: 100%;
    height: 87px;
    padding:0px 10px;
}

.cebianlan_ul1 {
    width: 25%;
    height: 100%;
}

.hang {
    background: #ffb726;
}

.lunbo {
    margin-left: 17px;
    width: 717px;
    height: 489px;
}

.mokuai8 {
    width: 226px;
    height: 487px;
    margin-left: 17px;
}

.mokuai8_div {
    width: 100%;
    height: 25%;
}

.mk5 {
    width: 50%;
    padding-top: 7px;
    padding-top:2px;
    padding-bottom: 0px;
}

.mk_top {
    margin-top: 5px;
}

.mk_a {
    padding-left: 33px;
}

.mk5 > img {
    padding-left: 17px;
    padding-top: 8px;
}

.daojishi {
    width: 1189px;
    height: 150px;
    margin: 0 auto;
    margin-top: 15px;
}

.daojishi_div {
    height: 100%;
    width: 228px;
    background: #555555;
}

.daojishi_kongzhi {
    margin-left: 17px;
}

.ys1 {
    background: #808ffb;
}

.ys2 {
    background: #2ea7f8;
}

.ys3 {
    background: #ff4a52;
}

.ys4 {
    background: #ffb726;
}

.ys5 {
    background: #07c277;
}

.ys1 {
    position: relative;
}

    .ys1 > h3 {
        position: absolute;
        top: 10px;
    }

    .ys1 > h3 {
        color: #fff;
        padding-left: 20px;
        font-size: 18px;
        font-family:'Microsoft YaHei';
    }

    .ys1 > h1 {
        color: #fff;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 3px;
    }

#b > span {
    font-size: 35px;
}

#b {
    color: #fff;
    padding-left: 20px;
    font-size: 18px;
    font-weight: normal;
}

.enlarge_day {
   font-size:40px;
   font-family:'Microsoft YaHei';
   /*padding-top:40px;*/
       position: absolute;
    left: 75px;
    top: 9px;
}
.font_wnormal {
    font-weight:normal;
}
.pa_sec_1 {
        position: absolute;
    /* width: 30px; */
    top: 30px;
    width: 60px;
    left:20px;
}
.pa_sec_2 {
        position: absolute;
    top: 30px;
    left: 150px;
}

#ztsousuo {
    width: 170px;
    /*height: 66px;*/
    background: #ff4a52;
    margin-top: 67px;
    margin-left: 20px;
}

    #ztsousuo > div {
        width: 100%;
        /*height: 50%;*/
        color: #fff;
    }

.ztsousuo_div2 {
    background: #fff;
    position: relative;
    width:34px;
}
.find_logo {
    position:absolute;
    left:14px;
    top:10px;
}
.ztsousuo_div2 form {

}
#years {
    width:150px;
    height:20px;
    border:none;
    /*border:1px solid #f0f0f0;*/
    margin:8px;
    background-image:url(../img/years.png);
    padding-left:10px;
    line-height:20px;
    /*border-radius:10px;*/
}
/*#years option {
    padding-left:26px;
}*/
.find_year {
    position:absolute;
    /*background-color: #ff4a52;*/ 
    /*padding-left:8px;*/
    background-image:url(../img/find_year.png);
    color: white; 
    cursor: pointer;
    width:54px;
    height:20px;
    /*line-height:20px;*/
    /*text-align:center;*/
    right:7px;
    top:8px;
    /*border-radius:10px;*/
    letter-spacing:4px;
}

.gkzhenti {
    line-height: 27px;
    text-align:center;
    font-size:18px;
    font-family:'Microsoft YaHei';
}

.zt_sousuo {
    width: 100px;
    border: 1px solid #6d6d6d;
    margin-top: 5px;
    margin-left: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tijiao {
    border: 0.5px solid #ff4a52;
    background: #ff4a52;
    color: #fff;
    width: 40px;
    margin-right: -30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.hh3 {
    padding-left: 20px;
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
}

.kshg {
    padding-top: 0px;
    padding-left: 130px;
}
.padding_top35 {
    padding-top:35px;
}
.mar_top30 {
    margin-top:30px;
}
.zhentiku {
    width: 100%;
    height: 564px;
    background: #08c79e;
    margin-top: 29px;
}

.ztk_div {
    width: 1189px;
    height: 100%;
    margin: 0 auto;
    background: #6bb336;
    margin-bottom: 45px;
    /*padding-top:8px;*/
}

    .ztk_div > img {
        padding-top: 18px;
    }

    .ztk_div > b > h3 {
        font-size: 24px;
        font-weight:bold;
        padding-top: 60px;
        color: #fff;
        display: block;
        width: 800px;
        margin: 0px auto;
        text-align: center;
    }
.mingxiaoziyuan_h3 {
    padding-top: 30px !important;
}
.ztk_div_div {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}

.ztk_set {
    position:absolute;
    /* top: 2454px; */
    bottom: 10px;
        right: 0px;
}
.xian1 {
    height: 50%;
    width: 29.9%;
    border-bottom: 1px solid #fff;
}

.xian2 {
    height: 50%;
    width: 29.9%;
    border-bottom: 1px solid #fff;
}

.quanquan {
    width: 40%;
    height: 100%;
}

.qq1 {
    width: 34px;
    height: 34px;
    background: url(../img/qq.png);
    margin-top: 5px;
    position: relative;
}

    .qq1 > a {
        position: absolute;
        width: 68px;
        top: 6px;
        left: 40px;
    }

.qq2 > a {
    width: 68px;
    height: 17px;
    margin: 0;
    padding: 0;
}

.qqq1 {
    margin-left: 80px;
}

.qdankong {
    margin-left: 15px;
}

.ztk_fenlei {
    width: 100%;
    height: 280px;
}

.ztklianjie {
    width: 420px;
    height: 100%;
    font-size:16px;
    margin-right:10px;
}

.xiaokuai {
    width: 100%;
    height: 17px;
}

    .xiaokuai > div {
        width: 17px;
        height: 17px;
        background: #fff;
        margin-top: 20px;
    }

.ktlianjie > a {
    display: block;
    padding-top: 20px;
}

.tubiaokz {
    position: absolute;
    top: 2px;
}

.ztk_ul > li {
    padding-top: 0px;
    margin-right: 20px;
}

.btn {
    background: #fff;
    color: #08c79e;
    margin-right:5px;
    /*border: 1px solid #fff;*/
}
.size_com {
    display: block;
    width: 16px;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    margin-top: 4px;
}
.ztk_ul_div_1 {
    width:320px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.mxttimg {
    height: 80%;
    width: 205px;
}

.mxttimg {
    /*padding-top: 30px;
    padding-left: 45px;*/
}
.gedigaokao_img {
    background:url(../img/gedigaokao.jpg);
    width:328px;
    height:218px;
    margin-top:25px;
}
    .gedigaokao_img:hover, .gedigaokao_img_1 {
        cursor:pointer;
    }
.gedigaokao_img_1 {
    background:url(../img/gedigaokao_11.png) !important;
}
.jinpinshiti {
    width: 1189px;
    height: 50px;
    margin: 0 auto;
    margin-top: 60px;
}

.stk_shitiku {
    width: 100%;
    height: 42px;
    background: red;
}

.img_width {
    width: 590px;
}

.kzshiti {
    margin-left: 8.5px;
}

.stk_shitiku {
    margin-top: 40px;
}

.jpst_lianjie {
    width: 555px;
    /*height: 215px;*/
}

    .jpst_lianjie > ul > li {
        width: 100%;
        height: 25px;
        position: relative;
        margin-bottom:12px;
    }

.jpstys {
    width: 450px;
    height: 25px;
     overflow:hidden;
}
.jpstys > a {
    display:block;
        width: 450px;
    height: 25px;
     overflow:hidden;
     text-overflow: ellipsis; /*以省略号...显示*/

    white-space: nowrap;  /*强制不换行*/
    color:#fff;
}
.flow_nowrap {
    display:block;
    width:240px;
         overflow:hidden;
     text-overflow: ellipsis; /*以省略号...显示*/

    white-space: nowrap;  /*强制不换行*/
}
.div55 {
    margin-left: 2px;
}

.btnjps {
    background: #808ffb;
    color: #fff;
}

.jpst_div2 {
    height: 100%;
    width: 555px;
    margin-bottom:15px;
}

.jpstys > a {
    color: #08c79e;
}

.ayblue {
    color: #08c79e;
}

.jpshijuan {
    height: 255px;
    width: 1189px;
    margin: 0 auto;
    margin-top:8px;
    font-size:16px;
}

.jpst_zhutineirong {
    width: 1189px;
    height: 280px;
    margin: 0 auto;
}

.mgjpst {
    margin-left: 76px;
}

 .jpst_lianjie > ul > li {
    /*margin-top: 5px;*/
}

.zuixintaotiyellow {
    width: 100%;
    height: 480px;
}

.yellow {
    background: #f5bc2b;
}

.zuixintaoti {
    width: 1189px;
    height: 460px;
    margin: 0 auto;
}

.zuixintaoti390 {
    width: 370px;
    height: 400px;
    margin-top: 58px;
}

.zuixintaoti160 {
    width: 100%;
    height: 132px;
    background: #fff;
    margin-bottom:30px;
}

.zuixintaoti160 {
    position: relative;
}

    .zuixintaoti160 > img {
        padding-left: 60px;
        padding-top: 30px;
    }
    .zuixintaoti160 .ksquan {
    padding-left: 20px;
    padding-top: 20px;
    }
        .zuixintaoti160 .ksxin {
    padding-left: 20px;
    padding-top: 20px;
    }
    .zuixintaoti160 .ksall {
    padding-left: 20px;
    padding-top: 20px;
    }
.zuixintaotspan {
    position: absolute;
    top: 30px;
    left: 140px;
    color: #808ffb;
    font-size: 24px;
}
.ab_ps_lf162 {
    position: absolute;
    top: 30px;
    left: 100px;
}
.ab_ps_lf160 {
    position: absolute;
    top: 30px;
    left: 100px;
}
.ab_ps_lf135 {
    position: absolute;
    top: 30px;
    left: 100px;
}
.line_h25 {
    line-height:25px;
}
.w_norap {
    white-space:nowrap;
}
.btnjps {
    margin-right: 10px;
}

.jpstys > a {
    color: #808ffb;
}

.zuixintaoti160 > button {
    width: 80px;
    border-radius: 20px;
    background: #f5bc2b;
    position: absolute;
    top: 110px;
    left: 260px;
    color: #fff;
    height: 30px;
}

.zuixintaotilj {
    width: 100%;
    height: 240px;
    font-size:16px;
}

    .zuixintaotilj > ul > li {
        width: 100%;
        height: 25px;
    }

.zxtlianjiediv {
    height: 100%;
    width:100%;

}
.zxzt_index {
      width:270px;
    height: 25px;
    overflow: hidden;
}
.zxzt_index > a {
    display:block;
        width:270px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#fff;

}
.zuixinzt {
    /*margin-left: 100px;*/
}

.zuixinzt1 {
    margin-left: 92px;
}

    .zuixinzt1 > a {
        color: #fff;
    }

.zxzt_btn {
    background: #fff;
    color: #f5bc2b;
    margin-right:10px;
}

.zxtlianjiediv > a {
    color: #fff;
}

.zuixinzt > a, .zuixinzt > b{
    color: #fff;
}

.zuixintaotilj > ul > li {
    margin-bottom:12px;
}

.zxstts {
    margin-left: 36px;
}

.mgjpst > ul > li {
    /*padding-left: 15px;*/
}

.x1 {
    border-bottom: 1px solid #808ffb;
}

.zxzhuti {
    width: 1189px;
    height: 466px;
    margin: 0 auto;
}

.pps {
    padding-left: 77px;
}

.lwk {
    color: #f5bc2b;
}

.mingxiaohezuo {
    width: 100%;
    height: 685px;
    background: #6bb336;
}

.mxhz {
    width: 1189px;
    height: 50%;
    margin: 0 auto;
}

.mxhz6 {
    width: 235px;
    height: 165px;
    font-size:16px;
    margin-top:20px;
}

.mxhz_left {
    margin-left: 3px;
}

.mxhz6 > ul > li {
    /* margin-top: 20px; */
    height: 25px;
    margin-bottom: 12px;
    overflow: hidden;
}

.mxhz6ul {
    /*padding-left: 20px;*/
}

.mxhz6_ul {
    padding-left: 0;
}

.mxhz6_uldankong {
    margin-left: 30px;
}

.mxhz_dk {
    margin-left: 26px;
}

.ztkyanse {
    background: #08c79e;
}

.zxztyanse {
    background: #fff;
}

.mxhz_yanse {
    height: 295px;
}

.mingxiaoziyuan {
    width: 1189px;
    height: 50%;
    margin: 0 auto;
}

.mxzyimg {
    margin: 0 auto;
    width: 1189px;
    height: 170px;
}
#shiti_school {
    margin-top:-10px;
}
#elite_school_show {
    padding-top:20px;
}
.mxzy_8 {
    width:223px;
    height: 250px;
}

    .mxzy_8 > a {
        display: block;
        color: #fff;
        padding-top: 7px;
        width: 223px;
        text-align: center;
    }

.mxzykz6 {
    margin-left: 18px;
}

.mxzy_border {
    border: 1px solid #fff;
}

.gkdt {
    width: 1189px;
    height: 620px;
    margin: 0 auto;
}
.gkdt_auto_1 {
    width: 1189px;
    height: auto;
    margin: 0 auto;
    overflow:hidden;
    padding:20px 0px;
}

.gkdtdiv {
    width: 1189px;
    height: 50%;
    margin-top:20px;
    overflow:hidden;
}

.gkd_3 {
    width: 355px;
    height: 100%;
    position: relative;
}

.gdk3_1 {
    width: 100%;
    height: 90px;
    background: #fff;
}

.gdk3_1_1 {
    width: 100%;
    height: 60px;
}

.gdk3_1_2 {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #07c7bc;
}

.gdk3_2 {
    width: 100%;
    height: 215px;
    font-size:16px;
}

    .gdk3_2 > ul > li > .gkdt_270 > botton {
        background: #6bb336;
    }

    .gdk3_2 > ul > li {
        width: 100%;
        height: 25px;
        margin-bottom:12px;
    }
#gaokaodongtai, #jingyanjiaoliu, #xuexifangfa {
    margin-top:20px;
}
#keyanlunwen, #jiaoxueyanjiu, #jiaocaijiaofa {
    margin-top:10px;
}
.mar_top_0 {
    margin-top:0px;
}
.mar_top_50 {
    margin-top:50px;
}
.gkdt_270 {
    /*width: 300px;
    height: 17px;*/
}

.gkdt_2701 {
    width: 292px;
    height: 25px;
}

.gkdt_rq {
    width: 54px;
    height: 17px;
    padding-left: 15px;
}

.gkdt_tb {
    width: 50%;
    height: 100%;
    position: relative;
}

.gkdt_span > b {
    font-size: 24px;
    padding-left: 30px;
}

.gkdt_img {
    position: absolute;
    top: 7px;
}

.ie8 {
    position: absolute;
}

.more6 {
    position: absolute;
    z-index: 19;
    left: 308px;
    top: 65px;
}
.more6_1 {
    position: absolute;
    z-index: 19;
    left: 308px;
    top: 5px;
}
.gkdt_lianjiedk {
    margin-left: 54px;
}

.gkdt_lianjiedk1 {
    margin-left: 61px;
}

.sttj {
    width: 100%;
    height: 580px;
    background: #07c7bc;
}

.sttjdiv1 {
    width: 1189px;
    height: 570px;
    margin: 0 auto;
}

.sttj2 {
    width:;
}

.stkz > ul > li {
    margin-top: 0;
    padding-top: 0;
}

.dankong_sttj {
    margin-bottom: 10px;
}

.stkz > ul > li {
    height: 25px;
}

.sttjkz {
    background: #07c7bc;
}

.mszy {
    width: 1189px;
    height:;
}

.ie7jianron {
    height: 300px;
}

.mstj {
    width: 100%;
    height: 410px;
}

.mstj_1189 {
    width: 1189px;
    height: 232px;
    margin: 0 auto;
}

.mstjyanse {
    height: 130px;
}

.laoshiimg {
    width: 100%;
    height: 167px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.ls4_img {
    width: 270px;
    height: 100%;
}

.lszp {
    width: 50%;
    height: 100%;
}

    .lszp > h3 > b {
        padding-left: 10px;
        font-size: 16px;
    }

    .lszp > p {
        padding-left: 10px;
        font-size: 12px;
        height: 26px;
    }

    .lszp > button {
        width: 64px;
        margin-left: 10px;
        margin-top: 10px;
    }

.lstp_mg {
    margin-left: 36px;
}
.p_ab_t5 {
    top:5px;
}
.youqinlianjie {
    width: 100%;
    height: 92px;
    background: #dedede;
    padding-top: 15px;
}

.yqlj1189 {
    width: 1189px;
    height: 100%;
    margin: 0 auto;
}

.yqljimg {
    width: 100%;
    height: 30px;
    padding-top: 20px;
}

    .yqljimg > ul > li {
        width: 60px;
        height: 29px;
    }

.dkyqlj {
    line-height: 35px;
    padding-left: 350px;
}

.yqljkzpd {
    padding-left: 10px;
}

.yqljxia {
    width: 1189px;
    height: 120px;
    background: blue;
}

.yqljxia {
    margin: 0;
    padding: 0;
}

.yqljp {
    width: 620px;
    height: 17px;
}

.yqul {
    padding-top: 20px;
}

.yqlj2 {
    width: 100%;
    height: 150px;
    background: #dedede;
}

.yqlj2auot {
    width: 1189px;
    height: 100%;
    margin: 0 auto;
}

.yqljyou {
    padding-left: 280px;
    color: #fff;
}

.yqljyou1 {
    padding-left: 370px;
    color: #fff;
}

.dkyqlj {
    color: #333333;
}

.mstjbtn {
    width:58px;
    height:19px;
    background: #6bb336;
    /*border: 1px solid #07c7bc;*/
    color: #fff;
    float: left;
    margin-left: 10px;
    font-size:14px;
    text-align:center;
    line-height: 19px;
}

.dkms {
    padding-top: 6px;
}

.mstjyansedk {
    color: #07c7bc;
}

.yansemstj {
    border-bottom: 1px solid #6bb336;
}

.yansemstjcolor {
    color: #6bb336;
}

.lszp > h3 > b, .lszp > p {
    color: #6bb336;
}

.sttj40 {
    height: 40px;
}

.ztk_ul > li {
    height: 60px;
}

.sttjys {
    color: #fff;
}
.font_c {
    color:#333 !important;
}
.mar_rg_30 {
    margin-right:30px;
}
.text_dec_un:hover{
    text-decoration:underline;
}
.gkdtbtn {
    background: #07c7bc;
    /*border: 1px solid #6bb336;*/
    color: #fff;
    margin-right:10px;
}

.gkdt_270a {
    color: #6bb336;
}

.gkdttime {
    color: #07c7bc;
}

#shousuo {
    outline: none;
}

.zt_sousuo {
    outline: none;
}

.danlan {
    color:;
}

.stkzys {
    color: #fff;
}

.gdkys {
    color: #07c7bc;
}

.mxhz6_ul > li > a {
    color: #fff;
}

.mxhz6ul > li > a {
    color: #fff;
}

.fff {
    color: #fff;
}

.mxhz6_uldankong > li > a {
    color: #fff;
}
.mxhz6_btn {
    background:#fff;
    color:#6bb336 !important;
}

.zxzths {
    color: #808ffb !important;
}

.zxzt_btn {
    color: #f5bc2b;
}

    .zxzt_btn > span {
        color: #808ffb;
    }

.btnjspt {
    background: #08c79e;
}

.jpys > a {
    color: #08c79e;
}

.ayblue1 {
    color: #fff;
}

.ztk_ul {
    margin-top: 20px;
}

    .ztk_ul > li {
        height: 25px;
        margin-bottom: 12px;
        overflow: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/

    white-space: nowrap;  /*强制不换行*/
    color:#fff;
    }
.more1 {
    display: block;
    /*margin-left: 335px;
    margin-top: 20px;*/
    /*margin-left:305px;*/
    margin-bottom:13px;
    width:50px;
    height:18px;
}
.more1_sp_1 {
    margin-bottom:0px;
    margin-top:-2px;
}
.more1_sp {
        /*margin-bottom:0px;
        margin-top:8px;*/
        position:absolute;
        bottom:0px;
        right:10px;
}
.hover1 {
    position: relative;
}

.hover11 {
    position: relative;
}

.hover111 {
    position: relative;
}

.hover10 {
    position: absolute;
    left: -1px;
    top: 3px;
    display: none;
}
.hover10_1 {
    left: -8px;
}

.hover101 {
    position: absolute;
    left: -2px;
    top: 3px;
    display: none;
}

.hover121 {
    position: absolute;
    left: -2px;
    top: 3px;
    display: none;
}

.hover1:hover .hover10 {
    display: inline;
}

.hover1:hover {
    color: #2ea7f8;
}

.hover57 {
    position: absolute;
    left: -12px;
    top: 3px;
    display: none;
}

.hover1:hover .hover57 {
    position: absolute;
    left: -12px;
    top: 3px;
    display: inline;
}

.hover11:hover {
    color: #ff5b62;
}

    .hover11:hover .hover101 {
        display: inline;
    }

.hover111:hover {
    color: #ffb726;
}

    .hover111:hover .hover121 {
        display: inline;
    }

.b1 {
    background: url(../img/z01.png);
}

.b2 {
    background: url(../img/z02.png);
}

.b3 {
    background: url(../img/z03.png);
}

.b4 {
    background: url(../img/z04.png);
}

.b11 {
    background: url(../img/z-11.jpg);
}

.b22 {
    background: url(../img/z-22.jpg);
}

.b33 {
    background: url(../img/z-33.jpg);
}

.b44 {
    background: url(../img/z-44.jpg);
}

.mgjpst > ul {
    /*position: absolute;
    padding-left: 10px;*/
}

.genduo {
    display: block;
    width:86px;
    height:18px;
    margin-left: 255px;
}
.sc_set {
    position:absolute;
    /* top: 1150px; */
        right: 0px;
    bottom: 10px;
}

    .genduo > img {
        
    }
.lantb_set {
    position:absolute;
/*top: 4480px;*/
    right: 0px;
bottom:10px;

}
.hei_290 {
    height:290px !important;
}
.lantb_set_1 {
    position:absolute;
    /*top: 4128px;*/
        right: 0px;
           bottom:10px;
}
.mar_bott_30 {
    margin-bottom:30px !important;
}
.sttj_set {
    position:absolute;
    /*top: 3010px;*/
        right: 0px;
           bottom:10px;
}
.mstj_set {
    position:absolute;
       /*top: 4815px;*/
           right: 0px;
       bottom:10px;
}
.mxttbggd {
    width: 1189px;
    height: 141px;
    background: url(../img/111.png) no-repeat bottom;
    padding-top:28px;
}
.mxttbggd_1 {
    width: 1189px;
    height: 141px;
    background: url(../img/mingxiaotaoti.png) no-repeat bottom;
    padding-top:28px;
}

.mxzy_border img {
    width: 140px;
    height: 86px;
}

#banner_left {
    width: 620px;
    height: 268px;
    float: left;
}

.font_size16 {
    font-size:16px;
}
.gedigaokao_img {
    background: url(../img/gedigaokao.png);
    width: 328px;
    height: 200px;
    margin-top: 25px;
}
.school_img {
    width:223px;
    height:176px;
    border:1px solid #ffffff;
}
.school_img:hover {
    cursor:pointer;
    opacity:0.8;
}
.shenfenhover {
    position: absolute;
    width: 500px;
    height: 440px;
    background: #fff;
    left: 210px;
    top: 0px;
    display: none;
    border: 1px solid #e5e5e5;
}
.pad_lf_28 {
    padding-left:28px;
}

.zxzt_btn_808ffb {
    background: #fff;
    color: #808ffb;
}

.dot_data_com {
    display: block;
    width: 16px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
}
.overf_com {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.color_ff {
    color: #fff;
}
.gdk3_1_new {
    width: 100%;
    height: 40px;
    background: #fff;
}
.more6_new {
    position: absolute;
    z-index: 19;
    right: 0px;
    top: 12px;
}
.zxzt_btn_07c277 {
    background: #fff;
    color: #07c277;
    border:1px solid #fff;
}

.zxzt_btn_fff {
    background: #07c277;
    color: #fff;
    border:1px solid #07c277;
}
.color07c277 {
    color:#07c277;
}
.zxzt_btn_8cc407 {
    background: #fff;
    color: #8cc407;
    border: 1px solid #fff;
}
.gkdttime_8cc407 {
    color:#8cc407;
}
.gkdtbtn_8cc407 {
    background: #8cc407;
    color: #fff;
    border: 1px solid #8cc407;
}
.color07c7bc {
    color: #07c7bc;
}
.zxzt_btn_07c7bc {
    background: #07c7bc;
    color: #fff;
    border: 1px solid #07c7bc;
}
.gkdt_240 {
    width: 180px;
    height: 25px;
}
.line_hg_25 { 
    line-height:25px;
}
.mar_rg_45 {
    margin-right:45px;
}
.color000 {
    color:#000 !important;
}
.color555 {
     color:#555 !important;
}
.pad_rg_28 {
    padding-right: 28px;
}
.border_lr_e5 {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.hei_36 {
    height: 36px !important;
    /*line-height: 42px;*/
}
.yansemstj_1 {
    border-bottom: 1px solid #07c7bc;
    position:relative;
}
.yansemstjcolor_1 {
    color:#07c7bc;
}
.hei_99 {
    height: 99px !important;
}
.zuixintaoti160 .fj_grade {
    padding-left: 100px;
    padding-top: 20px;
        width: 62px;
    height: 62px;
}
.zuixintaoti160 .xinxin_grade {
    padding-left: 90px;
    padding-top: 20px;
        width: 62px;
    height: 62px;
}
.zuixintaoti160 .ksquan_grade {
    padding-left:90px;
    padding-top: 20px;
        width: 62px;
    height: 62px;
}
.ab_ps_lf105 {
    position: absolute;
    top: 30px !important;
    left: 175px !important;
}
.ab_ps_lf110 {
    position: absolute;
    top: 30px !important;
    left: 165px !important;
}
.ab_ps_lf120 {
    position: absolute;
    top: 30px !important;
    left: 160px !important;
}
.font_size24 {
    font-size:24px;
}
.hei_554 {
    height:554px !important;
}
.hsimg1_new {
    width: 223px;
    height: 176px;
    border: 1px solid #07c7bc;
}
.title_middle_nav_span_select {
    background: url(../img/sfyuanxing.png);
    color:#808ffb !important;
}
.grade_gengdu_sc {
    position:absolute;
      /*top: 3700px;*/
      bottom:10px;
}
.ma20 {
    margin-top:20px;
}
.mar_top_55 {
    margin-top:55px;
}
.mar_bott_60 {
    margin-bottom:60px !important;
}
.display_none {
    display:none;
}
.mar_lf_18 {
    margin-left:18px;
}
.font_size8 {
    font-size:8px;
}
.xd522 {
    height: 100%;
    width: 1052px;
    /* background: pink; */
}
.display_block {
    display:block;
}
.font_wb {
    font-weight:bold;
}
.font_size18 {
    font-size:18px;
}
.box_sizing_box {
    /*box-sizing: border-box;
    -moz-box-sizing: border-box;*/
}
.mar_top_16 {
    margin-top:16px;
}
.mar_lf_130 {
    margin-left:129px;
}
.mar_lf_0 {
    margin-left:0px !important;
}
.font_size12 {
    font-size:12px;
}
.bg_color_07c277 {
    background-color:#07c277 !important;
}
.mar_lf_11 {
    margin-left:11px;
}
.bg_color_07c7bc {
    background-color:#07c7bc !important;
}

.mar_lf_20 {
    margin-left:20px;
}
.mar_lf_120 {
    margin-left:119px;
}
.a_more_com {
    font-size:14px !important;
    width:42px !important;
    height:20px !important;
    line-height:1.5em !important;
    padding-left:0px !important;
}
.no_data_text {
    width:350px;
    height:250px;
    margin:0px auto;
    background:url(../img/no_data_bg_22.png);
}
.mar_lf_25 {
    margin-left:25px;
}

.pager {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    margin-bottom: 40px;
}
.pager a {
    display: inline-block;
    padding: 0 15px;
    line-height: 35px;
    color: #666;
    text-align: center;
    border: 1px solid #d8d8d8;
    margin-right: 10px;
    border-radius: 3px;
}

.pager a:hover,.pager_selected {
    border-color:#2ea7f8 !important;
    color:#fff !important;
    background-color:#2ea7f8;
}

.pager .disabled {
    display:none;
}

.mar_bott_13 {
    margin-bottom:13px;
}
.yqlj2auot, .yqlj1189 {
    color: #333333;
    font-size: 16px;
}

#nav_rec_2 {
    /*font-weight:bold;*/
}

.zujuan_banner {
    width:100%;
    height:130px;
}
.zujuan_banner a {
    display:block;
    background:url(../img/zujuan_banner.png) no-repeat center;
    width:100%;
    height:100%;
}
.more_1_new {
    position:absolute;
    right: 0px;
    height:100%;
    display:block;
    bottom:-20px;
}
ul,li {vertical-align:bottom;}

.yqljkzpd:hover {
    cursor:pointer;
}
.border_bott_e5 {
    border-bottom:1px solid #e5e5e5;
}
.mar_lf_12 {
    margin-left:12px;
}
button:focus,input:focus,select:focus { outline:none; }

.common_go {
    position: absolute;
    right: 20px;
    top: 30px;
    display: block;
    width: 100px;
    height: 100px;
}
.img_click {
    width: 51px;
    height: 30px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
}
.commom_btn {
    position:absolute;
    display:block;
    width:50px;
    height:18px;
    text-align:center;
    line-height:17px;
    bottom:10px;
    font-size:12px;
}
.btn_08c79e_normal{
    color:#08c79e;
    background-image:url(../img/btn_08c79e_normal.png);
}
.btn_08c79e_selected {
    background-image:url(../img/btn_08c79e_selected.png);
    color:#fff;
    font-size:14px;
}

.position_ab1 {
    right:220px;
}
.position_ab2 {
    right:160px;
}
.position_ab3 {
    right:100px;
}
.btn_08c79e1_normal{
    color:#fff;
}
.btn_08c79e1_selected {
    background-image:url(../img/btn_selected.png);
    color:#08c79e;
    font-size:14px;
}
.top_10 {
    top:10px;
}
.position_ab1_1 {
    right:180px;
}
.position_ab2_1 {
    right:120px;
}
.position_ab3_1 {
    right:60px;
}
.position_ab4_1 {
    right:0px;
}

.btn_808ffb_normal{
    color:#808ffb;
    background-image:url(../img/btn_808ffb_normal.png);
}
.btn_808ffb_selected {
    background-image:url(../img/btn_808ffb_selected.png);
    color:#fff;
}
.position_ab11_1 {
    right:190px;
}
.position_ab21_1 {
    right:130px;
}
.position_ab31_1 {
    right:70px;
}
.position_ab41_1 {
    right:10px;
}
.no_data_bg_xiao {
    width:210px;
    height:300px;
    background-image:url(../img/no_data_bg_xiao.png);
}

.video_dis {
    width:1189px;
    height:auto;
    margin:0px auto;
    margin-bottom:50px;
}

.video_dis_title {
    width:100%;
    height:38px;
    background-image:url(../img/video_dis_title.png);
    position:relative;
    /*margin-bottom:50px;*/
}

.video_dis_title .commom_btn {
    width:86px;
}
.video_dis_title .btn_08c79e_normal {
    background-image:url(../img/btn_08c79e_normal_v.png);
}
.video_dis_title .btn_08c79e_selected {
    background-image:url(../img/btn_08c79e1_selected_v.png);
}

.video_dis_title .position_ab1 {
    right:384px;
}
.video_dis_title .position_ab2 {
    right:288px;
}
.video_dis_title .position_ab3 {
    right:192px;
}
.video_dis_title .position_ab4 {
    right:96px;
}
.video_dis_title .position_ab5 {
    right:0px;
}

.video_dis_content {
    width:100%;
    overflow:hidden;
}

.video_dis_content .p_item_title_img {
    width:100%;
    height:100%;
}

.video_dis_content .p_item_title {
    width:348px;
    height:195px;
    position:relative;
    border:1px solid #08c79e;
}

.video_dis_content .p_video_f {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#fff;
    background:url(../img/p_video_f_v.png);
    font-size:16px;
}

.video_dis_content .p_item_o_title {
    width:100%;
    color:#08c79e;
    font-size:16px;
    text-align:center;
    margin-top:15px;
}
.video_dis_content .p_item {
    position:relative;
}
.video_dis_content .p_item:hover {
    cursor:pointer;
}
.video_dis_content .slideshow {
    width:1090px;
    margin:auto;
    position:relative;
}

.mar_rg_17 {
    margin-right:17px;
}

.video_dis_content .slides-next, .video_dis_content .slides-prev {
    display:block;
    position:absolute;
    width:26px;
    height:100%;
    top:0px;

    text-indent:-9999em;
}
.video_dis_content .slides-next {
    background:url(../img/slides-next_zhu.png) no-repeat center center;
    right:-45px;
}
.video_dis_content .slides-next:hover {
    background:url(../img/slides-next_zhu_h.png) no-repeat center center;
}
.video_dis_content .slides-prev {
    background:url(../img/slides-prev_zhu.png) no-repeat center center;
    left:-45px;
}
.video_dis_content .slides-prev:hover {
    background:url(../img/slides-prev_zhu_h.png) no-repeat center center;
}

.video_dis_content .p_item_hover {
    position:absolute;
    width:100%;
    height:100%;
    background-image:url(../img/video_dis_content_h.png);
    display:none;
    z-index:2;
}

.video_dis_content .p_item:hover .p_item_hover{
    display:block;
}