.gys{background:#07c277;}
.gyskz:hover{background:#51d4a0;}
.xd51k2{background:#808ffb;}
.zi:hover{background:#a6b0fc;}
.dkxd150{background:#8cc407;}
.xdh33:hover{background:#aed651;}
.jiaoyubu{width:100%;height:300px;}
.lianxice33>b{padding-left:33px;}
.xztubiao{left:6px;top:6px;}
.xzgd1{left:168px;}
.jybul>li{width:100%;height:33px;margin-left:15px;}
.jybul>li>a{line-height:33px;}
.jybul>li>a:hover{color:#ff4a52;}
.lianxice33{background:#ff4a52;}
.hsttj{background:#ffb726;}
.dkjiaoyubu{height:220px;}
.hsttj{margin-top:40px;}
.dkjybul>li>a:hover{color:#ffb726;}
.mxtj{margin-left:15px;}
.mxtj>li{padding-top:25px;}
.mxtj>li>a:hover{color:#07c7bc;}
.lianxice210{height:1010px;}
.dklan{background:#07c7bc;}
.mxtj>li>a:hover{color:#07c7bc;}
.dkbix{padding-left:40px;}
.lxclan{position:relative;}
.rwimg{position:absolute;top:5px;left:15px;}
