.wxfl210{width:960px;height:auto; padding-bottom:20px;border:1px solid #ffb726;position:relative;}
.wxmg{margin-top:30px;}
.dkwxmg{margin-top:20px;}
.genduoa{display:block;background:#ffb726;height:20px;}
.gda1{position: absolute;top:-10px;left:20px;}
.gda1>a{color:#fff;line-height:20px;}
.chuchi1{width:100%;height:80px;margin-top:20px;}
.ccimg1{position:relative;}
.chuchi2{width:100%;height:80px;margin-top:15px;}
.cc2k{margin-left:41px;}
.caise{position:absolute;top:20px;left:0;top:0;}
.caise{display:none;}
.ccimg1:hover .caise{display:inline;}
.gdlv{background:#07c277;}
.wx201{border: 1px solid #07c277;}
.wx202{border: 1px solid #808ffb;}
.gdlan{background:#808ffb;}
.gdalv1{background:#8cc407;}
.wx203{border:1px solid #8cc407;}
.gdlan1{background:#00b2c2;}
.wx204{border:1px solid #00b2c2;}
.fenlietb{position:absolute;top:7px;left:5px;}
.guoxue{position:absolute;left:840px;top:10px;}
.spwenben{position:absolute;left:900px;top:10px;color:#fff;}