.ahong {
    display: block;
    width: 19px;
    height: 19px;
    background: url(../img/hongty.png);
    text-align: center;
    color: #fff;
}

.wenbena {
    display: block;
    padding-top: 2px;
    padding-left: 5px;
}
.rm1 {
    color: #ff4a52;
}
      .remenxiazai11 > li {
                margin-top: 8px;
                position: relative;
                height: 25px;
                /*padding-left: 5px;*/
            }
      .rmxzdk {
    position: absolute;
    left: 5px;
    top: 3px;
}
      .remenxiazai11 > li > a {
    display: block;
    padding-left: 25px;
}

.lidanmg {
    padding-top: 10px;
}

.lsssl {
    background: url(../img/lsssl.png);
}

.lvssl {
    background: url(../img/lvssl.png);
}

.wbyan1 {
    color: #ff6a70;
}

.wbyan2 {
    color: #808ffb;
}

.wbyan3 {
    color: #7bbd26;
}

.sphz {
    background: url(../img/xhui.png);
}

.lianxice210 {
    height: 940px;
}

.topp {
    padding-top: 20px;
    padding-bottom: 40px;
}

.mmpp {
    padding-top: 20px;
}

.ppdp {
    padding-top: 30px;
}

.xznldd {
    top: 50px;
    left: 205px;
    font-size: 18px;
    font-weight: normal;
}
.sbtkz_1 {
    width:158px;
    height:98px;
    margin-top: 17px;
    margin-left: 15px;
}
.bgwbk {
    width:931px;
    padding:20px 14px;
}

    .bgwbk > p, .bgwbk > p > span, .bgwbk > span {
        color:#373737;
        font-size:16px;
        line-height:30px;
    }
    .bgwbk > p {
        margin-bottom:10px;
    }