.lxclan {
    background: #7bbd26;
}

.fenlei11 {
    width: 100%;
    height: 100px;
    border: 1px solid #f2f2f2;
    margin-top: 10px;
    position: relative;
}

.shushu {
    padding-left: 10px;
    padding-top: 10px;
}

.fla {
    position: absolute;
    top: 45px;
    left: 150px;
}

.fenlei11:hover {
    border: 1px solid #7bbd26;
}

    .fenlei11:hover .fla {
        color: #7bbd26;
    }

.remenxiazai1 > li {
    margin-top: 8px;
    position: relative;
}

.rmxzdk {
    position: absolute;
    left: 5px;
}

.fl {
    float: left;
}

.dkbeijin {
    width: 17px;
    height: 17px;
    background: url(../img/dandan.png);
    z-index: 999;
}

.rm1 {
    color: #ff4a52;
}

.rm2 {
    color: #808ffb;
}

.rm3 {
    color: #aad380;
}

.lianxice33 {
    background: #ff4a52;
}

.lianxice33 {
    background: #ff4a52;
}

.ppdd1 {
    margin-left: 85px;
}

.ys9 {
    background: #7bbd27;
}
/*.lxgao521{height:460px;}*/
.lianxice33 {
    background: #ffb726;
}

.remenxiazai1 > li {
    height: 33px;
}

.remenxiazai1 > li {
    height: 28px;
}

    .remenxiazai1 > li > a:hover {
        color: #07c277;
    }

.ys9 {
    background: #07c277;
}

.lva:hover {
    color: #ffd89e;
}

.xwliebiao {
    width: 100%;
    height: 192px;
    border-bottom: 1px solid #e5e5e5;
    padding-top:20px;
}

.xwsc {
    width: 160px;
    height: 100%;
}

.cswx {
    width: 788px;
    height: 100%;
    position: relative;
}

.xwlbzt {
    display: block;
    width: 812px;
    font-size: 20px;
    text-align:left;
    color: #555;
    margin-top: 10px;
    margin-bottom:15px;
    font-weight:normal;
}

.xwwby {
    margin-top: 20px;
}

.xwimg {
    position: absolute;
    left: 0;
    /*top: 130px;*/
    bottom:40px;
}
.cswx > p {
    color: #a7a7a7;
    font-size:14px;
}
.xwgxsj {
    position: absolute;
    left: 20px;
    /*top: 130px;*/
    bottom:40px;
    font-size: 12px;
    /*color: #a7a7a7;*/
}

.xqhsankz {
    position: absolute;
    bottom:40px;
    right:15px;
    /*top: 130px;
    left: 720px;*/
}

.dkmgxz {
    margin-top:22px;
}

.rmxzli:hover .rmxzaa_07c277 {
    color: #07c277;
}
.rmxzli:hover .rmxzsp_07c277 {
    color: #07c277;
}

.xwliebiao:hover {
    cursor:pointer;
    background-color:#f3f3f3;
}

.xwliebiao:hover .xwlbzt {
    color:#2ea7f8;
}

.lxgao521 > ul {
    padding-bottom:10px;
}