.xueduan{height:140px;}
.xd5{height:70px;}
.jiaodain{width:100%;height:420px;background:#7dc1fe;overflow:hidden;}
.jd1195{height:424px;width:1195px;margin:0 auto;}
.xd5_div1{background:#8cc407;}
/*.xd5_hover:hover{background:#aed651;}*/
.xd5k1{background:#808ffb;}
/*.xdh5:hover{background:#a6b0fc;}*/
.xdh5{width:90px;height:50px;line-height:50px;}
.xdh5>a{color:#5a5a5a;font-size:18px;}
.xdh5a{padding-left:28px;}
.xdh55a{padding-left:10px;}
/*.xdh5>a:hover{color:#fff;}*/
.dkh5{margin-left:10px;}
.lxclan{position:relative;}
.wdtubiao{position:absolute;top:10px;left:10px;}

.xdh51 {
    height:50px;line-height:50px;
}

a {
    
}

