.mxcg {
    width: 1189px;
    height: 90px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.gkgdkys {
    color: #fff;
}

.bsmsf {
    position: absolute;
    top: 47px;
}

.mxcgb {
    color: #fff;
    position: absolute;
    left: 45px;
    top: 47px;
    font-size: 24px;
}

.sfyx1 {
    width: 69px;
    height: 27px;
    position: absolute;
    right: 0px;
    top: 50px;
}

.sfyx2 {
    width: 69px;
    height: 27px;
    position: absolute;
    right: 187px;
    top: 50px;
}
#test_mingxiao {
    margin-top:5px;
}
.sfyx3 {
    width: 69px;
    height: 27px;
    position: absolute;
    right: 92px;
    top: 50px;
}

    .sfyx3 > a {
        line-height: 27px;
        color: #fff;
    }

.sfyx2 > a {
    line-height: 27px;
    color: #fff;
}

.sfyx1 > a {
    line-height: 27px;
    color: #fff;
}

.sfyx1:hover {
    background: url(../img/sfyuanxing.png);
}

.sfyx2:hover {
    background: url(../img/sfyuanxing.png);
}

.sfyx3:hover {
    background: url(../img/sfyuanxing.png);
}

.sfyx3 > a:hover,.sfyx2 > a:hover, .sfyx1 > a:hover {
    color: #808ffb;
}

.zuixintaoti {
    height: 340px;
}

.bsdkbtn {
    background: #fff;
    border: 1px solid #fff;
    color: #ffb726;
}

.dk311 {
    background: #07c277;
}

.dkgkdtbtn1 {
    background: #fff;
    color: #07c277;
    border: 1px solid #fff;
}

.kylv1 {
    color: #fff;
}

.gdk3_1_2 {
    background: #;
}

.dk312 {
    background: #07c277;
    border-bottom: 1px solid #fff;
}

.lan {
    color: #fff;
}

.dkmgz {
    /*margin-top: 25px;*/
}

.dkwidth {
    height: 500px;
}

.dk3111 {
    background: #8cc407;
}

.dk31111 {
    background: #8cc407;
    border-bottom: 1px solid #fff;
    color: #8cc407;
}

.mstj {
    background: #07c7bc;
}

.beikeyaodian {
    background: pink;
}

.zxztyanse {
    background: #07c7bc;
}

.yansemstj {
    border-bottom: 1px solid #fff;
}

.yansemstjcolor {
    color: #fff;
}

.qq1 {
    background: url(../img/beike01.png);
}

.abt1 {
    background: url(../img/sfbeike.png);
}

.wzhs > a {
    color: #fff;
}

.abt2 {
    background: url(../img/kaobeizu8.png);
}

.abt3 {
    background: url(../img/tushu3tb.png);
}

.abt4 {
    background: url(../img/tushu4tb.png);
}

.beikeyaodian {
    background: #FFFFFF;
}

.abtdk {
    background: #07c7bc;
    color: #fff;
}

.beijinbai {
    background: url(../img/tlbeijin.png);
}

.zkbys {
    color: #fff;
}

.bdkb {
    color: #07c7bc;
}

.ul1a {
    color: #07c7bc;
}

.lan_ce > span {
    padding-left: 5px;
}

/*.ce_x {
    margin-left: 5px;
}*/

.sfakz {
    line-height: 42px;
}

    .sfakz:hover {
        color: #ffb727;
    }

.dklv {
    background: #8cc407;
}

.bxk {
    color: #fff;
}

.xkabq {
    line-height: 35px;
}

.ce_x {
    width: 152px;
}

.celan {
    width: 210px;
    height:442px;
}

.lb9 {
    margin-left: 10px;
}

.xkabq:hover {
    color: #8cc407;
}

/*.shenfenhover {
    left: 135px;
}*/

.dkxhx {
    border-bottom: 1px solid #ff4a52;
}

.bai {
    color: #fff;
}

.dksfce_z {
    background: #ff4a52;
}

.bys:hover {
    color: #ff4a52;
}

.dkll {
    background: #808ffb;
}

.ce_x {
    height: 36px;
}

.dkxia {
    border-bottom: 1px solid #fff;
}

.dkcf:hover {
    color: #fff;
}

.dkgkdtbtn2 {
    background-color: white;
    color: #ff4a52;
}



.bkyd30 span {
    float: left;
    width: 105px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    font-weight:bolder;
    font-family:'Microsoft YaHei';
    margin-right: 20px;
    cursor: pointer;
}


.news_span_selected {
    background-color: #07c7bc;
    color: white;
}

.news_span_normal {
    background-color: white;
    color: #07c7bc;
}

.sfhv {
    height:33px;
}

.lan_ce > span {
    line-height: 33px;
    padding-left: 28px;
    color: #fff;
}
.hei_42 {
    height:42px;
    line-height:42px;
}
.border_lr_e5 {
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
}
.pad_rg_28 {
    padding-right:28px;
}
.mar_rg_13 {
    margin-right:13px;
}
.width_152 {
    width:152px;
}
.gkdt_span {
    line-height:40px;
}
.lantb_p_set {
    position:absolute;
    top:3160px;
}