.dkmgsy{margin-left:75px;}
.jiaoyubu{height:550px;}
.xzmz{font-size:20px;margin-top:20px;display: block;color:#64d201;}
.xzzl{display: block;margin-top:20px;}
.jybul>li{height:36px;}
.lianxice33{background:#64d201;}
.gysll{background:#08c79e;}
.jybul>li>a:hover{color:#08c79e;}
.lianxice210{border: 0;}
.xuexiaoimg{height:400px;width:100%;position:relative;}
.xxm{position:absolute;top:40px;font-size:25px;left:440px;}
.hx5{position:absolute;top:48px;left:640px;}
.wenzi{position:absolute;top:120px;}
.xzjieshao{padding-top:80px;font-size:18px;}
.kuan{width:447px;}
.bxst{width:100%;height:33px;background:#ff4a52;margin-top:20px;position:relative;}
.ssf{display:block;padding-top:8px;padding-left:5px;}
.benxiaost{position:absolute;top:10px;left:25px;color:#fff;}
.gdb{position:absolute;top:10px;left:916px;}
.gdb>a{color:#fff;}
.benxiaost300{width:100%;height:300px;margin-top:20px;}
.stcfh,.bxst2f{display:block;width:21px;height:15px;background:url(../img/hhyxdj.png);text-align:center;color:#fff;margin-top:2px;margin-right:5px;}
.wdwenben{display: block;height:17px;width:800px;overflow: hidden;}
.rqbenxiao{display:block;height:17px;width:85px;overflow: hidden;margin-left:50px;}
.jianju{height:38px;}
.jianju:hover .stcfh{background:url(../img/hyxdj.png);}
.jianju:hover .wdwenben{color:#ff858a;}
.jianju:hover .rqbenxiao{color:#ff858a;}
.benshenst{height:33px;width:100%;background:#f5bc2b;margin-top:20px;position:relative;}
.ysp1{text-align:center;}
.benxiaostx300{width:100%;height:300px;margin-top:20px;}
.wenben2{display: block;height:17px;width:260px;overflow: hidden;margin-top:2px;}
.mgdkwb{margin-left:120px;}
.hgh{height:38px;}
.hgh:hover .bxst2f{background: url(../img/hkuanzi.png);}
.hgh:hover .wenben2{color:#f6c555;}
.hgh:hover .ys7{color:#f6c555;}
.mxtuijian{width:1189px;height:33px;background:#2ea7f8;margin:0 auto;position:relative;margin-bottom: 20px;}
.mxtjzh{position: absolute;top:5px;left:10px;}
.mxtjtb{position: absolute;left:35px;top:8px;color:#fff;}
.mxgd{position:absolute;left:1140px;top:8px;color:#fff;}
.xxbiao{width:1189px;height:140px;margin:0 auto;margin-bottom:40px;}
.xxmingzi{display: block;width:100%;margin-top:10px;text-align:center;color:#b3b3b3;}
.dkmg{margin-left:11px;}

