a {
    cursor: pointer;
}

.xueduan {
    height: auto;
}

.xd52 {
    height: 98px;
    width: 100%;
    background: pink;
    margin-bottom: 20px;
}
.xd52_new {
    height: 49px;
    width: 100%;
    background: pink;
    margin-bottom: 20px;
}
.xd521 {
    width: 137px;
    height: 100%;
    background: #07c277;
    position: relative;
}

.xd522 {
    height: 100%;
    width: 1052px;
    /*background: pink;*/
}

.stzxxueke {
    line-height: 98px;
    padding-left: 56px;
    font-size: 16px;
    color: #fff;
    word-spacing:15px;
}
.xd52_new .stzxxueke {
    line-height: 49px;
    padding-left: 56px;
    font-size: 16px;
    color: #fff;
    word-spacing:15px;
}
.xdtb521 {
    position: absolute;
    top: 40px;
    left: 30px;
}

.xdh33_selected {
    background: #51d4a0;
}
.xdh33_selected > a {
    color:#fff;
}

.xd5mg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.xd5k1 {
    background: #00b2c2;
}

.xdh5_selected {
    background: #4cc9d4;
}
.xdh5_selected > a {
    color:#fff;
}
.xdh15_selected {
    background: #aed651;
}
.xdh15_selected > a {
    color:#fff;
}
.xd51k1 {
    background: #8cc407;
}

.stzx115 {
    width: 150px;
    height: 49px;
    line-height: 49px;
}

    .stzx115 a {
        width: 150px;
        height: 49px;
        float: left;
        text-align: center;
    }

.stzx115_selected {
    background: #ff8086;
}
.stzx115_selected > a {
    color:#fff;
}
.stzx115 {
    font-size: 16px;
}

.xdl01 {
    display: block;
    margin-left: 40px;
}

.czgkt {
    width: 120px;
}

.xdh313:hover {
    background: #ff8086;
}

.x521 {
    background: #ff4a52;
}

.xd150 {
    background: #07c7bc;
}

.district_selected {
    background: #51d8d0;
}
.district_selected > a {
    color:#fff;
}
._111111 {
}
.stzx85 {
    width:85px;
}
.stzx85 a {
    width:85px;
}
.item_row {
    height:282px;
    width:100%;
}

.item {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height:100%;
    width:305px;
    border:1px dashed #b5b5b5;
    position:relative;
}
.item_img {
    height: 170px;
    width: 100%;
}
.item_title {
    width:100%;
    height:106px;
    background-color:#f3f3f3;
}
.item_title_name {
    padding:10px 0px;
    border-bottom:1px dashed #b5b5b5;
    width:257px;
    margin:auto;
}
.item_title_name_o,.item_title_name_s {
    font-size:16px;
    color:#373737;
}

.item_title_name_o {
    font-weight:bold;
}

.item_title_time_o, .item_title_time_s {
    font-size:16px;
    color:#9a9a9a;
}

.item_title_time {
    overflow:hidden;
    width:257px;
    line-height:40px;
    margin:auto;
}

.item_hover {
    position:absolute;
    height:100%;
    width:100%;
    background-image:url(../img/item_hover_1.png);
    display:none;
}
.item:hover {
    cursor:pointer;
}
.item:hover .item_hover {
    display:block;
}

.mar_rg_22 {
    margin-right:22px;
}