body {
    font-size:16px;
    color:#373737;
        box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.jiaodain {
    width: 100%;
    height: 461px;
    background: #7dc1fe;
    overflow: hidden;
    background:url(../img/video_title_bg.jpg) no-repeat center;
}

.content {
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.classroom_teaching {
    width: 100%;
    height: 637px;
}
.c_img_title,.p_img_title,.t_img_title {
    width:396px;
    height:100%;
   
}
.c_img_title {
     background-image:url(../img/c_img_title.jpg);
}
.c_content,.p_content {
    /*box-sizing:border-box;
    -webkit-box-sizing:border-box;*/
    width:794px;
    height:635px;
    border-top:1px solid #d2d2d2;
    border-bottom:1px solid #d2d2d2;
}
.p_content {
    height:302px;
}
.t_content {
    height:659px;
}
.c_nav {
    overflow:hidden;
    width:794px;
    height:49px;
    background-color:#ddd;
}

.c_nav {
    color:#373737;
    font-size:16px;
}

.c_nav li {
    width:32px;
    height:49px;
    line-height:49px;
    margin-left:30px;
    margin-right:24px;
}

.c_nav_selected {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    cursor:pointer;
    color:#ff4a52;
    border-bottom:2px solid #ff4a52;
}

.slideshow {
    overflow:hidden;
    position:relative;
}

.item,.t_item {
    width:232px;
    height:265px;
}
.item_title,.p_item_title {
    border:1px dashed #b5b5b5;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
        width: 100%;
}
.t_item {
    border:1px dashed #b5b5b5;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.item_title_img {
    width:231px;
    margin:auto;
}
.video_f,.p_video_f {
    background-color:#f3f3f3;
    height:31px;
    line-height:31px;
    text-align:center;
    width: 100%;
    margin-top: -4px;
}

.item_o_title, .item_s_title {
    text-align:center;
}
.item_o_title {
      margin-top:10px;  
}

.item_s_title {
    color:#fff;
    width:133px;
    height:33px;
    line-height:33px;
    background-color:#ff4a52;
    border-radius:15px;
    margin:0px auto;
    margin-top: 12px;
}
.item_hover,.p_item_hover,.t_item_hover{
    width:100%;
    height:100%;
    position:absolute;
    display:none;
}
.item_hover {
    background-image:url(../img/item_hover.png);
}
.p_item_hover {
    background-image:url(../img/p_item_hover.png);
}
.t_item_hover {
    background-image:url(../img/t_item_hover.png);
}
.item:hover,.p_item:hover {
    cursor:pointer;
}
.item:hover > .item_hover,.p_item:hover > .p_item_hover,.t_item:hover > .t_item_hover {
    display:block;
}

.mar_rg_17 {
    margin-right:17px;
}

.mar_lf_30 {
    margin-left:30px;
}

.overf_hid {
    overflow:hidden;
}

.psycho_decompression {
    width: 100%;
    height: 304px;
}
.item, .p_item,t_item,.t_item {
    position:relative;
}

.p_item {
    width:356px;
    height:267px;
}
.p_item_o_title, .p_img_title {
    margin-bottom:5px;
}

.p_img_title {
    background-image:url(../img/p_img_title.png);
}
.p_item_o_title {
    color:#7b70d9;
    font-weight:bold;
    margin-bottom:4px;
}
.p_item_title {
    margin-top:5px;
}
.p_video_all, .slideshow {
    height:100%;
}
.slides-next,.slides-prev {
    width: 32px;
    height:100%;
    background-repeat:no-repeat;
    background-position:center;
}
.slides-prev {
    background-image:url(../img/lf_arrow.png);
    top:0px;
    left:0px;
}
.slides-next {
    background-image:url(../img/rg_arrow.png);
    top:0px;
    right:0px;
}

.slides-prev:hover {
    background-image:url(../img/lf_arrow_hover.png);
    /*background-color:#f5f5f5;*/
}
.slides-next:hover {
    background-image:url(../img/rg_arrow_hover.png);
    /*background-color:#f5f5f5;*/
}
.slides-prev:hover {
    cursor:pointer;
}
.slides-next:hover {
    cursor:pointer;
}
.test_question_parsing {
    width: 100%;
    height: 661px;
}

.t_img_title {
    background-image:url(../img/t_img_title.png);
}
 .t_nav_selected {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    color: #86ca13;
    border-bottom: 2px solid #86ca13;
}

.t_video_f {
    background-color: #515949;
    height: 31px;
    line-height: 31px;
    text-align: center;
    width: 231px;
    color:#fff;
}
.t_item_o_title {
    color:#86ca13;
}
.t_item_o_title, .t_item_s_title {
    text-align:center;
    line-height:24px;
}
.t_item_name {
    background-color:#f3f3f3;
    height: 51px;
    padding-top: 5px;
    margin-top: -4px;
}
.mar_top_27 {
    margin-top:27px;
}
.t_item_hover {
}

.university_entrance_bef_title {
    height:237px;
    background-image:url(../img/university_entrance_bef_title.png);
}

.u_img_title {
    background-image:url(../img/u_img_title.png);
}

 .u_nav_selected {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    color: #ff6d00;
    border-bottom: 2px solid #ff6d00;
}
.u_nav li:hover,.t_nav li:hover,.c_nav li:hover {
    cursor:pointer;
}

.u_item_s_title {
    background-color:#ff6d00;
}

.u_item_hover {
    background-image:url(../img/u_item_hover.png);
}

.e_img_title {
    background-image:url(../img/e_img_title.png);
}

#p_slideshow > div,#e_slideshow > div{
    width:730px;
    margin-left:30px;
}

.slides-next, .slides-prev {
    position: absolute;
    z-index: 120;
    text-indent:-9999px;
}
.p_img_title,.c_img_title,.t_img_title {
    position:relative;
}
/*.p_img_title:hover,.c_img_title:hover,.t_img_title:hover {
    cursor:pointer;
}*/
.p_img_title_hover,.c_img_title_hover,.t_img_title_hover,.e_img_title_hover,.u_img_title_hover {
    width:100%;
    height:100%;
    position:absolute;
    display:none;
}
/*.u_img_title_hover {
    width:396px;
    height:638px;
}*/
.e_item_hover {
    background-image:url(../img/e_item_hover.png);
}
.p_img_title_hover {
    background-image:url(../img/p_img_title_hover.png);
}
.c_img_title_hover {
    background-image:url(../img/c_img_title_hover.png);
}
.t_img_title_hover {
    background-image:url(../img/t_img_title_hover.png);
}
.u_img_title_hover {
   background-image:url(../img/u_img_title_hover.png);
}
.e_img_title_hover {
   background-image:url(../img/e_img_title_hover.png);
}
.p_img_title:hover > .p_img_title_hover,.c_img_title:hover > .c_img_title_hover,.t_img_title:hover > .t_img_title_hover,.u_img_title:hover > .u_img_title_hover,.e_img_title:hover > .e_img_title_hover {
    display:block;
}

.e_item_o_title {
    color:#19b3e8;
}
.t_item {
    cursor:pointer;
}
.c_more_btt:hover {
    cursor:pointer;
}
.c_more_btt {
    color:#fff;
    font-size:18px;
    font-weight:bold;
    background-image:url(../img/c_more_btt.png);
    margin:auto;
    width:224px;
    height:48px;
    text-align:center;
    line-height:48px;
    margin-top: 550px;
}
.p_more_btt {
    background-image:url(../img/p_more_btt.png);
    margin-top: 218px;
}
.t_more_btt {
    background-image:url(../img/t_more_btt.png);
    margin-top: 574px;
}
.u_more_btt {
    background-image:url(../img/u_more_btt.png);
    /*margin-top: 574px;*/
}
.e_more_btt {
    background-image:url(../img/e_more_btt.png);
    margin-top: 218px;
}
.content img{
    display:inherit;
    display:block;
}
