.ce_nva {
    margin: 0 auto;
    margin-top: 20px;
    width: 1189px;
    height: 442px;
}

.fl {
    float: left;
}

.celan {
    width: 210px;
    height:442px;
}

.celan50 {
    width: 100%;
    height: 50%;
    /*border: 1px solid #e5e5e5;*/
}

.lan_ce {
    background: #2ea7f8;
    width: 100%;
    height: 16%;
}
.celan50 > ul {
    height: 186px;
    padding:0px 24px;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
}

/*.lan_ce > span {
    line-height: 35px;
    padding-left: 28px;
    color: #fff;
}*/
.title_gen {
    font-size:14px;
    line-height: 35px;
    padding-left:28px;
    color: #fff;
}
.lan_ce {
    position: relative;
}

.zu1 {
    position: absolute;
    top: 10px;
    right:20px;
}

.ce_z {
    height: 35px;
    /*padding:0px 24px;*/
    font-size:14px;
    color:#373737;
    border-bottom:1px solid #e5e5e5;
}
.border_bn {
    border:none;
}
.ce_pro_h:hover {
    /*color:#2ea7f8;*/
    cursor:pointer;
}
.ce_pro_h:hover > a {
    color:#2ea7f8;
} 
.ce_sp {
    line-height: 35px;
    /*color: #373737;*/
}

.ce_xx {
    border-bottom: 0px solid #fff;
}
.ce_ul_data {
    border-bottom:1px solid #e5e5e5;
}

.ce_data_h:hover {
    cursor:pointer;
}
.ce_data_h:hover > a {
    color: #ffb727;
}
.sppd {
    padding-top: 8px;
}

.h_ce {
    background: #ffb727;
}

.lb9 {
    margin-left: 20px;
}

.dk4 {
    /*margin-top: 45px;
    margin-left: 15px;*/
    width:180px;
    height:75px;
    padding:6px;
}
.dk4 a {
    display:block;
    width:177px;
    height:73px;
    /*margin:auto;*/
}
.border_ffb726 {
    border:1px solid #ffb726;
}
.border_07c277 {
    border:1px solid #07c277;
}
.border_ff4a52 {
    border:1px solid #ff4a52;
}
.border_2ea7f8 {
    border:1px solid #2ea7f8;
}
.dkdk4 {
    /*margin-top: 30px;*/
}

.liniangaokao {
    width: 1189px;
    height: 145px;
    margin: 0 auto;
    margin-top: 17px;
}

    .liniangaokao li {
        cursor: pointer;
    }

.lngk {
    width: 100%;
    height: 69px;
}

    .lngk > ul {
        height: 100%;
    }

.lngkli1 {
    width: 170px;
    height: 100%;
}
.lngk_title {
    width:210px;
    background: #8cc407;
}
.lngkli1 {
    line-height: 62px;
}

.lngka {
    padding-left: 60px;
}

.lngkli1 {
    position: relative;
}

.sjtb9dk {
    position: absolute;
    left: 28px;
    top: 18px;
}

.lngkli {
    background: #e9e9e9;
    height: 69px;
    width: 143px;
    line-height: 69px;
    position: relative;
    border:1px solid #c0c0c0;
}
.nftb {
    position: absolute;
    left: 30px;
    top: 25px;
}

.nfa {
    padding-left: 55px;
}

.lngkli {
    margin-left: 18px;
}
.mar_lf_19 { 
    margin-left:19px;
}
.mar_bott_7 {
    margin-bottom:7px;
}
.yanse, .zhentiku {
    background: #808ffb;
}

.zhentiku {
    height: 520px;
}

.daimg9 {
    width: 1189px;
    height: 131px;
    background: url(../img/yw.png) no-repeat bottom;
    padding-top:40px;
}

.ywfyxi {
    width: 1189px;
    height: 50px;
    margin: 0 auto;
}

.ywfyxi {
    margin-top: 20px;
}

.ywfyxi2 {
    height: 50px;
    width: 550px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.dkmg10 {
    margin-left: 79px;
}

.ywfyxi2 > a {
    line-height: 51px;
    /*padding-left: 30px;*/
}

.imgywfy {
    position: absolute;
    left: 0px;
    top: 16px;
}

.fy {
    position: absolute;
    left: 0px;
    top: 20px;
}

.jsppd {
    margin-top: 20px;
}

.jpys > a {
    color: #fff;
}

.ayblue {
    color: #fff;
}

.btnjspt {
    background: #fff;
    color: #808ffb;
}
.dot_data_com {
    display: block;
    width: 16px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
}
.overf_com { 
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.gdkys {
    color: #808ffb;
}
.width_315 {
    width:300px;
}

.gkdtbtn {
    background: #808ffb;
    /*border: 1px solid #ffb726;*/
}

.gkdttime {
    color: #808ffb;
    /*font-size:24px !important;*/
}
.gkdt_span_new {
   color: #808ffb; 
   font-size:24px;
   padding-left:8px;
}
.gkdt_new {
    width:1189px;
    height:auto;
    margin:45px auto;
}
.gkd_3_new {
    height:250px;
    width:360px;
    position: relative;
}
.gdk3_1_2 {
    border-bottom: 1px solid #808ffb;
    /*padding-bottom:9px;*/
}
.gzjpst {
    width: 100%;
    background: #8cc407;
}

.gkdtdiv_new {
    width: 1189px;
    height: 250px;
    /*margin-top: 20px;*/
}

.gzzy_gz {
    width: 1189px;
    height: 460px;
    border: 1px solid red;
    margin: 0 auto;
    background: #888;
    margin-bottom:60px;
}
.mar_top_20 {
    margin-top:20px;
}
.more6_new {
    position: absolute;
    z-index: 19;
    left: 308px;
    top: 12px;
}
.sfhv {
    position: relative;
}

.shenfenhover {
    position: absolute;
    width: 500px;
    height: 442px;
    background: #fff;
    left: 210px;
    top: -1px;
    display: none;
    border:1px solid #e5e5e5;
}

.cebianlan_ul1 > ul > li {
    margin-top: 30px;
    padding-left: 30px;
}

.sfhv:hover .shenfenhover {
    display: inline;
}

.linian {
    color: #fff;
}

.lngklv {
    background: #808ffb;
}

　 .dakuai4 {
    border: 1px solid #e5e5e5;
}

.dakuai4 {
    width: 192px;
    height: 404px;
    border: 1px solid #e5e5e5;
    margin-left:18px;
    padding:16px 17px 22px;
}
.mar_bott_19 {
    margin-bottom:19px;
}
.stb1 {
    color: #fff;
    font-size:24px;
    padding-left:30px;
}
.mar_bott_z5 {
    margin-bottom:-5px;
}
.gkdt_img {
    top: 3px;
}

.dklvlv {
    background: url(../img/lvbiao.jpg);
}

.zuixintaoti160 {
    position: relative;
    height:140px;
}

.zyi {
    display: block;
    position: absolute;
    width: 50px;
    height: 18px;
    /*padding-bottom:8px;*/
    background: url(../img/zqshijiandj.png);
    top: 105px;
    text-align: center;
    vertical-align:middle;
    color: #fff;
    left: 47px;
    line-height:18px;
}

.top1 {
    left: 105px;
}

.top2 {
    left: 163px;
}

.top3 {
    left: 221px;
}

.top4 {
    left: 279px;
}

.tblx {
    color: #8cc407;
}

.gzzy_gz {
    border: none;
}

.yansemstj {
    border-bottom: 1px solid #8cc407;
}

.q1 {
    background: url(../img/tbkb001.png);
}

.q2 {
    background: url(../img/tbkb002.png);
}

.q3 {
    background: url(../img/tbkb003.png);
}

.q4 {
    background: url(../img/tbkb004.png);
}

.yslv {
    color: #8cc407;
}

.lvl {
    color: #8cc407;
}

.ywfyxi2 {
    position: relative;
}
.gkdt_span {
    font-size:24px;
}

.yi111 {
    display: block;
    width: 50px;
    height: 18px;
    background: url(../img/zqshijiandj.png);
    position: absolute;
    top: 20px;
    left: 240px;
    color: #fff;
    text-align: center;
    line-height:18px !important;
}

.sq1 {
    left: 305px;
}

.sq2 {
    left: 370px;
}

.sq3 {
    left: 435px;
}

.sq4 {
    left: 500px;
}

.xxyx1 {
    border-bottom: 1px solid #8cc407;
}

.kaz {
    color: #fff;
    background: #8cc407;
}

.kaz1 {
    color: #8CC407;
}

.rqys {
    color: #add46a;
}

.gzzy_gz {
    background: none;
}

.dklvse {
    background: #808ffb;
}

.tblx1 {
    color: #808ffb;
}

.lanlan {
    background: url(../img/ll00111.png);
}

.baisede {
    color: #fff;
}

.yansemstj1 {
    border-bottom: 1px solid #808ffb;
}

.q11 {
    background: url(../img/zz110.png);
}

.q22 {
    background: url(../img/zz220.png);
}

.q33 {
    background: url(../img/zz330.png);
}

.q44 {
    background: url(../img/zz440.png);
}

.yslvz {
    color: #808ffb;
}

.lvlz {
    color: #808ffb;
}

.y1y {
    background: url(../img/ll00111.png);
}

.kaz1 {
    color: #fff;
    background: #808ffb;
}

.rqys1 {
    color: #808ffb;
}
.xxyx11 {
    border-bottom: 1px solid #808ffb;
}
.gdk3_1_new {
    width: 100%;
    height: 40px;
    background: #fff;
}

.lhove1:hover {
    background: #d1e79c;
}

.lhove2:hover {
    background: #ccd2fd;
}

.daimg9 {
    position: relative;
}

.sfbd {
    position: absolute;
    color: #808ffb;
    font-size: 38px;
    top: 88px;
    left: 200px;
}

.asf11 {
    position: absolute;
    color: #808ffb;
    font-size: 38px;
    top: 88px;
    left: 580px;
}

.dklvlv {
    background: url(../img/llllsss.png) no-repeat bottom;
    margin:0px auto;
}

.lallaal {
    background: url(../img/zzzzzpng.png) no-repeat bottom;
    margin:0px auto;
}

.yss1 {
    color: #808ffb;
}

.yss11 {
    color: #8cc407;
}
.zuixintaoti390_new {
    width: 370px;
    height: 400px;
    margin-top: 38px;
}
.zxzt_btn_8cc407 {
    background:#fff;
    color:#8cc407;
}
.zxzt_btn_808ffb {
    background:#fff;
    color:#808ffb;
}
.color_ff {
    color:#fff;
}
.color_808ffb {
     color: #808ffb;
} 
.zuixintaotspan {
    line-height:23px;
}
.pad_lf_49 {
    padding-left:60px !important;
}
.pad_top_18 {
    padding-top:18px !important;
}
.zuixintaotspan_new_1 {
    line-height:23px;
    position: absolute;
    top: 30px;
    left: 136px;
    /*color: #808ffb;*/
    font-size: 24px;
}
.pad_lf_107 {
    padding-left:107px !important;
}
.pad_top_14 {
    padding-top:14px !important;
}
.zuixintaotspan_new_2 {
    line-height:23px;
    position: absolute;
    top: 30px;
    left: 176px;
    /*color: #808ffb;*/
    font-size: 24px;
}
.pad_lf_37 {
    padding-left:25px !important;
}
.pad_top_15 {
    padding-top:15px !important;
}
.zuixintaotspan_new_3 {
    line-height:23px;
    position: absolute;
    top: 30px;
    left: 100px;
    /*color: #808ffb;*/
    font-size: 24px;
}

.pad_lf_30 {
    padding-left:30px;
}
.title_middle_nav_span_normal_1 {
    border:1px solid #8cc407;
    background-image:none;
    color:#8cc407;
    border-radius:9px;
    font-size:12px;
}
.title_middle_nav_span_normal_2 {
    border:1px solid #808ffb;
    background-image:none;
    color:#808ffb;
    border-radius:9px;
    font-size:12px;
}
