@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>专题列表</title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" /> 
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" href="css/proforma.css">
    <style>
        .jiaodain {
            background: #ff4a52;
        }

        .jd1195 {
            overflow: hidden;
        }
    </style>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/SpecialSubject.js"></script>
</head>
<body>
    @Html.Partial("~/Common/top2.ascx")

    <div class="jiaodain">
        <div class="jd1195">
            <img src="img/yeshu.png" >
        </div>
    </div>

    <div class="lianxi">
        <div class="lianxice210 fl">
            <div class="lianxice33 ">
                <span class="xzgd1">更多<img src="img/raw_d.png" class=""></span>
                <img src="img/xiazaitubiao.png" class="xztubiao p_ab_t7">
                <a target='_blank' target ='_blank'>热门下载</a>
            </div>
            <div class="lxgao521 mar_top_z10 border_lr_e5 border_bott_e5">
                <ul class="remenxiazai1" id="hot_download"></ul>
            </div>
            <div class="lianxice33 rmxz333 ma20">
                <span class="xzgd1">更多<img src="img/raw_d.png" class=""></span>
                <img src="img/tuijianxg.png" class="xztubiao">
                <a target='_blank' target='_blank'>相关推荐</a>
            </div>
            <div class="lxgao521 mar_top_z10 border_lr_e5 border_bott_e5">
                <ul class="remenxiazai1" id="recommend"></ul>
            </div>
        </div>

        <div class="lianxice fl" style="padding-bottom:20px;">
            <div class="lxclan">
                <img src="img/sjtubiao.png" class="wdtubiao" >
                <b class="bix" id="name_title">
                    广东省广州市天河中学2017高考数学（文科）一轮复习基础知识检测
                </b>
            </div>
            <div id="data_list_td" class="mar_lf_18 lianxice"></div>
        </div>
    </div>
    <script>
        var shuzhi1 = $(".ysp1").html();
        var zs1 = Number(shuzhi1);

        var shuzhi2 = $(".ysp2").html();
        var zs2 = Number(shuzhi2);

        var shuzhi3 = $(".ysp3").html();
        var zs3 = Number(shuzhi3);

        var shuzhi4 = $(".ysp4").html();
        var zs4 = Number(shuzhi4);

        var shuzhi5 = $(".ysp5").html();
        var zs5 = Number(shuzhi5);

        $(".xyy1").click(function () {
            var jd1 = zs1 += 1;
            var jd2 = zs2 += 1;
            var jd3 = zs3 += 1;
            var jd4 = zs4 += 1;
            var jd5 = zs5 += 1;
            $(".ysp1").html(jd1);
            $(".ysp2").html(jd2);
            $(".ysp3").html(jd3);
            $(".ysp4").html(jd4);
            $(".ysp5").html(jd5);
        });

        $(".syy1").click(function () {
            var jd1 = zs1 - 1;
            var jd2 = zs2 - 1;
            var jd3 = zs3 - 1;
            var jd4 = zs4 - 1;
            var jd5 = zs5 - 1;
            $(".ysp1").html(jd1);
            $(".ysp2").html(jd2);
            $(".ysp3").html(jd3);
            $(".ysp4").html(jd4);
            $(".ysp5").html(jd5);


        });
        //页面分页加载

        function go() {
            var zansan = $("#lll").val()
            var goyemian = Number(zansan);
            $(".ysp1").html(goyemian);
            $(".ysp2").html(goyemian + 1);
            $(".ysp3").html(goyemian + 2);
            $(".ysp4").html(goyemian + 3);
            $(".ysp5").html(goyemian + 4);
        }
        //go改变页码
    </script>

    @Html.Partial("~/Common/bottom.ascx")

</body>
</html>

