@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>好资源 - 用户资料</title>
    <link href="/img/html_logo_ico.ico" rel="shortcut icon" /> 
    <link href="~/CSS/Member_Center.css" rel="stylesheet" />
    @* 弹窗样式表 *@
    <link rel="stylesheet" href="../css/reveal.css">
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    @* 弹窗演示表结束 *@
    <script src="~/CustomScripts/Member_Center.js"></script>
    @* 弹窗脚本 *@
    <script type="text/javascript" src="../CustomScripts/jquery.reveal.js"></script>
    @* 弹窗脚本结束 *@
</head>
<body>
    <div id="Main">
        @Html.Partial("~/Common/Member_Center_Top.ascx")
        <div id="content">
            <div id="content_left">
                @Html.Partial("~/Common/Member_Center_Menu.ascx")
            </div>
            <div id="content_right">
                <div id="content_title"><p>会员中心——<span style="color:red">用户资料</span></p></div>
                <div id="forms">
                    <div>
                        <div class="forms_container">
                            <span class="column_name">真实姓名</span><input type="text" class="content_input" id="name" /> <span class="column_description"><span style="color:red;">*</span>必须为您的真实姓名</span>
                        </div>
                        <div class="forms_container">
                            <span class="column_name">所在学校</span><input type="text" class="content_input" id="school" /> <span class="column_description"><span style="color:red;">*</span>必须为您的所在学校</span>
                        </div>
                        <div class="forms_container">
                            <span class="column_name">移动手机</span><input type="text" class="content_input" id="mobile" /> <span class="column_description"><span style="color:red;">*</span>必须为您的手机号码</span>
                        </div>
                        <div class="forms_container">
                            <span class="column_name">固定电话</span><input type="text" class="content_input" id="tel" /> <span class="column_description"><span style="color:red;">*</span>必须为您的固定电话</span>
                        </div>
                        <div class="forms_container">
                            <span class="column_name">详细地址</span><input type="text" class="content_input" id="address"/> <span class="column_description"><span style="color:red;">*</span>必须为您的真实地址，我们保证<span style="color:red;">为您保密</span></span>
                        </div>
                        <div class="forms_container">
                            <a target='_blank' class="content_submit" onclick="save()">确认提交</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a target='_blank' href="#" id="message_start" class="big-link" data-reveal-id="myModal" style="display:none;">
        jquery1
    </a>

    <div id="myModal" class="reveal-modal" style="border: 1px solid #3b4f7c; ">
        <h1 style="font-family:'幼圆'" id="message_content">系统提示:</h1>
        <p id="message_text" style="font-family:'微软雅黑'">Attention please.</p>
        <a target='_blank' class="close-reveal-modal" id="message_close">&#215;</a>
    </div>
</body>
</html>
