@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>校长推荐页</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/chushihua.css" />
    <link rel="stylesheet" type="text/css" href="css/xueke9da.css">
    <link rel="stylesheet" href="css/lesson.css">
    <link rel="stylesheet" href="css/famousschool.css">
    <link rel="stylesheet" href="css/test_questions.css" />
    <link rel="stylesheet" href="css/list_of_principals.css" />
    <link rel="stylesheet" href="css/Principal_recommendation_page.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/President_Special_Column.js"></script>
    <style>
        .dkwidth {
            width: 150px;
        }

            .dkwidth:hover {
                font-size: 21px;
            }
    </style>
</head>
<body>
    @Html.Partial("~/Common/top3.ascx")
    <div class="xzgt">
        <div class="xzimg fl dkxzzl">
            <img id="president_headimg" alt="" style="width:210px;height:259px;" />
        </div>
        <div id="" class="xznrk fl">
            <b class="xzxm"></b>
            <img src="img/heshitb.png" alt="" class="heshi" />
            <b class="xznld" id="schooleName"></b>
            <p class="xzxxzl" id="president_introduce" style="display:block;height:100px;overflow-y:auto;overflow-x:hidden;"></p>
        </div>
    </div>

    <div class="lianxi">
        <div class="lianxice210 fl">
            <div class="lianxice33 rmxz333 hsttj">
                <a href="" class="xzgd1">更多》</a>
                <img src="img/kaojuankb.png" class="xztubiao" alt="">
                <b>校长专栏</b>
            </div>
            <div class="jiaoyubu dkjiaoyubu">
                <ul class="jybul dkjybul" id="president_special_columns"></ul>
            </div>

        </div>

        <div class="lianxice fl">
            <div id="" class="lansede">

            </div>
            <div class="lxclan1">
                <div class="zwjianyi">
                    <b class="zwjyb" id="news_title"></b>
                    <img src="img/wenhao.png" alt="" class="whwztj" />
                    <span id="news_time" class="xzshijian">
                    </span>
                </div>
                <div id="news_content">

                </div>
            </div>

        </div><!--校长列表-->
        <div style="clear: both;"></div>

    </div>
    @Html.Partial("~/Common/bottom.ascx")

</body>
</html>
